Repository meta-llama/llama-stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: distro-codegen, provider-codegen, openapi-codegen, forbid-pytest-asyncio, generate-ci-docs

distro-codegen:
  name: Distribution Template Codegen
  additional_dependencies:
  - uv==0.7.8
  entry: uv run --group codegen ./scripts/distro_codegen.py
  language: python
  pass_filenames: false
  require_serial: true

provider-codegen:
  name: Provider Codegen
  additional_dependencies:
  - uv==0.7.8
  entry: uv run --group codegen ./scripts/provider_codegen.py
  language: python
  pass_filenames: false
  require_serial: true

openapi-codegen:
  name: API Spec Codegen
  additional_dependencies:
  - uv==0.7.8
  entry: sh -c 'uv run ./docs/openapi_generator/run_openapi_generator.sh > /dev/null'
  language: python
  pass_filenames: false
  require_serial: true

forbid-pytest-asyncio:
  name: Block @pytest.mark.asyncio and @pytest_asyncio.fixture
  entry: bash
  language: system
  pass_filenames: true
  args:
  - -c
  ...

generate-ci-docs:
  name: Generate CI documentation
  additional_dependencies:
  - uv==0.7.8
  entry: uv run ./scripts/gen-ci-docs.py
  language: python
  pass_filenames: false
  require_serial: true

feat(ui): Adding Vector Store Files to Admin UI (#3041)
  llama_stack/ui/app/logs/vector-stores/[id]/files/[fileId]/contents/[contentId]/page.tsx
  llama_stack/ui/app/logs/vector-stores/[id]/files/[fileId]/contents/page.tsx
  llama_stack/ui/app/logs/vector-stores/[id]/files/[fileId]/page.tsx
  llama_stack/ui/app/logs/vector-stores/layout.tsx
  llama_stack/ui/app/logs/vector-stores/page.tsx
  llama_stack/ui/components/vector-stores/vector-store-detail.tsx
  llama_stack/ui/lib/contents-api.ts
  llama_stack/ui/package-lock.json
Due: none

Fix Dell distro and TGI inference
  llama_stack/distributions/dell/run.yaml
  llama_stack/providers/remote/inference/tgi/tgi.py
Due: provider-codegen, forbid-pytest-asyncio

simpl
  llama_stack/providers/utils/telemetry/tracing.py
Due: provider-codegen, forbid-pytest-asyncio

feat: implement query_metrics
  docs/_static/llama-stack-spec.html
  docs/_static/llama-stack-spec.yaml
  llama_stack/apis/telemetry/telemetry.py
  llama_stack/providers/inline/telemetry/meta_reference/telemetry.py
  llama_stack/providers/utils/telemetry/sqlite_trace_store.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

test: add integration tests for query_metrics
  tests/integration/recordings/index.sqlite
  tests/integration/recordings/responses/4a3a4447b16b.json
  tests/integration/recordings/responses/4de6877d86fa.json
  tests/integration/recordings/responses/5db0c44c83a4.json
  tests/integration/recordings/responses/c31a86ea6c58.json
  tests/integration/recordings/responses/d0ac68cbde69.json
  tests/integration/recordings/responses/f6857bcea729.json
  tests/integration/recordings/responses/f80b99430f7e.json
  tests/integration/telemetry/test_telemetry_metrics.py
Due: forbid-pytest-asyncio

fix: telemetry logger spams when queue is full (#3070)
  llama_stack/providers/utils/telemetry/tracing.py
Due: provider-codegen, forbid-pytest-asyncio

feat: Flash-Lite 2.0 and 2.5 models added to Gemini inference provider (#3058)
  llama_stack/providers/remote/inference/gemini/models.py
Due: distro-codegen, provider-codegen, forbid-pytest-asyncio

docs: update configuration documentation for global default embedding model
  docs/source/distributions/configuration.md
  llama_stack/apis/common/vector_store_config.py
Due: openapi-codegen, forbid-pytest-asyncio

fix: update import path from distribution to core after upstream migration
  tests/unit/router/test_embedding_precedence.py
Due: forbid-pytest-asyncio

Replace MissingEmbeddingModelError with IBM Granite default
  docs/source/distributions/configuration.md
  llama_stack/apis/common/vector_store_config.py
  llama_stack/core/routers/vector_io.py
  tests/unit/router/test_embedding_precedence.py
Due: openapi-codegen, forbid-pytest-asyncio

feat(vector-io): implement global default embedding model configuration (Issue #2729)
  tests/integration/conftest.py
Due: forbid-pytest-asyncio

Change default embedding model to all-MiniLM-L6-v2
  docs/source/distributions/configuration.md
  llama_stack/core/routers/vector_io.py
Due: forbid-pytest-asyncio

fix(tests): remove @pytest.mark.asyncio decorators from unit tests
  tests/unit/router/test_embedding_precedence.py
Due: forbid-pytest-asyncio

Address review comments for global vector store configuration
  docs/source/distributions/configuration.md
  llama_stack/apis/common/vector_store_config.py
  llama_stack/core/routers/vector_io.py
  tests/unit/router/test_embedding_precedence.py
Due: openapi-codegen, forbid-pytest-asyncio

feat(vector-io): implement global default embedding model configuration (Issue #2729)
  docs/source/distributions/configuration.md
  llama_stack/apis/common/vector_store_config.py
  llama_stack/core/datatypes.py
  llama_stack/core/routers/vector_io.py
  llama_stack/distributions/watsonx/build.yaml
  tests/unit/common/test_vector_store_config.py
  tests/unit/router/test_embedding_precedence.py
Due: openapi-codegen, forbid-pytest-asyncio

Replace MissingEmbeddingModelError with IBM Granite default
  llama_stack/apis/common/vector_store_config.py
  llama_stack/core/routers/vector_io.py
  tests/unit/common/test_vector_store_config.py
  tests/unit/router/test_embedding_precedence.py
Due: openapi-codegen, forbid-pytest-asyncio

doc: Update doc on search modes for Milvus
  docs/source/providers/vector_io/remote_milvus.md
  llama_stack/providers/registry/vector_io.py
Due: provider-codegen, forbid-pytest-asyncio

updated action to set OLLAMA_URL during replay mode
  .github/actions/setup-test-environment/action.yml
Due: none

chore: Adding GitHub Stars, trends, and contributor shout out to README
  README.md
Due: none

feat(vector-io): add OpenGauss vector database provider
  docs/source/providers/vector_io/index.md
  docs/source/providers/vector_io/remote_opengauss.md
  llama_stack/providers/registry/vector_io.py
  llama_stack/providers/remote/vector_io/opengauss/__init__.py
  llama_stack/providers/remote/vector_io/opengauss/config.py
  llama_stack/providers/remote/vector_io/opengauss/opengauss.py
  llama_stack/templates/opengauss-demo/__init__.py
  llama_stack/templates/opengauss-demo/build.yaml
  llama_stack/templates/opengauss-demo/run.yaml
  tests/unit/providers/vector_io/test_opengauss.py
Due: distro-codegen, provider-codegen, forbid-pytest-asyncio

chore: Updating UI to look more like the other one
  llama_stack/ui/app/chat-playground/page.tsx
  llama_stack/ui/components/layout/app-sidebar.tsx
Due: none

feat: Add Google Vertex AI inference provider support
  docs/source/providers/inference/index.md
  docs/source/providers/inference/remote_vertexai.md
  llama_stack/distributions/ci-tests/build.yaml
  llama_stack/distributions/ci-tests/run.yaml
  llama_stack/distributions/starter/build.yaml
  llama_stack/distributions/starter/run.yaml
  llama_stack/distributions/starter/starter.py
  llama_stack/providers/registry/inference.py
  llama_stack/providers/remote/inference/vertexai/__init__.py
  llama_stack/providers/remote/inference/vertexai/config.py
  llama_stack/providers/remote/inference/vertexai/models.py
  llama_stack/providers/remote/inference/vertexai/vertexai.py
  tests/integration/inference/test_openai_completion.py
  tests/integration/inference/test_text_inference.py
Due: distro-codegen, provider-codegen, forbid-pytest-asyncio

fix(dep): update to openai >= 1.99.6 and use new Function location
  llama_stack/providers/utils/inference/openai_compat.py
  pyproject.toml
  uv.lock
Due: provider-codegen, forbid-pytest-asyncio

doc: Add unsupported search mode info about FAISS
  docs/source/providers/vector_io/inline_faiss.md
  llama_stack/providers/inline/vector_io/faiss/faiss.py
  llama_stack/providers/registry/vector_io.py
Due: provider-codegen, forbid-pytest-asyncio

docs: Update doc on search modes for Milvus (#3078)
  docs/source/providers/vector_io/remote_milvus.md
  llama_stack/providers/registry/vector_io.py
Due: provider-codegen, forbid-pytest-asyncio

docs: Add unsupported search mode info about FAISS (#3089)
  docs/source/providers/vector_io/inline_faiss.md
  llama_stack/providers/inline/vector_io/faiss/faiss.py
  llama_stack/providers/registry/vector_io.py
Due: provider-codegen, forbid-pytest-asyncio

chore: Adding GitHub Stars, trends, and contributor shout out to README (#3079)
  README.md
Due: none

chore: remove redundant code in unregister_toolgroup
  llama_stack/core/routing_tables/toolgroups.py
Due: forbid-pytest-asyncio

feat: Add Google Vertex AI inference provider support (#2841)
  docs/source/providers/inference/index.md
  docs/source/providers/inference/remote_vertexai.md
  llama_stack/distributions/ci-tests/build.yaml
  llama_stack/distributions/ci-tests/run.yaml
  llama_stack/distributions/starter/build.yaml
  llama_stack/distributions/starter/run.yaml
  llama_stack/distributions/starter/starter.py
  llama_stack/providers/registry/inference.py
  llama_stack/providers/remote/inference/vertexai/__init__.py
  llama_stack/providers/remote/inference/vertexai/config.py
  llama_stack/providers/remote/inference/vertexai/models.py
  llama_stack/providers/remote/inference/vertexai/vertexai.py
  tests/integration/inference/test_openai_completion.py
  tests/integration/inference/test_text_inference.py
Due: distro-codegen, provider-codegen, forbid-pytest-asyncio

chore: remove redundant code in unregister_toolgroup (#3092)
  llama_stack/core/routing_tables/toolgroups.py
Due: forbid-pytest-asyncio

chore: Updating UI Sidebar (#3081)
  llama_stack/ui/app/chat-playground/page.tsx
  llama_stack/ui/components/layout/app-sidebar.tsx
Due: none

docs: Add documentation on how to contribute a Vector DB provider and updated Test documentation and added a shortcut
  README.md
  docs/_static/js/keyboard_shortcuts.js
  docs/source/conf.py
  docs/source/contributing/index.md
  docs/source/contributing/new_vector_database.md
  docs/source/contributing/testing.md
  docs/source/providers/inference/index.md
  docs/source/providers/inference/remote_vertexai.md
  docs/source/providers/vector_io/inline_faiss.md
  docs/source/providers/vector_io/remote_milvus.md
  llama_stack/core/routing_tables/toolgroups.py
  llama_stack/distributions/ci-tests/build.yaml
  llama_stack/distributions/ci-tests/run.yaml
  llama_stack/distributions/starter/build.yaml
  llama_stack/distributions/starter/run.yaml
  llama_stack/distributions/starter/starter.py
  llama_stack/providers/inline/vector_io/faiss/faiss.py
  llama_stack/providers/registry/inference.py
  llama_stack/providers/registry/vector_io.py
  llama_stack/providers/remote/inference/vertexai/__init__.py
  llama_stack/providers/remote/inference/vertexai/config.py
  llama_stack/providers/remote/inference/vertexai/models.py
  llama_stack/providers/remote/inference/vertexai/vertexai.py
  tests/integration/inference/test_openai_completion.py
  tests/integration/inference/test_text_inference.py
Due: distro-codegen, provider-codegen, forbid-pytest-asyncio

chore: add mypy prompt guard
  llama_stack/providers/inline/safety/prompt_guard/prompt_guard.py
  pyproject.toml
Due: provider-codegen, forbid-pytest-asyncio

chore: add `mypy` prompt guard (#2678)
  llama_stack/providers/inline/safety/prompt_guard/prompt_guard.py
  pyproject.toml
Due: provider-codegen, forbid-pytest-asyncio

chore(logging)!: use comma as a delimiter
  llama_stack/log.py
Due: forbid-pytest-asyncio

docs: Add documentation on how to contribute a Vector DB provider and update testing documentation (#3093)
  docs/_static/js/keyboard_shortcuts.js
  docs/source/conf.py
  docs/source/contributing/index.md
  docs/source/contributing/new_vector_database.md
  docs/source/contributing/testing.md
Due: forbid-pytest-asyncio

chore(logging)!: use comma as a delimiter (#3095)
  llama_stack/log.py
Due: forbid-pytest-asyncio

refactor(agents): migrate to OpenAI chat completions API
  llama_stack/providers/inline/agents/meta_reference/agent_instance.py
Due: provider-codegen, forbid-pytest-asyncio

openai mock server, Split of "k8s bench, locust"
  docs/source/distributions/k8s-benchmark/apply.sh
  docs/source/distributions/k8s-benchmark/locust-k8s.yaml
  docs/source/distributions/k8s-benchmark/locustfile.py
  docs/source/distributions/k8s-benchmark/openai-mock-deployment.yaml
  docs/source/distributions/k8s-benchmark/openai-mock-server.py
  docs/source/distributions/k8s-benchmark/stack-configmap.yaml
  docs/source/distributions/k8s-benchmark/stack-k8s.yaml.template
  docs/source/distributions/k8s-benchmark/stack_run_config.yaml
  pyproject.toml
  uv.lock
Due: forbid-pytest-asyncio

Path conditions:
  distro-codegen: any of: ^llama_stack/templates/.*$|^llama_stack/providers/.*/inference/.*/models\.py$, but not: build/
  provider-codegen: any of: ^llama_stack/providers/.*$, but not: build/
  openapi-codegen: any of: ^llama_stack/apis/|^docs/openapi_generator/, but not: build/
  forbid-pytest-asyncio: any of: \.py$, but not: build/
  generate-ci-docs: any of: ^.github/workflows/.*$, but not: build/
