Repository meta-llama/llama-stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: distro-codegen, provider-codegen, openapi-codegen, forbid-pytest-asyncio, generate-ci-docs

distro-codegen:
  name: Distribution Template Codegen
  additional_dependencies:
  - uv==0.7.8
  entry: uv run --group codegen ./scripts/distro_codegen.py
  language: python
  pass_filenames: false
  require_serial: true

provider-codegen:
  name: Provider Codegen
  additional_dependencies:
  - uv==0.7.8
  entry: uv run --group codegen ./scripts/provider_codegen.py
  language: python
  pass_filenames: false
  require_serial: true

openapi-codegen:
  name: API Spec Codegen
  additional_dependencies:
  - uv==0.7.8
  entry: sh -c 'uv run ./docs/openapi_generator/run_openapi_generator.sh > /dev/null'
  language: python
  pass_filenames: false
  require_serial: true

forbid-pytest-asyncio:
  name: Block @pytest.mark.asyncio and @pytest_asyncio.fixture
  entry: bash
  language: system
  pass_filenames: true
  args:
  - -c
  ...

generate-ci-docs:
  name: Generate CI documentation
  additional_dependencies:
  - uv==0.7.8
  entry: uv run ./scripts/gen-ci-docs.py
  language: python
  pass_filenames: false
  require_serial: true

Use `pool_pre_ping=True` in SQLAlchemy engine creation
  llama_stack/providers/utils/sqlstore/sqlalchemy_sqlstore.py
Due: provider-codegen, forbid-pytest-asyncio

consolidate ResourceNotFoundError sites, fix plurality
  llama_stack/providers/inline/files/localfs/files.py
Due: provider-codegen, forbid-pytest-asyncio

fix: fix ```openai_embeddings``` for asymmetric embedding NIMs (#3205)
  llama_stack/providers/remote/inference/nvidia/NVIDIA.md
  llama_stack/providers/remote/inference/nvidia/nvidia.py
Due: provider-codegen, forbid-pytest-asyncio

use OpenAIMessageParam for OpenAI message compatibility
  llama_stack/providers/inline/agents/meta_reference/agent_instance.py
  llama_stack/providers/utils/inference/openai_compat.py
Due: provider-codegen, forbid-pytest-asyncio

fix(openai_responses): OpenAIResponsesObject is not complete
  llama_stack/apis/agents/openai_responses.py
  llama_stack/apis/tools/openai_tool_choice.py
  llama_stack/strong_typing/schema.py
Due: openapi-codegen, forbid-pytest-asyncio

use None instead of locals()
  tests/integration/files/test_files.py
Due: forbid-pytest-asyncio

fix: Fix broken package-lock.json
  llama_stack/ui/package-lock.json
Due: none

delete file if underlying goes missing
  llama_stack/providers/inline/files/localfs/files.py
Due: provider-codegen, forbid-pytest-asyncio

Added llama stack-langChain integration example scripts
  docs/notebooks/langChain/README.md
  docs/notebooks/langChain/langchain_llamastack.py
  docs/notebooks/langChain/langchain_llamastack_ray.py
Due: forbid-pytest-asyncio

update xfail message
  tests/integration/files/test_files.py
Due: forbid-pytest-asyncio

chore(files tests): update files integration tests and fix inline::localfs (#3195)
  llama_stack/providers/inline/files/localfs/files.py
  tests/integration/files/test_files.py
  tests/integration/fixtures/common.py
  tests/unit/files/test_files.py
Due: provider-codegen, forbid-pytest-asyncio

feat: Add S3 Files Provider implementation
  docs/source/providers/files/index.md
  docs/source/providers/files/remote_s3.md
  llama_stack/providers/registry/files.py
  llama_stack/providers/remote/files/s3/README.md
  llama_stack/providers/remote/files/s3/__init__.py
  llama_stack/providers/remote/files/s3/config.py
  llama_stack/providers/remote/files/s3/files.py
  pyproject.toml
  scripts/provider_codegen.py
  tests/unit/providers/files/test_s3_files.py
  uv.lock
Due: provider-codegen, forbid-pytest-asyncio

fix: Fix broken package-lock.json (#3209)
  llama_stack/ui/package-lock.json
Due: none

chore: Update dependabot to capture pacakage-lock.json
  .github/dependabot.yml
Due: none

feat: group deps by provider
  llama_stack/cli/stack/_build.py
  llama_stack/core/build.py
  llama_stack/core/build_container.sh
  llama_stack/core/build_venv.sh
Due: forbid-pytest-asyncio

fix: Use `pool_pre_ping=True` in SQLAlchemy engine creation (#3208)
  llama_stack/providers/utils/sqlstore/sqlalchemy_sqlstore.py
Due: provider-codegen, forbid-pytest-asyncio

fix: handle mcp tool calls in previous response correctly (#3155)
  llama_stack/providers/inline/agents/meta_reference/responses/utils.py
  tests/integration/non_ci/responses/test_basic_responses.py
  tests/integration/non_ci/responses/test_tool_responses.py
  tests/unit/providers/agents/meta_reference/test_openai_responses.py
Due: provider-codegen, forbid-pytest-asyncio

chore: Update dependabot to capture package-lock.json (#3212)
  .github/dependabot.yml
Due: none

fix(responses): type aliasing not supported for pydantic code generation and discrimintated unions
  docs/_static/llama-stack-spec.html
  docs/_static/llama-stack-spec.yaml
  llama_stack/apis/agents/openai_responses.py
  llama_stack/apis/tools/openai_tool_choice.py
  llama_stack/strong_typing/schema.py
Due: openapi-codegen, forbid-pytest-asyncio

fix(ci): dependabot update had a bug
  .github/dependabot.yml
Due: none

Fix embedding test case
  tests/integration/inference/test_embedding.py
Due: forbid-pytest-asyncio

update
  llama_stack/providers/remote/inference/nvidia/nvidia.py
  tests/integration/inference/test_embedding.py
Due: provider-codegen, forbid-pytest-asyncio

Add CORS configuration support for FastAPI server
  docs/source/distributions/configuration.md
  llama_stack/core/datatypes.py
  tests/unit/server/test_cors.py
Due: forbid-pytest-asyncio

Add CORS configuration support for FastAPI server
  docs/source/distributions/configuration.md
  llama_stack/core/datatypes.py
  llama_stack/core/server/server.py
  tests/unit/server/test_cors.py
Due: forbid-pytest-asyncio

Renamed and addressed PR comments
  llama_stack/core/datatypes.py
  tests/unit/server/test_cors.py
Due: forbid-pytest-asyncio

fix: ensure assistant message is followed by tool call message as expected by openai
  llama_stack/providers/inline/agents/meta_reference/responses/utils.py
  tests/integration/non_ci/responses/test_tool_responses.py
  tests/unit/providers/agents/meta_reference/test_response_conversion_utils.py
Due: provider-codegen, forbid-pytest-asyncio

doc update for NVIDIA Inference provider
  llama_stack/providers/remote/inference/nvidia/NVIDIA.md
  llama_stack/providers/remote/safety/nvidia/nvidia.py
Due: provider-codegen, forbid-pytest-asyncio

remove docstring from s3 test file
  tests/unit/providers/files/test_s3_files.py
Due: forbid-pytest-asyncio

move moto to unit group
  pyproject.toml
  uv.lock
Due: none

create metadata before uploading file
  llama_stack/providers/remote/files/s3/files.py
Due: provider-codegen, forbid-pytest-asyncio

clear metadata on upload failure
  llama_stack/providers/remote/files/s3/files.py
  tests/unit/providers/files/test_s3_files.py
Due: provider-codegen, forbid-pytest-asyncio

remove file on failed download
  llama_stack/providers/remote/files/s3/files.py
  tests/unit/providers/files/test_s3_files.py
Due: provider-codegen, forbid-pytest-asyncio

demo
  docs/source/distributions/k8s/apply.sh
  docs/source/distributions/k8s/stack-k8s.yaml.template
  docs/source/distributions/k8s/ui-k8s.yaml.template
  docs/source/distributions/k8s/vllm-k8s.yaml.template
Due: none

feat: Add CORS configuration support for server (#3201)
  docs/source/distributions/configuration.md
  llama_stack/core/datatypes.py
  llama_stack/core/server/server.py
  tests/unit/server/test_cors.py
Due: forbid-pytest-asyncio

fix(test): update LlamaStackAsLibraryClient initialization tests after removing initialize method
  llama_stack/core/library_client.py
  tests/integration/fixtures/common.py
  tests/integration/non_ci/responses/fixtures/fixtures.py
  tests/unit/distribution/test_library_client_initialization.py
Due: forbid-pytest-asyncio

refactor(client): remove initialize() Method from LlamaStackAsLibrary
  docs/source/distributions/importing_as_library.md
  llama_stack/core/library_client.py
  tests/integration/fixtures/common.py
  tests/integration/non_ci/responses/fixtures/fixtures.py
  tests/unit/distribution/test_library_client_initialization.py
Due: forbid-pytest-asyncio

feat: Remove initialize() Method from LlamaStackAsLibrary (#2979)
  docs/source/distributions/importing_as_library.md
  llama_stack/core/library_client.py
  tests/integration/fixtures/common.py
  tests/integration/non_ci/responses/fixtures/fixtures.py
  tests/unit/distribution/test_library_client_initialization.py
Due: forbid-pytest-asyncio

docs: update the docs for NVIDIA Inference provider (#3227)
  llama_stack/providers/remote/inference/nvidia/NVIDIA.md
  llama_stack/providers/remote/safety/nvidia/nvidia.py
Due: provider-codegen, forbid-pytest-asyncio

fix(ci): make all CI workflows have the correct concurrency defn
  .github/workflows/integration-auth-tests.yml
  .github/workflows/integration-sql-store-tests.yml
  .github/workflows/pre-commit.yml
  .github/workflows/providers-build.yml
  .github/workflows/ui-unit-tests.yml
  .github/workflows/unit-tests.yml
  .github/workflows/update-readthedocs.yml
Due: generate-ci-docs

Path conditions:
  distro-codegen: any of: ^llama_stack/templates/.*$|^llama_stack/providers/.*/inference/.*/models\.py$, but not: build/
  provider-codegen: any of: ^llama_stack/providers/.*$, but not: build/
  openapi-codegen: any of: ^llama_stack/apis/|^docs/openapi_generator/, but not: build/
  forbid-pytest-asyncio: any of: \.py$, but not: build/
  generate-ci-docs: any of: ^.github/workflows/.*$, but not: build/
