Repository meta-llama/llama-stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: distro-codegen, provider-codegen, openapi-codegen, forbid-pytest-asyncio, generate-ci-docs

Path conditions:
  distro-codegen: any of: ^llama_stack/templates/.*$|^llama_stack/providers/.*/inference/.*/models\.py$, but not: build/
  provider-codegen: any of: ^llama_stack/providers/.*$, but not: build/
  openapi-codegen: any of: ^llama_stack/apis/|^docs/openapi_generator/, but not: build/
  forbid-pytest-asyncio: any of: \.py$, but not: build/
  generate-ci-docs: any of: ^.github/workflows/.*$, but not: build/

feat(UI): Adding linter and prettier for UI
  .pre-commit-config.yaml
  llama_stack/ui/.prettierignore
  llama_stack/ui/.prettierrc
  llama_stack/ui/eslint.config.mjs
Due: none

fixed linter for nvm
  llama_stack/ui/.nvmrc
Due: none

fixing linter
  llama_stack/ui/app/logs/vector-stores/[id]/files/[fileId]/contents/[contentId]/page.tsx
  llama_stack/ui/app/logs/vector-stores/[id]/files/[fileId]/contents/page.tsx
  llama_stack/ui/app/logs/vector-stores/[id]/page.tsx
  llama_stack/ui/app/logs/vector-stores/page.tsx
  llama_stack/ui/components/chat-completions/chat-completion-detail.tsx
  llama_stack/ui/components/chat-completions/chat-completions-table.tsx
  llama_stack/ui/components/chat-completions/chat-messasge-item.tsx
  llama_stack/ui/components/chat-playground/chat-message.tsx
  llama_stack/ui/components/chat-playground/chat.tsx
  llama_stack/ui/components/chat-playground/markdown-renderer.tsx
  llama_stack/ui/components/chat-playground/message-input.tsx
  llama_stack/ui/components/layout/detail-layout.tsx
  llama_stack/ui/components/responses/items/item-renderer.tsx
  llama_stack/ui/components/responses/responses-detail.test.tsx
  llama_stack/ui/components/responses/responses-table.test.tsx
  llama_stack/ui/components/responses/responses-table.tsx
  llama_stack/ui/components/responses/utils/item-types.ts
  llama_stack/ui/lib/contents-api.ts
  llama_stack/ui/lib/format-message-content.test.ts
  llama_stack/ui/lib/format-tool-call.tsx
Due: none

feat(api): introduce /rerank
  docs/_static/llama-stack-spec.html
  docs/_static/llama-stack-spec.yaml
  llama_stack/apis/inference/inference.py
  llama_stack/providers/inline/inference/meta_reference/inference.py
  llama_stack/providers/inline/inference/sentence_transformers/sentence_transformers.py
  llama_stack/providers/remote/inference/llama_openai_compat/llama.py
  llama_stack/providers/remote/inference/ollama/ollama.py
  llama_stack/providers/remote/inference/vllm/vllm.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

chore(responses): Refactor Responses Impl to be civilized (#3138)
  docs/source/distributions/k8s-benchmark/openai-mock-server.py
  llama_stack/providers/inline/agents/meta_reference/agents.py
  llama_stack/providers/inline/agents/meta_reference/openai_responses.py
  llama_stack/providers/inline/agents/meta_reference/responses/__init__.py
  llama_stack/providers/inline/agents/meta_reference/responses/openai_responses.py
  llama_stack/providers/inline/agents/meta_reference/responses/streaming.py
  llama_stack/providers/inline/agents/meta_reference/responses/tool_executor.py
  llama_stack/providers/inline/agents/meta_reference/responses/types.py
  llama_stack/providers/inline/agents/meta_reference/responses/utils.py
  tests/unit/providers/agents/meta_reference/test_openai_responses.py
Due: provider-codegen, forbid-pytest-asyncio

refactor(tests): make the responses tests nicer (#3161)
  tests/integration/non_ci/responses/fixtures/fixtures.py
  tests/integration/non_ci/responses/fixtures/load.py
  tests/integration/non_ci/responses/fixtures/test_cases.py
  tests/integration/non_ci/responses/fixtures/test_cases/chat_completion.yaml
  tests/integration/non_ci/responses/fixtures/test_cases/responses.yaml
  tests/integration/non_ci/responses/helpers.py
  tests/integration/non_ci/responses/streaming_assertions.py
  tests/integration/non_ci/responses/test_basic_responses.py
  tests/integration/non_ci/responses/test_file_search.py
  tests/integration/non_ci/responses/test_responses.py
  tests/integration/non_ci/responses/test_tool_responses.py
Due: forbid-pytest-asyncio

refactor(responses): move stuff into some utils and add unit tests (#3158)
  llama_stack/providers/inline/agents/meta_reference/responses/openai_responses.py
  llama_stack/providers/inline/agents/meta_reference/responses/utils.py
  tests/unit/providers/agents/meta_reference/test_response_conversion_utils.py
Due: provider-codegen, forbid-pytest-asyncio

feat(responses): add mcp list tool streaming event (#3159)
  llama_stack/providers/inline/agents/meta_reference/responses/openai_responses.py
  llama_stack/providers/inline/agents/meta_reference/responses/streaming.py
  llama_stack/providers/inline/agents/meta_reference/responses/tool_executor.py
  llama_stack/providers/inline/agents/meta_reference/responses/types.py
  tests/integration/non_ci/responses/test_responses.py
Due: provider-codegen, forbid-pytest-asyncio

fix(tests): record missing tests for test_responses_store (#3163)
  tests/integration/recordings/index.sqlite
  tests/integration/recordings/responses/4a3a4447b16b.json
  tests/integration/recordings/responses/6fe1d4fedf12.json
  tests/integration/recordings/responses/d0ac68cbde69.json
  tests/integration/recordings/responses/decfd950646c.json
Due: none

fix(ci): make the Vector IO CI follow the same pattern as others
  .github/workflows/integration-vector-io-tests.yml
Due: generate-ci-docs

fix(ci): make the Vector IO CI follow the same pattern as others (#3164)
  .github/workflows/integration-vector-io-tests.yml
Due: generate-ci-docs

test: improve generic type handling in response deserialization
  llama_stack/testing/inference_recorder.py
Due: forbid-pytest-asyncio

ci: integrate vLLM inference tests with GitHub Actions workflows
  .github/actions/run-and-record-tests/action.yml
  .github/workflows/integration-tests.yml
  .github/workflows/record-integration-tests.yml
Due: generate-ci-docs

skip tests
  tests/integration/safety/test_safety.py
Due: forbid-pytest-asyncio

update run.yaml
  llama_stack/distributions/starter/run.yaml
  tests/integration/safety/test_safety.py
Due: forbid-pytest-asyncio

feat: Moderation api for Code Scanner Provider
  llama_stack/distributions/starter/run.yaml
  llama_stack/providers/inline/safety/code_scanner/code_scanner.py
  tests/integration/safety/test_safety.py
Due: provider-codegen, forbid-pytest-asyncio

update starter file
  llama_stack/core/routers/safety.py
  llama_stack/distributions/ci-tests/build.yaml
  llama_stack/distributions/ci-tests/run.yaml
  llama_stack/distributions/starter/build.yaml
  llama_stack/distributions/starter/run.yaml
  llama_stack/distributions/starter/starter.py
  llama_stack/providers/inline/safety/code_scanner/code_scanner.py
  tests/integration/safety/test_safety.py
Due: provider-codegen, forbid-pytest-asyncio

cleanup
  tests/integration/safety/test_safety.py
Due: forbid-pytest-asyncio

minor change
  llama_stack/distributions/starter/run.yaml
Due: none

remove unwanted
  llama_stack/providers/inline/safety/code_scanner/code_scanner.py
  llama_stack/providers/inline/safety/llama_guard/llama_guard.py
Due: provider-codegen, forbid-pytest-asyncio

clean up
  tests/integration/safety/test_safety.py
Due: forbid-pytest-asyncio

minor change
  llama_stack/providers/inline/safety/llama_guard/llama_guard.py
  tests/integration/safety/test_safety.py
Due: provider-codegen, forbid-pytest-asyncio

unskip tests
  llama_stack/distributions/starter/run.yaml
  tests/integration/safety/test_safety.py
Due: forbid-pytest-asyncio

error handling for scan result failure
  llama_stack/providers/inline/safety/code_scanner/code_scanner.py
  tests/integration/safety/test_safety.py
Due: provider-codegen, forbid-pytest-asyncio

update run.yaml
  llama_stack/distributions/starter/run.yaml
Due: none

minor change
  tests/integration/safety/test_safety.py
Due: forbid-pytest-asyncio

minor change
  llama_stack/providers/inline/safety/code_scanner/code_scanner.py
Due: provider-codegen, forbid-pytest-asyncio

docs(tests): Add a bunch of documentation for our testing systems (#3139)
  docs/source/contributing/index.md
  docs/source/contributing/testing.md
  docs/source/contributing/testing/record-replay.md
  tests/README.md
  tests/integration/README.md
Due: none

refactor(agents): migrate to OpenAI chat completions API (#3097)
  llama_stack/providers/inline/agents/meta_reference/agent_instance.py
Due: provider-codegen, forbid-pytest-asyncio

benchmark, local test, ttft, duration
  docs/source/contributing/index.md
  docs/source/distributions/k8s-benchmark/README.md
  docs/source/distributions/k8s-benchmark/apply.sh
  docs/source/distributions/k8s-benchmark/benchmark.py
  docs/source/distributions/k8s-benchmark/locust-k8s.yaml
  docs/source/distributions/k8s-benchmark/locustfile.py
  docs/source/distributions/k8s-benchmark/openai-mock-deployment.yaml
  docs/source/distributions/k8s-benchmark/openai-mock-server.py
  docs/source/distributions/k8s-benchmark/profile_running_server.sh
  docs/source/distributions/k8s-benchmark/run-benchmark.sh
  docs/source/distributions/k8s-benchmark/stack-configmap.yaml
  docs/source/distributions/k8s-benchmark/stack-k8s.yaml.template
  docs/source/distributions/k8s-benchmark/stack_run_config.yaml
Due: forbid-pytest-asyncio

test: benchmark scripts (#3160)
  docs/source/contributing/index.md
  docs/source/distributions/k8s-benchmark/README.md
  docs/source/distributions/k8s-benchmark/apply.sh
  docs/source/distributions/k8s-benchmark/benchmark.py
  docs/source/distributions/k8s-benchmark/locust-k8s.yaml
  docs/source/distributions/k8s-benchmark/locustfile.py
  docs/source/distributions/k8s-benchmark/openai-mock-deployment.yaml
  docs/source/distributions/k8s-benchmark/openai-mock-server.py
  docs/source/distributions/k8s-benchmark/profile_running_server.sh
  docs/source/distributions/k8s-benchmark/run-benchmark.sh
  docs/source/distributions/k8s-benchmark/stack-configmap.yaml
  docs/source/distributions/k8s-benchmark/stack-k8s.yaml.template
  docs/source/distributions/k8s-benchmark/stack_run_config.yaml
Due: forbid-pytest-asyncio

Revert "refactor(agents): migrate to OpenAI chat completions API (#3097)"
  llama_stack/providers/inline/agents/meta_reference/agent_instance.py
Due: provider-codegen, forbid-pytest-asyncio

Revert "refactor(agents): migrate to OpenAI chat completions API" (#3167)
  llama_stack/providers/inline/agents/meta_reference/agent_instance.py
Due: provider-codegen, forbid-pytest-asyncio

feat(ci): make recording workflow simpler, more parameterizable
  .github/actions/run-and-record-tests/action.yml
  .github/workflows/integration-tests.yml
  .github/workflows/record-integration-tests.yml
  scripts/integration-tests.sh
Due: generate-ci-docs

fix: handle mcp tool calls in previous response correctly
  llama_stack/providers/inline/agents/meta_reference/responses/utils.py
  tests/integration/non_ci/responses/test_basic_responses.py
  tests/integration/non_ci/responses/test_tool_responses.py
  tests/unit/providers/agents/meta_reference/test_openai_responses.py
Due: provider-codegen, forbid-pytest-asyncio

fixes
  .github/workflows/record-integration-tests.yml
  scripts/integration-tests.sh
Due: generate-ci-docs

exit after vision tests
  scripts/integration-tests.sh
Due: none

fix
  .github/actions/run-and-record-tests/action.yml
  .github/workflows/record-integration-tests.yml
Due: generate-ci-docs
