Repository meta-llama/llama-stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: distro-codegen, provider-codegen, openapi-codegen, forbid-pytest-asyncio, generate-ci-docs

distro-codegen:
  name: Distribution Template Codegen
  additional_dependencies:
  - uv==0.7.8
  entry: uv run --group codegen ./scripts/distro_codegen.py
  language: python
  pass_filenames: false
  require_serial: true

provider-codegen:
  name: Provider Codegen
  additional_dependencies:
  - uv==0.7.8
  entry: uv run --group codegen ./scripts/provider_codegen.py
  language: python
  pass_filenames: false
  require_serial: true

openapi-codegen:
  name: API Spec Codegen
  additional_dependencies:
  - uv==0.7.8
  entry: sh -c 'uv run ./docs/openapi_generator/run_openapi_generator.sh > /dev/null'
  language: python
  pass_filenames: false
  require_serial: true

forbid-pytest-asyncio:
  name: Block @pytest.mark.asyncio and @pytest_asyncio.fixture
  entry: bash
  language: system
  pass_filenames: true
  args:
  - -c
  ...

generate-ci-docs:
  name: Generate CI documentation
  additional_dependencies:
  - uv==0.7.8
  entry: uv run ./scripts/gen-ci-docs.py
  language: python
  pass_filenames: false
  require_serial: true

feat(testing): remove SQLite dependency from inference recorder
  llama_stack/testing/inference_recorder.py
  tests/integration/recordings/index.sqlite
  tests/unit/distribution/test_inference_recordings.py
Due: forbid-pytest-asyncio

chore: standardize unsupported database error
  llama_stack/apis/common/errors.py
  llama_stack/providers/utils/sqlstore/authorized_sqlstore.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

chore: standardize missing training config error
  llama_stack/apis/common/errors.py
  llama_stack/providers/inline/post_training/huggingface/recipes/finetune_single_device.py
  llama_stack/providers/inline/post_training/huggingface/recipes/finetune_single_device_dpo.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

feat(testing): remove SQLite dependency from inference recorder (#3254)
  llama_stack/testing/inference_recorder.py
  tests/integration/recordings/index.sqlite
  tests/unit/distribution/test_inference_recordings.py
Due: forbid-pytest-asyncio

test: generate unique chat completion IDs for replayed responses
  llama_stack/testing/inference_recorder.py
Due: forbid-pytest-asyncio

test: add models.list() recording/replay support
  llama_stack/testing/inference_recorder.py
Due: forbid-pytest-asyncio

ci: integrate vLLM inference tests with GitHub Actions workflows
  .github/actions/run-and-record-tests/action.yml
  .github/workflows/integration-tests.yml
  scripts/integration-tests.sh
Due: generate-ci-docs

feat: Add example notebook for Langchain + LLAMAStack integration (#3228)
  docs/notebooks/langchain/Llama_Stack_LangChain.ipynb
Due: none

test(responses): responses API Response object unit tests
  tests/unit/apis/responses/test_tools.py
  tests/unit/openapi_typing/test_schema_literals.py
  tests/unit/providers/agents/meta_reference/test_openai_responses.py
Due: forbid-pytest-asyncio

feat(distro): no huggingface provider for starter
  llama_stack/distributions/ci-tests/build.yaml
  llama_stack/distributions/ci-tests/run.yaml
  llama_stack/distributions/starter-gpu/build.yaml
  llama_stack/distributions/starter-gpu/run.yaml
  llama_stack/distributions/starter-gpu/starter_gpu.py
  llama_stack/distributions/starter/build.yaml
  llama_stack/distributions/starter/run.yaml
  llama_stack/distributions/starter/starter.py
  llama_stack/providers/registry/post_training.py
Due: provider-codegen, forbid-pytest-asyncio

sentence transformers had a subtle dep on torchao
  docs/source/providers/post_training/index.md
  llama_stack/providers/registry/inference.py
Due: provider-codegen, forbid-pytest-asyncio

Revert "feat: Add example notebook for Langchain + LLAMAStack integration (#3228)"
  docs/notebooks/langchain/Llama_Stack_LangChain.ipynb
Due: none

chore: Add example notebook for Langchain + LLAMAStack integration (#3228) (#3259)
  docs/notebooks/langchain/Llama_Stack_LangChain.ipynb
Due: none

try upgrading torchao / torchtune deps
  llama_stack/providers/registry/inference.py
  llama_stack/providers/registry/post_training.py
Due: provider-codegen, forbid-pytest-asyncio

use extra-index instead of index
  llama_stack/providers/registry/post_training.py
Due: provider-codegen, forbid-pytest-asyncio

check for extra-index-url to determine special deps
  llama_stack/core/build.py
  llama_stack/providers/registry/inference.py
Due: provider-codegen, forbid-pytest-asyncio

feat(distro): no huggingface provider for starter (#3258)
  docs/source/providers/post_training/index.md
  llama_stack/core/build.py
  llama_stack/distributions/ci-tests/build.yaml
  llama_stack/distributions/ci-tests/run.yaml
  llama_stack/distributions/starter-gpu/build.yaml
  llama_stack/distributions/starter-gpu/run.yaml
  llama_stack/distributions/starter-gpu/starter_gpu.py
  llama_stack/distributions/starter/build.yaml
  llama_stack/distributions/starter/run.yaml
  llama_stack/distributions/starter/starter.py
  llama_stack/providers/registry/inference.py
  llama_stack/providers/registry/post_training.py
Due: provider-codegen, forbid-pytest-asyncio

chore(dev): use pre-commit to identify api changes
  .pre-commit-config.yaml
  CONTRIBUTING.md
Due: none

chore: remove batch-related APIs
  docs/_static/llama-stack-spec.html
  docs/_static/llama-stack-spec.yaml
  docs/openapi_generator/pyopenapi/generator.py
  docs/source/references/python_sdk_reference/index.md
  llama_stack/apis/batch_inference/__init__.py
  llama_stack/apis/batch_inference/batch_inference.py
  llama_stack/apis/inference/inference.py
  llama_stack/core/routers/inference.py
  llama_stack/core/stack.py
  llama_stack/providers/inline/inference/meta_reference/inference.py
  llama_stack/providers/remote/inference/openai/openai.py
  tests/integration/inference/test_batch_inference.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

docs: fix post_training docs
  docs/source/advanced_apis/post_training/inline_huggingface.md
  docs/source/advanced_apis/post_training/inline_torchtune.md
Due: none

docs: fix post_training docs (#3262)
  docs/source/advanced_apis/post_training/inline_huggingface.md
  docs/source/advanced_apis/post_training/inline_torchtune.md
Due: none

[Feat] Implement keyword search in Qdrant
  llama_stack/providers/remote/vector_io/qdrant/qdrant.py
  tests/integration/vector_io/test_openai_vector_stores.py
  tests/unit/providers/vector_io/conftest.py
  tests/unit/providers/vector_io/test_qdrant.py
Due: provider-codegen, forbid-pytest-asyncio

Update langchain-llama-stack.py
  docs/notebooks/langchain/langchain-llama-stack.py
Due: forbid-pytest-asyncio

chore: remove absolute paths
  docs/source/advanced_apis/evaluation_concepts.md
  docs/source/building_applications/playground/index.md
  docs/source/building_applications/responses_vs_agents.md
  docs/source/concepts/distributions.md
  docs/source/distributions/importing_as_library.md
  docs/source/distributions/k8s/apply.sh
  docs/source/distributions/ondevice_distro/android_sdk.md
  docs/source/distributions/self_hosted_distro/meta-reference-gpu.md
  docs/source/references/evals_reference/index.md
Due: none

fix mcp connection error handling
  llama_stack/core/server/server.py
  llama_stack/providers/utils/tools/mcp.py
  tests/unit/server/test_server.py
Due: provider-codegen, forbid-pytest-asyncio

feat(s3 auth): add authorization support for s3 files provider
  llama_stack/providers/remote/files/s3/__init__.py
  llama_stack/providers/remote/files/s3/files.py
  tests/unit/providers/files/conftest.py
  tests/unit/providers/files/test_s3_files.py
  tests/unit/providers/files/test_s3_files_auth.py
Due: provider-codegen, forbid-pytest-asyncio

Clarify title
  docs/source/distributions/self_hosted_distro/meta-reference-gpu.md
  llama_stack/distributions/meta-reference-gpu/doc_template.md
Due: none

chore: remove absolute paths (#3263)
  docs/source/advanced_apis/evaluation_concepts.md
  docs/source/building_applications/playground/index.md
  docs/source/building_applications/responses_vs_agents.md
  docs/source/concepts/distributions.md
  docs/source/distributions/importing_as_library.md
  docs/source/distributions/k8s/apply.sh
  docs/source/distributions/ondevice_distro/android_sdk.md
  docs/source/distributions/self_hosted_distro/meta-reference-gpu.md
  docs/source/references/evals_reference/index.md
  llama_stack/distributions/meta-reference-gpu/doc_template.md
Due: none

Add AWS Bedrock inference provider to Red Hat distribution
  redhat-distribution/build.yaml
  redhat-distribution/providers.d/remote/inference/aws_bedrock.yaml
Due: none

feat(UI): Implementing File Upload and VectorDB Creation/Configuration in Playground
  llama_stack/ui/app/chat-playground/chunk-processor.test.tsx
  llama_stack/ui/app/chat-playground/page.test.tsx
  llama_stack/ui/app/chat-playground/page.tsx
  llama_stack/ui/components/chat-playground/chat.tsx
  llama_stack/ui/components/chat-playground/conversations.tsx
  llama_stack/ui/components/chat-playground/message-input.tsx
  llama_stack/ui/components/chat-playground/vector-db-creator.tsx
  llama_stack/ui/lib/message-content-utils.ts
Due: none

test: introduce api conformance test
  .github/images/Containerfile
  .github/workflows/README.md
  .github/workflows/conformance.yml
Due: generate-ci-docs

chore(dev): add inequality support to sqlstore where clause
  llama_stack/providers/utils/sqlstore/sqlalchemy_sqlstore.py
  tests/unit/utils/sqlstore/test_sqlstore.py
Due: provider-codegen, forbid-pytest-asyncio

docs: Contributor guidelines for creating Internal or External providers (#3111)
  docs/source/contributing/new_api_provider.md
Due: none

feat(UI): Implementing File Upload and VectorDB Creation/Configuration in Playground (#3266)
  llama_stack/ui/app/chat-playground/chunk-processor.test.tsx
  llama_stack/ui/app/chat-playground/page.test.tsx
  llama_stack/ui/app/chat-playground/page.tsx
  llama_stack/ui/components/chat-playground/chat.tsx
  llama_stack/ui/components/chat-playground/conversations.tsx
  llama_stack/ui/components/chat-playground/message-input.tsx
  llama_stack/ui/components/chat-playground/vector-db-creator.tsx
  llama_stack/ui/lib/message-content-utils.ts
Due: none

fix(env): env var replacement preserve types
  llama_stack/core/stack.py
  tests/unit/server/test_replace_env_vars.py
Due: forbid-pytest-asyncio

fix(env): env var replacement preserve types (#3270)
  llama_stack/core/stack.py
  tests/unit/server/test_replace_env_vars.py
Due: forbid-pytest-asyncio

feat: implement keyword, vector and hybrid search inside vector stores for PGVector provider
  docs/source/providers/vector_io/remote_pgvector.md
  docs/source/providers/vector_io/remote_weaviate.md
  llama_stack/providers/registry/vector_io.py
  llama_stack/providers/remote/vector_io/pgvector/pgvector.py
  llama_stack/providers/utils/vector_io/vector_utils.py
  pyproject.toml
  tests/integration/vector_io/test_openai_vector_stores.py
  tests/unit/providers/utils/memory/test_reranking.py
  tests/unit/providers/vector_io/conftest.py
  tests/unit/providers/vector_io/remote/test_pgvector.py
  uv.lock
Due: provider-codegen, forbid-pytest-asyncio

fix for pre-commit
  docs/source/providers/agents/index.md
Due: none

skip md docs
  docs/source/providers/inference/index.md
Due: none

Path conditions:
  distro-codegen: any of: ^llama_stack/templates/.*$|^llama_stack/providers/.*/inference/.*/models\.py$, but not: build/
  provider-codegen: any of: ^llama_stack/providers/.*$, but not: build/
  openapi-codegen: any of: ^llama_stack/apis/|^docs/openapi_generator/, but not: build/
  forbid-pytest-asyncio: any of: \.py$, but not: build/
  generate-ci-docs: any of: ^.github/workflows/.*$, but not: build/
