Repository meta-llama/llama-stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: distro-codegen, provider-codegen, openapi-codegen, forbid-pytest-asyncio, generate-ci-docs

distro-codegen:
  name: Distribution Template Codegen
  additional_dependencies:
  - uv==0.7.8
  entry: uv run --group codegen ./scripts/distro_codegen.py
  language: python
  pass_filenames: false
  require_serial: true

provider-codegen:
  name: Provider Codegen
  additional_dependencies:
  - uv==0.7.8
  entry: uv run --group codegen ./scripts/provider_codegen.py
  language: python
  pass_filenames: false
  require_serial: true

openapi-codegen:
  name: API Spec Codegen
  additional_dependencies:
  - uv==0.7.8
  entry: sh -c 'uv run ./docs/openapi_generator/run_openapi_generator.sh > /dev/null'
  language: python
  pass_filenames: false
  require_serial: true

forbid-pytest-asyncio:
  name: Block @pytest.mark.asyncio and @pytest_asyncio.fixture
  entry: bash
  language: system
  pass_filenames: true
  args:
  - -c
  ...

generate-ci-docs:
  name: Generate CI documentation
  additional_dependencies:
  - uv==0.7.8
  entry: uv run ./scripts/gen-ci-docs.py
  language: python
  pass_filenames: false
  require_serial: true

pre-commit
  tests/integration/tool_runtime/test_mcp.py
Due: forbid-pytest-asyncio

needed to record for python 3.12 for tool runtime too somehow
  tests/integration/recordings/index.sqlite
  tests/integration/recordings/responses/4a3a4447b16b.json
  tests/integration/recordings/responses/9c28ec9ac338.json
  tests/integration/recordings/responses/bd356b27a085.json
  tests/integration/recordings/responses/d0ac68cbde69.json
  tests/integration/recordings/responses/ef757a75ed08.json
Due: none

feat(ci): use replay mode, setup ollama if specific label exists on PR (#2955)
  .github/workflows/integration-tests.yml
  tests/integration/recordings/index.sqlite
  tests/integration/recordings/responses/0ff78129bb3a.json
  tests/integration/recordings/responses/4597743bcd2a.json
  tests/integration/recordings/responses/4a3a4447b16b.json
  tests/integration/recordings/responses/9c28ec9ac338.json
  tests/integration/recordings/responses/bd356b27a085.json
  tests/integration/recordings/responses/c7582fa7c2c4.json
  tests/integration/recordings/responses/ef757a75ed08.json
  tests/integration/recordings/responses/f3c3afbd9b7e.json
  tests/integration/tool_runtime/test_mcp.py
Due: forbid-pytest-asyncio, generate-ci-docs

feat(ci): make sure there is only re-recording job because independent recordings will conflict
  .github/actions/run-integration-tests/action.yml
  .github/workflows/integration-tests.yml
Due: generate-ci-docs

fixes
  .github/actions/run-integration-tests/action.yml
  .github/workflows/integration-tests.yml
Due: generate-ci-docs

update exclude
  .github/actions/run-integration-tests/action.yml
  .github/workflows/integration-tests.yml
Due: generate-ci-docs

minor
  .github/actions/run-integration-tests/action.yml
  .github/workflows/integration-tests.yml
Due: generate-ci-docs

feat(ci): keep only one re-recording job because independent recordings will conflict (#2956)
  .github/actions/run-integration-tests/action.yml
  .github/workflows/integration-tests.yml
Due: generate-ci-docs

fix: pre-commit issue
  .github/workflows/README.md
Due: generate-ci-docs

moving non-chat related components to ui/
  llama_stack/ui/app/chat-playground/page.tsx
  llama_stack/ui/app/layout.tsx
  llama_stack/ui/components/chat/chat-message.tsx
  llama_stack/ui/components/chat/chat.tsx
  llama_stack/ui/components/chat/markdown-renderer.tsx
  llama_stack/ui/components/chat/message-input.tsx
  llama_stack/ui/components/layout/app-sidebar.tsx
  llama_stack/ui/components/responses/responses-detail.tsx
  llama_stack/ui/components/ui/audio-visualizer.tsx
  llama_stack/ui/components/ui/breadcrumb.tsx
  llama_stack/ui/components/ui/button.tsx
  llama_stack/ui/components/ui/card.tsx
  llama_stack/ui/components/ui/collapsible.tsx
  llama_stack/ui/components/ui/copy-button.tsx
  llama_stack/ui/components/ui/dropdown-menu.tsx
  llama_stack/ui/components/ui/file-preview.tsx
  llama_stack/ui/components/ui/input.tsx
  llama_stack/ui/components/ui/mode-toggle.tsx
  llama_stack/ui/components/ui/select.tsx
  llama_stack/ui/components/ui/separator.tsx
  llama_stack/ui/components/ui/sheet.tsx
  llama_stack/ui/components/ui/sidebar.tsx
  llama_stack/ui/components/ui/sign-in-button.tsx
  llama_stack/ui/components/ui/skeleton.tsx
  llama_stack/ui/components/ui/sonner.tsx
  llama_stack/ui/components/ui/table.tsx
  llama_stack/ui/components/ui/theme-provider.tsx
  llama_stack/ui/components/ui/tooltip.tsx
Due: none

chore: add oauth to UI packages
  llama_stack/ui/package-lock.json
  llama_stack/ui/package.json
Due: none

chore: fix k8s config
  docs/source/distributions/k8s/stack-configmap.yaml
  docs/source/distributions/k8s/stack_run_config.yaml
Due: none

trim providers.list unit tests
  tests/unit/distribution/test_library_client_initialization.py
Due: forbid-pytest-asyncio

chore: add mypy prompt guard
  llama_stack/providers/inline/safety/prompt_guard/prompt_guard.py
  llama_stack/providers/remote/datasetio/huggingface/huggingface.py
  pyproject.toml
Due: provider-codegen, forbid-pytest-asyncio

feat: Add Google Vertex AI inference provider support
  docs/source/providers/inference/index.md
  docs/source/providers/inference/remote_vertexai.md
  llama_stack/providers/registry/inference.py
  llama_stack/providers/remote/inference/vertexai/__init__.py
  llama_stack/providers/remote/inference/vertexai/config.py
  llama_stack/providers/remote/inference/vertexai/models.py
  llama_stack/providers/remote/inference/vertexai/vertexai.py
  llama_stack/templates/starter/starter.py
  tests/integration/inference/test_openai_completion.py
  tests/integration/inference/test_text_inference.py
  tests/integration/test_cases/inference/chat_completion.json
Due: distro-codegen, provider-codegen, forbid-pytest-asyncio

docs: fix warnings in documentation generation
  docs/source/advanced_apis/eval/inline_meta-reference.md
  docs/source/advanced_apis/eval/remote_nvidia.md
  docs/source/advanced_apis/post_training/inline_huggingface.md
  docs/source/advanced_apis/post_training/inline_torchtune.md
  docs/source/advanced_apis/post_training/remote_nvidia.md
  docs/source/advanced_apis/scoring/inline_basic.md
  docs/source/advanced_apis/scoring/inline_braintrust.md
  docs/source/advanced_apis/scoring/inline_llm-as-judge.md
  docs/source/contributing/index.md
  docs/source/distributions/index.md
  docs/source/providers/agents/index.md
  docs/source/providers/datasetio/index.md
  docs/source/providers/eval/index.md
  docs/source/providers/files/index.md
  docs/source/providers/index.md
  docs/source/providers/inference/index.md
  docs/source/providers/inference/remote_cerebras-openai-compat.md
  docs/source/providers/inference/remote_fireworks-openai-compat.md
  docs/source/providers/inference/remote_groq-openai-compat.md
  docs/source/providers/inference/remote_together-openai-compat.md
  docs/source/providers/post_training/index.md
  docs/source/providers/safety/index.md
  docs/source/providers/scoring/index.md
  docs/source/providers/telemetry/index.md
  docs/source/providers/tool_runtime/index.md
  docs/source/providers/vector_io/index.md
  scripts/provider_codegen.py
Due: forbid-pytest-asyncio

fix(library_client): improve initialization error handling and prevent AttributeError (#2944)
  llama_stack/distribution/library_client.py
  tests/unit/distribution/test_library_client_initialization.py
Due: forbid-pytest-asyncio

Update datatypes.py to fix pre-commit check
  llama_stack/apis/datatypes.py
Due: openapi-codegen, forbid-pytest-asyncio

fix: use OLLAMA_URL to activate Ollama provider in starter
  docs/quick_start.ipynb
  docs/source/distributions/self_hosted_distro/starter.md
  docs/source/getting_started/quickstart.md
  llama_stack/templates/ci-tests/run.yaml
  llama_stack/templates/starter/run.yaml
  llama_stack/templates/starter/starter.py
Due: distro-codegen, forbid-pytest-asyncio

fix: use OLLAMA_URL to activate Ollama provider in starter (#2963)
  docs/quick_start.ipynb
  docs/source/distributions/self_hosted_distro/starter.md
  docs/source/getting_started/quickstart.md
  llama_stack/templates/ci-tests/run.yaml
  llama_stack/templates/starter/run.yaml
  llama_stack/templates/starter/starter.py
Due: distro-codegen, forbid-pytest-asyncio

chore: fix k8s config (#2959)
  docs/source/distributions/k8s/stack-configmap.yaml
  docs/source/distributions/k8s/stack_run_config.yaml
Due: none

fix(ci): slightly update workflow trigger
  .github/workflows/integration-tests.yml
Due: generate-ci-docs

docs: part 1 - fix warnings in documentation generation (#2861)
  docs/source/advanced_apis/eval/inline_meta-reference.md
  docs/source/advanced_apis/eval/remote_nvidia.md
  docs/source/advanced_apis/post_training/inline_huggingface.md
  docs/source/advanced_apis/post_training/inline_torchtune.md
  docs/source/advanced_apis/post_training/remote_nvidia.md
  docs/source/advanced_apis/scoring/inline_basic.md
  docs/source/advanced_apis/scoring/inline_braintrust.md
  docs/source/advanced_apis/scoring/inline_llm-as-judge.md
  docs/source/contributing/index.md
  docs/source/distributions/index.md
  docs/source/providers/agents/index.md
  docs/source/providers/datasetio/index.md
  docs/source/providers/eval/index.md
  docs/source/providers/files/index.md
  docs/source/providers/index.md
  docs/source/providers/inference/index.md
  docs/source/providers/inference/remote_cerebras-openai-compat.md
  docs/source/providers/inference/remote_fireworks-openai-compat.md
  docs/source/providers/inference/remote_groq-openai-compat.md
  docs/source/providers/inference/remote_together-openai-compat.md
  docs/source/providers/post_training/index.md
  docs/source/providers/safety/index.md
  docs/source/providers/scoring/index.md
  docs/source/providers/telemetry/index.md
  docs/source/providers/tool_runtime/index.md
  docs/source/providers/vector_io/index.md
  scripts/provider_codegen.py
Due: forbid-pytest-asyncio

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

better concurrency key
  .github/workflows/integration-tests.yml
Due: generate-ci-docs

fix(ci): slightly update workflow trigger (#2966)
  .github/workflows/integration-tests.yml
Due: generate-ci-docs

chore: standardize model not found error
  llama_stack/apis/common/errors.py
  llama_stack/distribution/routers/inference.py
  llama_stack/distribution/routing_tables/common.py
  llama_stack/distribution/routing_tables/models.py
  llama_stack/distribution/routing_tables/vector_dbs.py
  scripts/generate_prompt_format.py
Due: openapi-codegen, forbid-pytest-asyncio

chore: standardize model not found error (#2964)
  llama_stack/apis/common/errors.py
  llama_stack/distribution/routers/inference.py
  llama_stack/distribution/routing_tables/common.py
  llama_stack/distribution/routing_tables/models.py
  llama_stack/distribution/routing_tables/vector_dbs.py
  scripts/generate_prompt_format.py
Due: openapi-codegen, forbid-pytest-asyncio

chore: Enabling teste for Weaviate and some minor changes
  .github/workflows/integration-vector-io-tests.yml
  docs/source/providers/vector_io/remote_weaviate.md
  llama_stack/apis/common/errors.py
  llama_stack/apis/vector_io/vector_io.py
  llama_stack/distribution/routers/inference.py
  llama_stack/distribution/routing_tables/common.py
  llama_stack/distribution/routing_tables/models.py
  llama_stack/distribution/routing_tables/vector_dbs.py
  llama_stack/providers/remote/vector_io/milvus/milvus.py
  llama_stack/providers/remote/vector_io/weaviate/__init__.py
  llama_stack/providers/remote/vector_io/weaviate/config.py
  llama_stack/providers/remote/vector_io/weaviate/weaviate.py
  llama_stack/providers/utils/memory/vector_store.py
  llama_stack/providers/utils/vector_io/vector_utils.py
  scripts/generate_prompt_format.py
  tests/integration/vector_io/test_openai_vector_stores.py
  tests/unit/providers/vector_io/test_vector_utils.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio, generate-ci-docs

fix: fix No module named 'ollama' in test_inference_recordings.py
  pyproject.toml
  uv.lock
Due: none

updated requirements
  pyproject.toml
  uv.lock
Due: none

fix: fix No module named 'ollama' in test_inference_recordings.py (#2967)
  pyproject.toml
  uv.lock
Due: none

chore: standardize vector store not found error
  llama_stack/apis/common/errors.py
  llama_stack/distribution/routing_tables/vector_dbs.py
  llama_stack/providers/inline/vector_io/faiss/faiss.py
  llama_stack/providers/inline/vector_io/sqlite_vec/sqlite_vec.py
  llama_stack/providers/remote/vector_io/milvus/milvus.py
  llama_stack/providers/remote/vector_io/pgvector/pgvector.py
  llama_stack/providers/remote/vector_io/qdrant/qdrant.py
  llama_stack/providers/remote/vector_io/weaviate/weaviate.py
  llama_stack/providers/utils/memory/openai_vector_store_mixin.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

chore: standardize dataset not found error
  llama_stack/apis/common/errors.py
  llama_stack/distribution/routing_tables/datasets.py
Due: openapi-codegen, forbid-pytest-asyncio

second try
  docs/source/distributions/k8s/apply.sh
  docs/source/distributions/k8s/delete.sh
  docs/source/distributions/k8s/hf-token-secret.yaml.template
  docs/source/distributions/k8s/llama-nim.yaml.template
  docs/source/distributions/k8s/set-secret.yaml.template
  docs/source/distributions/k8s/stack-configmap.yaml
  docs/source/distributions/k8s/stack-k8s.yaml.template
  docs/source/distributions/k8s/stack_run_config.yaml
  docs/source/distributions/k8s/vllm-k8s.yaml.template
  llama_stack/providers/remote/inference/nvidia/nvidia.py
  llama_stack/providers/remote/inference/nvidia/openai_utils.py
Due: provider-codegen, forbid-pytest-asyncio

chore: standardize dataset not found error (#2962)
  llama_stack/apis/common/errors.py
  llama_stack/distribution/routing_tables/datasets.py
Due: openapi-codegen, forbid-pytest-asyncio

chore: standardize vector store not found error (#2968)
  llama_stack/apis/common/errors.py
  llama_stack/distribution/routing_tables/vector_dbs.py
  llama_stack/providers/inline/vector_io/faiss/faiss.py
  llama_stack/providers/inline/vector_io/sqlite_vec/sqlite_vec.py
  llama_stack/providers/remote/vector_io/milvus/milvus.py
  llama_stack/providers/remote/vector_io/pgvector/pgvector.py
  llama_stack/providers/remote/vector_io/qdrant/qdrant.py
  llama_stack/providers/remote/vector_io/weaviate/weaviate.py
  llama_stack/providers/utils/memory/openai_vector_store_mixin.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

fix: remove redundant code from unregister_dataset
  llama_stack/distribution/routing_tables/datasets.py
Due: forbid-pytest-asyncio

docs: Add detailed docstrings to API models and update OpenAPI spec (#2889)
  docs/_static/llama-stack-spec.html
  docs/_static/llama-stack-spec.yaml
  llama_stack/apis/agents/agents.py
  llama_stack/apis/agents/openai_responses.py
  llama_stack/apis/benchmarks/benchmarks.py
  llama_stack/apis/common/content_types.py
  llama_stack/apis/common/job_types.py
  llama_stack/apis/common/responses.py
  llama_stack/apis/common/training_types.py
  llama_stack/apis/common/type_system.py
  llama_stack/apis/datasets/datasets.py
  llama_stack/apis/datatypes.py
  llama_stack/apis/files/files.py
  llama_stack/apis/inference/inference.py
  llama_stack/apis/inspect/inspect.py
  llama_stack/apis/models/models.py
  llama_stack/apis/post_training/post_training.py
  llama_stack/apis/providers/providers.py
  llama_stack/apis/safety/safety.py
  llama_stack/apis/scoring/scoring.py
  llama_stack/apis/scoring_functions/scoring_functions.py
  llama_stack/apis/shields/shields.py
  llama_stack/apis/synthetic_data_generation/synthetic_data_generation.py
  llama_stack/apis/telemetry/telemetry.py
  llama_stack/apis/tools/rag_tool.py
  llama_stack/apis/tools/tools.py
  llama_stack/apis/vector_dbs/vector_dbs.py
  llama_stack/apis/vector_io/vector_io.py
Due: openapi-codegen, forbid-pytest-asyncio

fix: remove redundant code from unregister_dataset (#2971)
  llama_stack/distribution/routing_tables/datasets.py
Due: forbid-pytest-asyncio

Path conditions:
  distro-codegen: any of: ^llama_stack/templates/.*$|^llama_stack/providers/.*/inference/.*/models\.py$, but not: build/
  provider-codegen: any of: ^llama_stack/providers/.*$, but not: build/
  openapi-codegen: any of: ^llama_stack/apis/|^docs/openapi_generator/, but not: build/
  forbid-pytest-asyncio: any of: \.py$, but not: build/
  generate-ci-docs: any of: ^.github/workflows/.*$, but not: build/
