Repository meta-llama/llama-stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: distro-codegen, provider-codegen, openapi-codegen, forbid-pytest-asyncio, generate-ci-docs

distro-codegen:
  name: Distribution Template Codegen
  additional_dependencies:
  - uv==0.7.8
  entry: uv run --group codegen ./scripts/distro_codegen.py
  language: python
  pass_filenames: false
  require_serial: true

provider-codegen:
  name: Provider Codegen
  additional_dependencies:
  - uv==0.7.8
  entry: uv run --group codegen ./scripts/provider_codegen.py
  language: python
  pass_filenames: false
  require_serial: true

openapi-codegen:
  name: API Spec Codegen
  additional_dependencies:
  - uv==0.7.8
  entry: sh -c 'uv run ./docs/openapi_generator/run_openapi_generator.sh > /dev/null'
  language: python
  pass_filenames: false
  require_serial: true

forbid-pytest-asyncio:
  name: Block @pytest.mark.asyncio and @pytest_asyncio.fixture
  entry: bash
  language: system
  pass_filenames: true
  args:
  - -c
  ...

generate-ci-docs:
  name: Generate CI documentation
  additional_dependencies:
  - uv==0.7.8
  entry: uv run ./scripts/gen-ci-docs.py
  language: python
  pass_filenames: false
  require_serial: true

feat: add agent workflow metrics collection
  docs/_static/llama-stack-spec.html
  docs/_static/llama-stack-spec.yaml
  llama_stack/apis/telemetry/telemetry.py
  llama_stack/providers/inline/agents/meta_reference/agent_instance.py
  llama_stack/providers/inline/agents/meta_reference/agents.py
  llama_stack/providers/inline/telemetry/meta_reference/telemetry.py
  llama_stack/providers/registry/agents.py
  pyproject.toml
  tests/integration/agents/test_agent_metrics_integration.py
  tests/unit/providers/agents/__init__.py
  tests/unit/providers/agents/test_agent_metrics.py
  tests/unit/providers/telemetry/__init__.py
  tests/unit/providers/telemetry/test_agent_metrics_histogram.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

remove integration test
  tests/integration/agents/test_agent_metrics_integration.py
Due: forbid-pytest-asyncio

improve metric task error handling
  llama_stack/providers/inline/agents/meta_reference/agent_instance.py
Due: provider-codegen, forbid-pytest-asyncio

test: convert tests to use sync
  .github/actions/setup-test-environment/action.yml
  .github/workflows/README.md
  .github/workflows/integration-vector-io-tests.yml
  .github/workflows/providers-build.yml
  .github/workflows/providers-show.yml
  llama_stack/cli/stack/_show.py
  llama_stack/providers/remote/inference/fireworks/pyproject.toml
  tests/unit/distribution/test_build_path.py
  tests/unit/distribution/test_stack_show.py
  uv.lock
Due: provider-codegen, forbid-pytest-asyncio, generate-ci-docs

chore: remove `llama stack build`
  llama_stack/cli/stack/_build.py
  llama_stack/cli/stack/build.py
Due: forbid-pytest-asyncio

feat: llama stack show
  llama_stack/cli/stack/_show.py
  llama_stack/cli/stack/show.py
  llama_stack/cli/stack/stack.py
  llama_stack/cli/stack/utils.py
  llama_stack/core/build.py
  tests/unit/distribution/test_build_path.py
Due: forbid-pytest-asyncio

chore: Enable keyword search for Milvus inline
  llama_stack/providers/remote/vector_io/milvus/milvus.py
  pyproject.toml
  tests/integration/vector_io/test_openai_vector_stores.py
  uv.lock
Due: provider-codegen, forbid-pytest-asyncio

feat(responses): stream progress of tool calls
  llama_stack/providers/inline/agents/meta_reference/openai_responses.py
  tests/integration/non_ci/responses/test_responses.py
Due: provider-codegen, forbid-pytest-asyncio

feat(responses): stream progress of tool calls (#3135)
  llama_stack/providers/inline/agents/meta_reference/openai_responses.py
  tests/integration/non_ci/responses/test_responses.py
Due: provider-codegen, forbid-pytest-asyncio

content part fixes
  docs/_static/llama-stack-spec.html
  docs/_static/llama-stack-spec.yaml
  llama_stack/apis/agents/openai_responses.py
  llama_stack/providers/inline/agents/meta_reference/openai_responses.py
  tests/integration/non_ci/responses/test_responses.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

feat(responses): add MCP argument streaming and content part events
  llama_stack/apis/agents/openai_responses.py
  llama_stack/providers/inline/agents/meta_reference/openai_responses.py
  tests/integration/non_ci/responses/test_responses.py
  tests/unit/providers/agents/meta_reference/test_openai_responses.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

feat(responses): add MCP argument streaming and content part events (#3136)
  docs/_static/llama-stack-spec.html
  docs/_static/llama-stack-spec.yaml
  llama_stack/apis/agents/openai_responses.py
  llama_stack/providers/inline/agents/meta_reference/openai_responses.py
  tests/integration/non_ci/responses/test_responses.py
  tests/unit/providers/agents/meta_reference/test_openai_responses.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

Remove Trendshift badge from README
  README.md
Due: none

chore: Remove Trendshift badge from README (#3137)
  README.md
Due: none

feat(vector-io): add OpenGauss vector database provider
  .github/workflows/integration-vector-io-tests.yml
  docs/source/providers/vector_io/index.md
  docs/source/providers/vector_io/remote_opengauss.md
  llama_stack/providers/registry/vector_io.py
  llama_stack/providers/remote/vector_io/opengauss/__init__.py
  llama_stack/providers/remote/vector_io/opengauss/config.py
  llama_stack/providers/remote/vector_io/opengauss/opengauss.py
  tests/integration/vector_io/test_openai_vector_stores.py
  tests/unit/providers/vector_io/conftest.py
  tests/unit/providers/vector_io/test_opengauss.py
Due: provider-codegen, forbid-pytest-asyncio, generate-ci-docs

feat: implement keyword, vector and hybrid search inside vector stores for PGVector provider
  docs/source/providers/vector_io/remote_pgvector.md
  llama_stack/providers/inline/vector_io/sqlite_vec/sqlite_vec.py
  llama_stack/providers/registry/vector_io.py
  llama_stack/providers/remote/vector_io/pgvector/pgvector.py
  llama_stack/providers/utils/vector_io/vector_utils.py
  pyproject.toml
  tests/integration/vector_io/test_openai_vector_stores.py
  tests/unit/providers/utils/memory/test_reranking.py
  tests/unit/providers/vector_io/conftest.py
  tests/unit/providers/vector_io/remote/test_pgvector.py
  uv.lock
Due: provider-codegen, forbid-pytest-asyncio

docs: Contributor guidelines for creating Internal or External providers
  docs/source/contributing/new_api_provider.md
Due: none

remove unused CreateBatchRequest, update completion_window to be literal "24h"
  llama_stack/apis/batches/__init__.py
  llama_stack/apis/batches/batches.py
  llama_stack/providers/inline/batches/reference/batches.py
  tests/integration/batches/test_batches_errors.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

fix: use ChatCompletionMessageFunctionToolCall
  llama_stack/providers/utils/inference/openai_compat.py
  tests/unit/providers/utils/inference/test_openai_compat.py
Due: provider-codegen, forbid-pytest-asyncio

feat: add batches API with OpenAI compatibility (#3088)
  docs/_static/llama-stack-spec.html
  docs/_static/llama-stack-spec.yaml
  docs/source/concepts/apis.md
  docs/source/providers/agents/index.md
  docs/source/providers/batches/index.md
  docs/source/providers/batches/inline_reference.md
  docs/source/providers/eval/index.md
  docs/source/providers/inference/index.md
  llama_stack/apis/batches/__init__.py
  llama_stack/apis/batches/batches.py
  llama_stack/apis/common/errors.py
  llama_stack/apis/datatypes.py
  llama_stack/apis/files/files.py
  llama_stack/core/resolver.py
  llama_stack/core/server/server.py
  llama_stack/providers/inline/batches/__init__.py
  llama_stack/providers/inline/batches/reference/__init__.py
  llama_stack/providers/inline/batches/reference/batches.py
  llama_stack/providers/inline/batches/reference/config.py
  llama_stack/providers/registry/batches.py
  scripts/provider_codegen.py
  tests/integration/batches/__init__.py
  tests/integration/batches/conftest.py
  tests/integration/batches/test_batches.py
  tests/integration/batches/test_batches_errors.py
  tests/unit/providers/batches/test_reference.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

fix: make provider_id a required field in vector DB registration
  llama_stack/apis/vector_dbs/vector_dbs.py
  llama_stack/core/routing_tables/vector_dbs.py
Due: openapi-codegen, forbid-pytest-asyncio

Revert "feat: add batches API with OpenAI compatibility (#3088)"
  docs/_static/llama-stack-spec.html
  docs/_static/llama-stack-spec.yaml
  docs/source/concepts/apis.md
  docs/source/providers/agents/index.md
  docs/source/providers/batches/index.md
  docs/source/providers/batches/inline_reference.md
  docs/source/providers/eval/index.md
  docs/source/providers/inference/index.md
  llama_stack/apis/batches/__init__.py
  llama_stack/apis/batches/batches.py
  llama_stack/apis/common/errors.py
  llama_stack/apis/datatypes.py
  llama_stack/apis/files/files.py
  llama_stack/core/resolver.py
  llama_stack/core/server/server.py
  llama_stack/providers/inline/batches/__init__.py
  llama_stack/providers/inline/batches/reference/__init__.py
  llama_stack/providers/inline/batches/reference/batches.py
  llama_stack/providers/inline/batches/reference/config.py
  llama_stack/providers/registry/batches.py
  scripts/provider_codegen.py
  tests/integration/batches/__init__.py
  tests/integration/batches/conftest.py
  tests/integration/batches/test_batches.py
  tests/integration/batches/test_batches_errors.py
  tests/unit/providers/batches/test_reference.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

Revert "feat: add batches API with OpenAI compatibility" (#3149)
  docs/_static/llama-stack-spec.html
  docs/_static/llama-stack-spec.yaml
  docs/source/concepts/apis.md
  docs/source/providers/agents/index.md
  docs/source/providers/batches/index.md
  docs/source/providers/batches/inline_reference.md
  docs/source/providers/eval/index.md
  docs/source/providers/inference/index.md
  llama_stack/apis/batches/__init__.py
  llama_stack/apis/batches/batches.py
  llama_stack/apis/common/errors.py
  llama_stack/apis/datatypes.py
  llama_stack/apis/files/files.py
  llama_stack/core/resolver.py
  llama_stack/core/server/server.py
  llama_stack/providers/inline/batches/__init__.py
  llama_stack/providers/inline/batches/reference/__init__.py
  llama_stack/providers/inline/batches/reference/batches.py
  llama_stack/providers/inline/batches/reference/config.py
  llama_stack/providers/registry/batches.py
  scripts/provider_codegen.py
  tests/integration/batches/__init__.py
  tests/integration/batches/conftest.py
  tests/integration/batches/test_batches.py
  tests/integration/batches/test_batches_errors.py
  tests/unit/providers/batches/test_reference.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

fix(ci): update triggers for the workflows
  .github/workflows/integration-tests.yml
  .github/workflows/record-integration-tests.yml
Due: generate-ci-docs

fix: use ChatCompletionMessageFunctionToolCall (#3142)
  llama_stack/providers/utils/inference/openai_compat.py
  tests/unit/providers/utils/inference/test_openai_compat.py
Due: provider-codegen, forbid-pytest-asyncio

fix(ci): update triggers for the workflows (#3152)
  .github/workflows/integration-tests.yml
  .github/workflows/record-integration-tests.yml
Due: generate-ci-docs

fix: workflow checkout PR
  .github/workflows/record-integration-tests.yml
Due: generate-ci-docs

feat(vector-io): implement global default embedding model configuration (Issue #2729)
  tests/integration/conftest.py
Due: forbid-pytest-asyncio

feat(vector-io): implement global default embedding model configuration (Issue #2729)
  docs/source/distributions/configuration.md
  llama_stack/apis/common/vector_store_config.py
  llama_stack/core/datatypes.py
  llama_stack/core/routers/vector_io.py
  llama_stack/distributions/watsonx/build.yaml
  tests/unit/common/test_vector_store_config.py
  tests/unit/router/test_embedding_precedence.py
Due: openapi-codegen, forbid-pytest-asyncio

Change default embedding model to all-MiniLM-L6-v2
  docs/source/distributions/configuration.md
  llama_stack/core/routers/vector_io.py
Due: forbid-pytest-asyncio

fix(tests): remove @pytest.mark.asyncio decorators from unit tests
  tests/unit/router/test_embedding_precedence.py
Due: forbid-pytest-asyncio

docs: improve vector store config documentation and fix test isolation
  docs/source/distributions/configuration.md
  tests/unit/common/test_vector_store_config.py
  tests/unit/router/test_embedding_precedence.py
Due: forbid-pytest-asyncio

Address review comments for global vector store configuration
  docs/source/distributions/configuration.md
  llama_stack/apis/common/vector_store_config.py
  llama_stack/core/routers/vector_io.py
  tests/unit/router/test_embedding_precedence.py
Due: openapi-codegen, forbid-pytest-asyncio

Fix unit test to expect correct fallback model
  tests/unit/router/test_embedding_precedence.py
Due: forbid-pytest-asyncio

Replace MissingEmbeddingModelError with IBM Granite default
  llama_stack/apis/common/vector_store_config.py
  llama_stack/core/routers/vector_io.py
  tests/unit/common/test_vector_store_config.py
  tests/unit/router/test_embedding_precedence.py
Due: openapi-codegen, forbid-pytest-asyncio

docs: update configuration documentation for global default embedding model
  docs/source/distributions/configuration.md
  llama_stack/apis/common/vector_store_config.py
Due: openapi-codegen, forbid-pytest-asyncio

fix: update import path from distribution to core after upstream migration
  tests/unit/router/test_embedding_precedence.py
Due: forbid-pytest-asyncio

Replace MissingEmbeddingModelError with IBM Granite default
  docs/source/distributions/configuration.md
  llama_stack/apis/common/vector_store_config.py
  llama_stack/core/routers/vector_io.py
  tests/unit/router/test_embedding_precedence.py
Due: openapi-codegen, forbid-pytest-asyncio

Path conditions:
  distro-codegen: any of: ^llama_stack/templates/.*$|^llama_stack/providers/.*/inference/.*/models\.py$, but not: build/
  provider-codegen: any of: ^llama_stack/providers/.*$, but not: build/
  openapi-codegen: any of: ^llama_stack/apis/|^docs/openapi_generator/, but not: build/
  forbid-pytest-asyncio: any of: \.py$, but not: build/
  generate-ci-docs: any of: ^.github/workflows/.*$, but not: build/
