Repository meta-llama/llama-stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: distro-codegen, provider-codegen, openapi-codegen, forbid-pytest-asyncio, generate-ci-docs

Path conditions:
  distro-codegen: any of: ^llama_stack/templates/.*$|^llama_stack/providers/.*/inference/.*/models\.py$, but not: build/
  provider-codegen: any of: ^llama_stack/providers/.*$, but not: build/
  openapi-codegen: any of: ^llama_stack/apis/|^docs/openapi_generator/, but not: build/
  forbid-pytest-asyncio: any of: \.py$, but not: build/
  generate-ci-docs: any of: ^.github/workflows/.*$, but not: build/

add NIM k8s solution
  docs/source/distributions/k8s/delete.sh
  docs/source/distributions/k8s/llama-nim.yaml.template
  docs/source/distributions/k8s/stack-configmap.yaml
  docs/source/distributions/k8s/stack-k8s.yaml.template
Due: none

fix the chnages that requested in review
  docs/source/providers/post_training/inline_huggingface.md
  llama_stack/providers/inline/post_training/huggingface/config.py
  llama_stack/providers/inline/post_training/huggingface/post_training.py
  llama_stack/providers/inline/post_training/huggingface/recipes/finetune_single_device.py
  llama_stack/providers/inline/post_training/huggingface/recipes/finetune_single_device_dpo.py
  llama_stack/providers/inline/post_training/huggingface/utils.py
Due: provider-codegen, forbid-pytest-asyncio

fix: Update SFTConfig parameter
  llama_stack/providers/inline/post_training/huggingface/recipes/finetune_single_device.py
Due: provider-codegen, forbid-pytest-asyncio

fix: use same image_name logic for build & run config
  llama_stack/cli/stack/_build.py
Due: forbid-pytest-asyncio

fix: error on failed job, do not wait for timeout (#2945)
  tests/integration/post_training/test_post_training.py
Due: forbid-pytest-asyncio

fix: Update SFTConfig parameter to fix CI and Post Training Workflow (#2948)
  llama_stack/providers/inline/post_training/huggingface/recipes/finetune_single_device.py
Due: provider-codegen, forbid-pytest-asyncio

fix: delete requirements.txt which crept back in
  requirements.txt
Due: none

chore: Delete coverage-badge
  .github/workflows/coverage-badge.yml
Due: generate-ci-docs

updated readme
  .github/workflows/README.md
Due: generate-ci-docs

add newline
  llama_stack/testing/inference_recorder.py
Due: forbid-pytest-asyncio

much simpler
  llama_stack/testing/inference_recorder.py
  tests/integration/inference/recordings/index.sqlite
  tests/integration/inference/recordings/responses/1b8394f90636.json
  tests/integration/inference/recordings/responses/211b1562d4e6.json
  tests/integration/inference/recordings/responses/3c3f13cb7794.json
  tests/integration/inference/recordings/responses/40f524d1934a.json
  tests/integration/inference/recordings/responses/48d2fb183a2a.json
  tests/integration/inference/recordings/responses/6cc063bbd7d3.json
  tests/integration/inference/recordings/responses/70adef2c30c4.json
  tests/integration/inference/recordings/responses/75d0dd9d0fa3.json
  tests/integration/inference/recordings/responses/84cab42e1f5c.json
  tests/integration/inference/recordings/responses/9b812cbcb88d.json
  tests/integration/inference/recordings/responses/9e7a83d3d596.json
  tests/integration/inference/recordings/responses/a6810c23eda8.json
  tests/integration/inference/recordings/responses/ae6835cfe70e.json
  tests/integration/inference/recordings/responses/b91f1fb4aedb.json
  tests/integration/inference/recordings/responses/bbd0637dce16.json
  tests/integration/inference/recordings/responses/dd9e7d5913e9.json
  tests/integration/test_inference_recordings.py
Due: forbid-pytest-asyncio

fix
  llama_stack/distribution/routers/inference.py
Due: forbid-pytest-asyncio

more fixes and record from the server since server enables more tests
  llama_stack/testing/inference_recorder.py
  tests/integration/inference/recordings/index.sqlite
  tests/integration/inference/recordings/responses/12913f20f6ac.json
  tests/integration/inference/recordings/responses/1b8394f90636.json
  tests/integration/inference/recordings/responses/211b1562d4e6.json
  tests/integration/inference/recordings/responses/31407e035752.json
  tests/integration/inference/recordings/responses/35db283fef1d.json
  tests/integration/inference/recordings/responses/3877ecf1bc62.json
  tests/integration/inference/recordings/responses/3c3f13cb7794.json
  tests/integration/inference/recordings/responses/4014dd44c15f.json
  tests/integration/inference/recordings/responses/40f524d1934a.json
  tests/integration/inference/recordings/responses/48d2fb183a2a.json
  tests/integration/inference/recordings/responses/4a3a4447b16b.json
  tests/integration/inference/recordings/responses/6cc063bbd7d3.json
  tests/integration/inference/recordings/responses/70adef2c30c4.json
  tests/integration/inference/recordings/responses/75d0dd9d0fa3.json
  tests/integration/inference/recordings/responses/80f09f27dd61.json
  tests/integration/inference/recordings/responses/84cab42e1f5c.json
  tests/integration/inference/recordings/responses/9b812cbcb88d.json
  tests/integration/inference/recordings/responses/a6810c23eda8.json
  tests/integration/inference/recordings/responses/ae6835cfe70e.json
  tests/integration/inference/recordings/responses/afb33182f365.json
  tests/integration/inference/recordings/responses/b24590574a85.json
  tests/integration/inference/recordings/responses/b4cda53cd04f.json
  tests/integration/inference/recordings/responses/b91f1fb4aedb.json
  tests/integration/inference/recordings/responses/bbd0637dce16.json
  tests/integration/inference/recordings/responses/d0ac68cbde69.json
  tests/integration/inference/recordings/responses/dd9e7d5913e9.json
Due: forbid-pytest-asyncio

improvements to include other ollama methods like ps, list and pull
  llama_stack/distribution/routers/inference.py
  llama_stack/distribution/stack.py
  llama_stack/testing/inference_recorder.py
  tests/integration/fixtures/common.py
  tests/integration/inference/recordings/index.sqlite
  tests/integration/inference/recordings/responses/1b8394f90636.json
  tests/integration/inference/recordings/responses/211b1562d4e6.json
  tests/integration/inference/recordings/responses/3c3f13cb7794.json
  tests/integration/inference/recordings/responses/40f524d1934a.json
  tests/integration/inference/recordings/responses/48d2fb183a2a.json
  tests/integration/inference/recordings/responses/4a3a4447b16b.json
  tests/integration/inference/recordings/responses/6cc063bbd7d3.json
  tests/integration/inference/recordings/responses/70adef2c30c4.json
  tests/integration/inference/recordings/responses/75d0dd9d0fa3.json
  tests/integration/inference/recordings/responses/84cab42e1f5c.json
  tests/integration/inference/recordings/responses/9b812cbcb88d.json
  tests/integration/inference/recordings/responses/9e7a83d3d596.json
  tests/integration/inference/recordings/responses/a6810c23eda8.json
  tests/integration/inference/recordings/responses/ae6835cfe70e.json
  tests/integration/inference/recordings/responses/b91f1fb4aedb.json
  tests/integration/inference/recordings/responses/bbd0637dce16.json
  tests/integration/inference/recordings/responses/dd9e7d5913e9.json
  tests/integration/test_inference_recordings.py
Due: forbid-pytest-asyncio

pre-commit
  tests/integration/inference/recordings/responses/1b8394f90636.json
  tests/integration/inference/recordings/responses/211b1562d4e6.json
  tests/integration/inference/recordings/responses/3c3f13cb7794.json
  tests/integration/inference/recordings/responses/40f524d1934a.json
  tests/integration/inference/recordings/responses/48d2fb183a2a.json
  tests/integration/inference/recordings/responses/6cc063bbd7d3.json
  tests/integration/inference/recordings/responses/70adef2c30c4.json
  tests/integration/inference/recordings/responses/75d0dd9d0fa3.json
  tests/integration/inference/recordings/responses/84cab42e1f5c.json
  tests/integration/inference/recordings/responses/9b812cbcb88d.json
  tests/integration/inference/recordings/responses/9e7a83d3d596.json
  tests/integration/inference/recordings/responses/a6810c23eda8.json
  tests/integration/inference/recordings/responses/ae6835cfe70e.json
  tests/integration/inference/recordings/responses/b91f1fb4aedb.json
  tests/integration/inference/recordings/responses/bbd0637dce16.json
  tests/integration/inference/recordings/responses/dd9e7d5913e9.json
Due: none

feat(tests): introduce inference record/replay to increase test reliability
  llama_stack/testing/__init__.py
  llama_stack/testing/inference_recorder.py
  tests/integration/fixtures/common.py
  tests/integration/test_inference_recordings.py
Due: forbid-pytest-asyncio

chore: fix ui package.json
  llama_stack/ui/package.json
Due: none

add docs, fix broken ness of llama_stack/ui/package.json
  llama_stack/distribution/stack.py
  llama_stack/testing/inference_recorder.py
  llama_stack/ui/package.json
  tests/unit/distribution/test_inference_recordings.py
Due: forbid-pytest-asyncio

fix: random breakage in llama_stack/ui/package.json
  llama_stack/ui/package.json
Due: none

feat(tests): introduce inference record/replay to increase test reliability (#2941)
  llama_stack/distribution/routers/inference.py
  llama_stack/distribution/stack.py
  llama_stack/testing/__init__.py
  llama_stack/testing/inference_recorder.py
  tests/integration/inference/recordings/index.sqlite
  tests/integration/inference/recordings/responses/12913f20f6ac.json
  tests/integration/inference/recordings/responses/1b8394f90636.json
  tests/integration/inference/recordings/responses/211b1562d4e6.json
  tests/integration/inference/recordings/responses/31407e035752.json
  tests/integration/inference/recordings/responses/35db283fef1d.json
  tests/integration/inference/recordings/responses/3877ecf1bc62.json
  tests/integration/inference/recordings/responses/3c3f13cb7794.json
  tests/integration/inference/recordings/responses/4014dd44c15f.json
  tests/integration/inference/recordings/responses/40f524d1934a.json
  tests/integration/inference/recordings/responses/48d2fb183a2a.json
  tests/integration/inference/recordings/responses/4a3a4447b16b.json
  tests/integration/inference/recordings/responses/6cc063bbd7d3.json
  tests/integration/inference/recordings/responses/70adef2c30c4.json
  tests/integration/inference/recordings/responses/75d0dd9d0fa3.json
  tests/integration/inference/recordings/responses/80f09f27dd61.json
  tests/integration/inference/recordings/responses/84cab42e1f5c.json
  tests/integration/inference/recordings/responses/9b812cbcb88d.json
  tests/integration/inference/recordings/responses/9e7a83d3d596.json
  tests/integration/inference/recordings/responses/a6810c23eda8.json
  tests/integration/inference/recordings/responses/ae6835cfe70e.json
  tests/integration/inference/recordings/responses/afb33182f365.json
  tests/integration/inference/recordings/responses/b24590574a85.json
  tests/integration/inference/recordings/responses/b4cda53cd04f.json
  tests/integration/inference/recordings/responses/b91f1fb4aedb.json
  tests/integration/inference/recordings/responses/bbd0637dce16.json
  tests/integration/inference/recordings/responses/d0ac68cbde69.json
  tests/integration/inference/recordings/responses/dd9e7d5913e9.json
  tests/unit/distribution/test_inference_recordings.py
Due: forbid-pytest-asyncio

chore: move recordings one directory upwards
  tests/integration/recordings/index.sqlite
  tests/integration/recordings/responses/12913f20f6ac.json
  tests/integration/recordings/responses/1b8394f90636.json
  tests/integration/recordings/responses/211b1562d4e6.json
  tests/integration/recordings/responses/31407e035752.json
  tests/integration/recordings/responses/35db283fef1d.json
  tests/integration/recordings/responses/3877ecf1bc62.json
  tests/integration/recordings/responses/3c3f13cb7794.json
  tests/integration/recordings/responses/4014dd44c15f.json
  tests/integration/recordings/responses/40f524d1934a.json
  tests/integration/recordings/responses/48d2fb183a2a.json
  tests/integration/recordings/responses/4a3a4447b16b.json
  tests/integration/recordings/responses/6cc063bbd7d3.json
  tests/integration/recordings/responses/70adef2c30c4.json
  tests/integration/recordings/responses/75d0dd9d0fa3.json
  tests/integration/recordings/responses/80f09f27dd61.json
  tests/integration/recordings/responses/84cab42e1f5c.json
  tests/integration/recordings/responses/9b812cbcb88d.json
  tests/integration/recordings/responses/9e7a83d3d596.json
  tests/integration/recordings/responses/a6810c23eda8.json
  tests/integration/recordings/responses/ae6835cfe70e.json
  tests/integration/recordings/responses/afb33182f365.json
  tests/integration/recordings/responses/b24590574a85.json
  tests/integration/recordings/responses/b4cda53cd04f.json
  tests/integration/recordings/responses/b91f1fb4aedb.json
  tests/integration/recordings/responses/bbd0637dce16.json
  tests/integration/recordings/responses/d0ac68cbde69.json
  tests/integration/recordings/responses/dd9e7d5913e9.json
Due: none

chore: Delete coverage-badge (#2950)
  .github/workflows/README.md
  .github/workflows/coverage-badge.yml
Due: generate-ci-docs

fix: use same image_name logic for build & run config (#2949)
  llama_stack/cli/stack/_build.py
Due: forbid-pytest-asyncio

ignore recordings dir
  .github/workflows/integration-tests.yml
Due: generate-ci-docs

chore(ci): disable post training tests
  tests/integration/post_training/test_post_training.py
Due: forbid-pytest-asyncio

feat(UI): adding MVP playground ui
  llama_stack/ui/app/chat-playground/page.tsx
  llama_stack/ui/components/layout/app-sidebar.tsx
Due: none

have messages working but streaming still not fixed yet
  llama_stack/ui/app/chat-playground/page.tsx
  llama_stack/ui/components/ui/audio-visualizer.tsx
  llama_stack/ui/components/ui/button.tsx
  llama_stack/ui/components/ui/chat-message.tsx
  llama_stack/ui/components/ui/chat.tsx
  llama_stack/ui/components/ui/collapsible.tsx
  llama_stack/ui/components/ui/copy-button.tsx
  llama_stack/ui/components/ui/file-preview.tsx
  llama_stack/ui/components/ui/interrupt-prompt.tsx
  llama_stack/ui/components/ui/markdown-renderer.tsx
  llama_stack/ui/components/ui/message-input.tsx
  llama_stack/ui/components/ui/message-list.tsx
  llama_stack/ui/components/ui/prompt-suggestions.tsx
  llama_stack/ui/components/ui/select.tsx
  llama_stack/ui/components/ui/sonner.tsx
  llama_stack/ui/components/ui/typing-indicator.tsx
  llama_stack/ui/hooks/use-audio-recording.ts
  llama_stack/ui/hooks/use-auto-scroll.ts
  llama_stack/ui/hooks/use-autosize-textarea.ts
  llama_stack/ui/hooks/use-copy-to-clipboard.ts
  llama_stack/ui/lib/audio-utils.ts
  llama_stack/ui/package-lock.json
  llama_stack/ui/package.json
Due: none

moving ui -> chat
  llama_stack/ui/components.json
Due: none

chore(ci): disable post training tests (#2953)
  tests/integration/post_training/test_post_training.py
Due: forbid-pytest-asyncio

NIM not working yet
  llama_stack/distribution/ui/modules/api.py
  llama_stack/distribution/ui/page/distribution/providers.py
  llama_stack/providers/remote/inference/nvidia/nvidia.py
Due: provider-codegen, forbid-pytest-asyncio

feat(tests): record responses for evals and telemetry tests
  tests/integration/inference/test_openai_completion.py
  tests/integration/recordings/index.sqlite
  tests/integration/recordings/responses/04172112ffbb.json
  tests/integration/recordings/responses/1b92be674e2a.json
  tests/integration/recordings/responses/44fb9cf5875f.json
  tests/integration/recordings/responses/4a3a4447b16b.json
  tests/integration/recordings/responses/7354ec181984.json
  tests/integration/recordings/responses/7e6806cba34a.json
  tests/integration/recordings/responses/ae1c22f18ecc.json
  tests/integration/recordings/responses/b14ff438ca99.json
  tests/integration/recordings/responses/d0ac68cbde69.json
  tests/integration/recordings/responses/dac7a32e5db9.json
  tests/integration/recordings/responses/ed9e9b34008d.json
Due: forbid-pytest-asyncio

feat(tests): record responses for evals and telemetry tests (#2954)
  tests/integration/inference/test_openai_completion.py
  tests/integration/recordings/index.sqlite
  tests/integration/recordings/responses/04172112ffbb.json
  tests/integration/recordings/responses/1b92be674e2a.json
  tests/integration/recordings/responses/44fb9cf5875f.json
  tests/integration/recordings/responses/4a3a4447b16b.json
  tests/integration/recordings/responses/7354ec181984.json
  tests/integration/recordings/responses/7e6806cba34a.json
  tests/integration/recordings/responses/ae1c22f18ecc.json
  tests/integration/recordings/responses/b14ff438ca99.json
  tests/integration/recordings/responses/d0ac68cbde69.json
  tests/integration/recordings/responses/dac7a32e5db9.json
  tests/integration/recordings/responses/ed9e9b34008d.json
Due: forbid-pytest-asyncio

feat(ci): use replay mode, setup ollama if specific label exists on PR
  .github/workflows/integration-tests.yml
Due: generate-ci-docs

fix
  .github/workflows/integration-tests.yml
Due: generate-ci-docs

more fixes
  .github/workflows/integration-tests.yml
Due: generate-ci-docs

record tool_runtime tests
  tests/integration/recordings/index.sqlite
  tests/integration/recordings/responses/0ff78129bb3a.json
  tests/integration/recordings/responses/4597743bcd2a.json
  tests/integration/recordings/responses/4a3a4447b16b.json
  tests/integration/recordings/responses/c7582fa7c2c4.json
  tests/integration/recordings/responses/d0ac68cbde69.json
  tests/integration/recordings/responses/f3c3afbd9b7e.json
  tests/integration/tool_runtime/test_mcp.py
Due: forbid-pytest-asyncio
