Repository meta-llama/llama-stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: distro-codegen, provider-codegen, openapi-codegen, forbid-pytest-asyncio, generate-ci-docs

distro-codegen:
  name: Distribution Template Codegen
  additional_dependencies:
  - uv==0.7.8
  entry: uv run --group codegen ./scripts/distro_codegen.py
  language: python
  pass_filenames: false
  require_serial: true

provider-codegen:
  name: Provider Codegen
  additional_dependencies:
  - uv==0.7.8
  entry: uv run --group codegen ./scripts/provider_codegen.py
  language: python
  pass_filenames: false
  require_serial: true

openapi-codegen:
  name: API Spec Codegen
  additional_dependencies:
  - uv==0.7.8
  entry: sh -c 'uv run ./docs/openapi_generator/run_openapi_generator.sh > /dev/null'
  language: python
  pass_filenames: false
  require_serial: true

forbid-pytest-asyncio:
  name: Block @pytest.mark.asyncio and @pytest_asyncio.fixture
  entry: bash
  language: system
  pass_filenames: true
  args:
  - -c
  ...

generate-ci-docs:
  name: Generate CI documentation
  additional_dependencies:
  - uv==0.7.8
  entry: uv run ./scripts/gen-ci-docs.py
  language: python
  pass_filenames: false
  require_serial: true

fix(ci): simplify integration tests replay mode
  .github/workflows/README.md
  .github/workflows/integration-tests.yml
  .github/workflows/integration-vision-tests.yml
Due: generate-ci-docs

disable post-training, fix artifact name
  .github/actions/run-and-record-tests/action.yml
  .github/workflows/integration-tests.yml
Due: generate-ci-docs

dont pull ollama for replay mode
  .github/actions/setup-test-environment/action.yml
  .github/workflows/integration-tests.yml
Due: generate-ci-docs

use strategy.job-index to dedup
  .github/actions/run-and-record-tests/action.yml
Due: none

fix(ci): simplify integration tests replay mode (#2997)
  .github/actions/run-and-record-tests/action.yml
  .github/actions/setup-test-environment/action.yml
  .github/workflows/README.md
  .github/workflows/integration-tests.yml
  .github/workflows/integration-vision-tests.yml
Due: generate-ci-docs

kind of working
  docs/source/distributions/k8s/llama-nim.yaml.template
  docs/source/distributions/k8s/stack-configmap.yaml
  docs/source/distributions/k8s/stack-k8s.yaml.template
  docs/source/distributions/k8s/stack_run_config.yaml
  llama_stack/distribution/ui/page/distribution/providers.py
  llama_stack/providers/utils/inference/stream_utils.py
Due: provider-codegen, forbid-pytest-asyncio

feat(ci): only run on 3.12, run on both 3.12 and 3.13 nightly
  .github/workflows/integration-tests.yml
Due: generate-ci-docs

feat(ci): only run on 3.12, run on both 3.12 and 3.13 nightly (#3000)
  .github/workflows/integration-tests.yml
Due: generate-ci-docs

fix(ci): syntax error in the disabled workflow
  .github/workflows/test-external-provider-module.yml
Due: generate-ci-docs

checkpoint
  docs/source/distributions/k8s/apply.sh
Due: none

[feat] Implement hybrid search for milvus
  llama_stack/providers/remote/vector_io/milvus/milvus.py
  llama_stack/providers/utils/memory/vector_store.py
  tests/unit/providers/vector_io/remote/test_milvus.py
Due: provider-codegen, forbid-pytest-asyncio

feat(ci): introduce workflow for re-recording inference outputs
  .github/workflows/README.md
  .github/workflows/record-integration-tests.yml
Due: generate-ci-docs

debug
  .github/workflows/record-integration-tests.yml
Due: generate-ci-docs

use gh pr view
  .github/workflows/record-integration-tests.yml
Due: generate-ci-docs

need to set GH_TOKEN
  .github/workflows/record-integration-tests.yml
Due: generate-ci-docs

foo
  .github/workflows/record-integration-tests.yml
Due: generate-ci-docs

setup ollama
  .github/workflows/record-integration-tests.yml
Due: generate-ci-docs

making docker container identification a litle more flexible
  llama_stack/providers/remote/vector_io/weaviate/weaviate.py
Due: provider-codegen, forbid-pytest-asyncio

chore: Enabling Integration tests for Weaviate (#2882)
  .github/workflows/integration-vector-io-tests.yml
  docs/source/providers/vector_io/remote_weaviate.md
  llama_stack/apis/vector_io/vector_io.py
  llama_stack/providers/remote/vector_io/milvus/milvus.py
  llama_stack/providers/remote/vector_io/weaviate/__init__.py
  llama_stack/providers/remote/vector_io/weaviate/config.py
  llama_stack/providers/remote/vector_io/weaviate/weaviate.py
  llama_stack/providers/utils/memory/vector_store.py
  llama_stack/providers/utils/vector_io/vector_utils.py
  pyproject.toml
  tests/integration/vector_io/test_openai_vector_stores.py
  tests/unit/providers/vector_io/test_vector_utils.py
  uv.lock
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio, generate-ci-docs

feat(ci): introduce workflow for re-recording inference outputs (#3002)
  .github/workflows/README.md
  .github/workflows/record-integration-tests.yml
  tests/integration/recordings/vision/index.sqlite
  tests/integration/recordings/vision/responses/4a3a4447b16b.json
  tests/integration/recordings/vision/responses/f1592dee71e5.json
  tests/integration/recordings/vision/responses/ff7db0102b28.json
Due: generate-ci-docs

Add items and title to ToolParameter/ToolParamDefinition
  llama_stack/apis/tools/tools.py
  llama_stack/models/llama/datatypes.py
  llama_stack/providers/inline/agents/meta_reference/agent_instance.py
  llama_stack/providers/utils/inference/openai_compat.py
  llama_stack/providers/utils/tools/mcp.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

test: use uv when starting server
  tests/integration/fixtures/common.py
Due: forbid-pytest-asyncio

test: use llama stack build when starting server (#2999)
  tests/integration/fixtures/common.py
Due: forbid-pytest-asyncio

not working grafana
  docs/source/distributions/k8s/apply.sh
  docs/source/distributions/k8s/delete.sh
  docs/source/distributions/k8s/llama-nim.yaml.template
  docs/source/distributions/k8s/monitoring-k8s.yaml.template
  docs/source/distributions/k8s/prometheus-rbac.yaml
  docs/source/distributions/k8s/vllm-k8s.yaml.template
Due: none

feat: Add openAI compatible APIs to Qdrant (#2465)
  .github/workflows/integration-vector-io-tests.yml
  docs/source/providers/vector_io/inline_qdrant.md
  docs/source/providers/vector_io/remote_qdrant.md
  llama_stack/providers/inline/vector_io/qdrant/__init__.py
  llama_stack/providers/inline/vector_io/qdrant/config.py
  llama_stack/providers/registry/vector_io.py
  llama_stack/providers/remote/vector_io/qdrant/__init__.py
  llama_stack/providers/remote/vector_io/qdrant/config.py
  llama_stack/providers/remote/vector_io/qdrant/qdrant.py
  tests/integration/vector_io/test_openai_vector_stores.py
  tests/integration/vector_io/test_vector_io.py
  tests/unit/providers/vector_io/conftest.py
  tests/unit/providers/vector_io/test_qdrant.py
Due: provider-codegen, forbid-pytest-asyncio, generate-ci-docs

feat: Remove initialize() Method from LlamaStackAsLibrary
  docs/source/distributions/importing_as_library.md
  llama_stack/core/library_client.py
  tests/integration/fixtures/common.py
  tests/unit/distribution/test_library_client_initialization.py
  tests/verifications/openai_api/fixtures/fixtures.py
Due: forbid-pytest-asyncio

feat: configure vector-io provider with an embedding model
  docs/_static/llama-stack-spec.html
  docs/_static/llama-stack-spec.yaml
  docs/source/providers/vector_io/inline_chromadb.md
  docs/source/providers/vector_io/inline_faiss.md
  docs/source/providers/vector_io/inline_meta-reference.md
  docs/source/providers/vector_io/inline_milvus.md
  docs/source/providers/vector_io/inline_sqlite-vec.md
  docs/source/providers/vector_io/inline_sqlite_vec.md
  docs/source/providers/vector_io/remote_chromadb.md
  docs/source/providers/vector_io/remote_milvus.md
  docs/source/providers/vector_io/remote_pgvector.md
  docs/source/providers/vector_io/remote_qdrant.md
  docs/source/providers/vector_io/remote_weaviate.md
  llama_stack/apis/vector_dbs/vector_dbs.py
  llama_stack/core/routers/vector_io.py
  llama_stack/providers/inline/vector_io/chroma/config.py
  llama_stack/providers/inline/vector_io/faiss/config.py
  llama_stack/providers/inline/vector_io/faiss/faiss.py
  llama_stack/providers/inline/vector_io/milvus/config.py
  llama_stack/providers/inline/vector_io/sqlite_vec/config.py
  llama_stack/providers/remote/vector_io/chroma/config.py
  llama_stack/providers/remote/vector_io/milvus/config.py
  llama_stack/providers/remote/vector_io/milvus/milvus.py
  llama_stack/providers/remote/vector_io/pgvector/config.py
  llama_stack/providers/remote/vector_io/pgvector/pgvector.py
  llama_stack/providers/remote/vector_io/qdrant/config.py
  llama_stack/providers/remote/vector_io/weaviate/config.py
  llama_stack/providers/utils/memory/vector_store.py
  llama_stack/providers/utils/vector_io/embedding_config.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

chore: Update README for supported DBs
  README.md
Due: none

chore: Update README for supported DBs (#3005)
  README.md
Due: none

feat(vector-io): implement global default embedding model configuration (Issue #2729)
  docs/source/distributions/configuration.md
  llama_stack/apis/common/vector_store_config.py
  llama_stack/core/datatypes.py
  llama_stack/core/routers/vector_io.py
  llama_stack/templates/watsonx/build.yaml
  tests/unit/common/test_vector_store_config.py
  tests/unit/router/test_embedding_precedence.py
Due: distro-codegen, openapi-codegen, forbid-pytest-asyncio

feat(vector-io): implement global default embedding model configuration (Issue #2729)
  tests/integration/conftest.py
Due: forbid-pytest-asyncio

fix(tests): remove @pytest.mark.asyncio decorators from unit tests
  tests/unit/router/test_embedding_precedence.py
Due: forbid-pytest-asyncio

fix: update import path from distribution to core after upstream migration
  tests/unit/router/test_embedding_precedence.py
Due: forbid-pytest-asyncio

style: fix formatting in MissingEmbeddingModelError class
  llama_stack/apis/common/errors.py
Due: openapi-codegen, forbid-pytest-asyncio

Address review comments for global vector store configuration
  docs/source/distributions/configuration.md
  llama_stack/apis/common/errors.py
  llama_stack/apis/common/vector_store_config.py
  llama_stack/core/routers/vector_io.py
  tests/unit/router/test_embedding_precedence.py
Due: openapi-codegen, forbid-pytest-asyncio

docs: update configuration documentation for global default embedding model
  docs/source/distributions/configuration.md
  llama_stack/apis/common/vector_store_config.py
Due: openapi-codegen, forbid-pytest-asyncio

fix: sambanova inference provider (#2996)
  llama_stack/providers/remote/inference/sambanova/sambanova.py
  llama_stack/providers/utils/inference/litellm_openai_mixin.py
  llama_stack/providers/utils/inference/openai_compat.py
Due: provider-codegen, forbid-pytest-asyncio

Unit test
  tests/unit/providers/agent/test_meta_reference_agent.py
Due: forbid-pytest-asyncio

fix: exclude llama-stack when installing external-providers
  llama_stack/core/build_conda_env.sh
  llama_stack/core/build_container.sh
  llama_stack/core/build_venv.sh
Due: none

test: re-enable external provider module test
  .github/workflows/test-external-provider-module.yml
  tests/external/ramalama-stack/run.yaml
Due: generate-ci-docs

Path conditions:
  distro-codegen: any of: ^llama_stack/templates/.*$|^llama_stack/providers/.*/inference/.*/models\.py$, but not: build/
  provider-codegen: any of: ^llama_stack/providers/.*$, but not: build/
  openapi-codegen: any of: ^llama_stack/apis/|^docs/openapi_generator/, but not: build/
  forbid-pytest-asyncio: any of: \.py$, but not: build/
  generate-ci-docs: any of: ^.github/workflows/.*$, but not: build/
