Repository meta-llama/llama-stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: distro-codegen, provider-codegen, openapi-codegen, forbid-pytest-asyncio, generate-ci-docs

distro-codegen:
  name: Distribution Template Codegen
  additional_dependencies:
  - uv==0.7.8
  entry: uv run --group codegen ./scripts/distro_codegen.py
  language: python
  pass_filenames: false
  require_serial: true

provider-codegen:
  name: Provider Codegen
  additional_dependencies:
  - uv==0.7.8
  entry: uv run --group codegen ./scripts/provider_codegen.py
  language: python
  pass_filenames: false
  require_serial: true

openapi-codegen:
  name: API Spec Codegen
  additional_dependencies:
  - uv==0.7.8
  entry: sh -c 'uv run ./docs/openapi_generator/run_openapi_generator.sh > /dev/null'
  language: python
  pass_filenames: false
  require_serial: true

forbid-pytest-asyncio:
  name: Block @pytest.mark.asyncio and @pytest_asyncio.fixture
  entry: bash
  language: system
  pass_filenames: true
  args:
  - -c
  ...

generate-ci-docs:
  name: Generate CI documentation
  additional_dependencies:
  - uv==0.7.8
  entry: uv run ./scripts/gen-ci-docs.py
  language: python
  pass_filenames: false
  require_serial: true

pre-commit
  scripts/provider_codegen.py
Due: forbid-pytest-asyncio

[Feat] Implement keyword search in FAISS
  llama_stack/providers/inline/vector_io/faiss/faiss.py
  tests/integration/vector_io/test_openai_vector_stores.py
  tests/unit/providers/vector_io/test_faiss.py
Due: provider-codegen, forbid-pytest-asyncio

chore: update postgres_demo with new config
  llama_stack/distributions/postgres-demo/postgres_demo.py
  llama_stack/distributions/postgres-demo/run.yaml
Due: forbid-pytest-asyncio

feat(ui): Adding Files/contents to Admin portal to investigate File Contents
  llama_stack/ui/app/logs/vector-stores/[id]/files/[fileId]/contents/[contentId]/page.tsx
  llama_stack/ui/app/logs/vector-stores/[id]/files/[fileId]/contents/page.tsx
  llama_stack/ui/app/logs/vector-stores/[id]/files/[fileId]/page.tsx
  llama_stack/ui/components/vector-stores/vector-store-detail.tsx
  llama_stack/ui/lib/contents-api.ts
  llama_stack/ui/package-lock.json
  llama_stack/ui/package.json
Due: none

add delete_chunk feature at chroma
  llama_stack/providers/remote/vector_io/chroma/chroma.py
Due: provider-codegen, forbid-pytest-asyncio

ci(pre-commit): enforce presence of 'upload-time' field in uv.lock (#2920)
  pyproject.toml
Due: none

chore: update postgres_demo with new config (#3045)
  llama_stack/distributions/postgres-demo/postgres_demo.py
  llama_stack/distributions/postgres-demo/run.yaml
Due: forbid-pytest-asyncio

docs: remove pure venv references
  docs/source/distributions/ondevice_distro/android_sdk.md
  docs/source/getting_started/detailed_tutorial.md
  docs/source/references/llama_cli_reference/download_models.md
  docs/source/references/llama_cli_reference/index.md
Due: none

fix(docs): update llama stack build CLI doc
  docs/source/distributions/building_distro.md
Due: none

fix(docs): update llama stack build CLI doc (#3050)
  docs/source/distributions/building_distro.md
Due: none

refactor: introduce common 'ResourceNotFoundError' exception
  llama_stack/apis/common/errors.py
  tests/integration/tool_runtime/test_registration.py
Due: openapi-codegen, forbid-pytest-asyncio

refactor: introduce common 'ResourceNotFoundError' exception (#3032)
  llama_stack/apis/common/errors.py
  tests/integration/tool_runtime/test_registration.py
Due: openapi-codegen, forbid-pytest-asyncio

t fix(ci): allow tests to skip llama stack client instantiation
  llama_stack/ui/package.json
  tests/integration/conftest.py
  tests/integration/providers/utils/sqlstore/conftest.py
Due: forbid-pytest-asyncio

fix
  tests/integration/conftest.py
Due: forbid-pytest-asyncio

docs: remove pure venv references (#3047)
  docs/source/distributions/ondevice_distro/android_sdk.md
  docs/source/getting_started/detailed_tutorial.md
  docs/source/references/llama_cli_reference/download_models.md
  docs/source/references/llama_cli_reference/index.md
Due: none

be less dumb
  tests/integration/conftest.py
Due: forbid-pytest-asyncio

huh
  tests/integration/conftest.py
Due: forbid-pytest-asyncio

simpler
  tests/integration/conftest.py
  tests/integration/providers/utils/sqlstore/conftest.py
Due: forbid-pytest-asyncio

fix(ci): allow tests to skip llama stack client instantiation (#3052)
  llama_stack/ui/package.json
  tests/integration/conftest.py
Due: forbid-pytest-asyncio

chore: standardize missing training config error
  llama_stack/apis/common/errors.py
  llama_stack/providers/inline/post_training/huggingface/recipes/finetune_single_device.py
  llama_stack/providers/inline/post_training/huggingface/recipes/finetune_single_device_dpo.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

chore: standardize model type error
  llama_stack/apis/common/errors.py
  llama_stack/core/routers/inference.py
  llama_stack/core/routing_tables/vector_dbs.py
  llama_stack/providers/remote/inference/ollama/ollama.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

fix: actually propagate inference metrics
  llama_stack/core/routers/inference.py
  llama_stack/providers/utils/inference/stream_utils.py
  llama_stack/providers/utils/telemetry/tracing.py
Due: provider-codegen, forbid-pytest-asyncio

fix: fix meta_reference telemetry console
  llama_stack/providers/inline/telemetry/meta_reference/console_span_processor.py
  llama_stack/providers/inline/telemetry/meta_reference/telemetry.py
Due: provider-codegen, forbid-pytest-asyncio

test: add telemetry tests for openai
  llama_stack/core/routers/inference.py
  tests/integration/recordings/index.sqlite
  tests/integration/recordings/responses/140187e305dc.json
  tests/integration/recordings/responses/382c2f22274c.json
  tests/integration/recordings/responses/4096743baf8e.json
  tests/integration/recordings/responses/67198cbad48f.json
  tests/integration/recordings/responses/8295382a8e7c.json
  tests/integration/recordings/responses/830a1fe14938.json
  tests/integration/recordings/responses/9c007f300365.json
  tests/integration/recordings/responses/a5187d9d5057.json
  tests/integration/recordings/responses/c9667519ad7c.json
  tests/integration/recordings/responses/cb3df2a1dc22.json
  tests/integration/recordings/responses/d0ac68cbde69.json
  tests/integration/recordings/responses/d4f56d7d1996.json
  tests/integration/recordings/responses/e2c9b07709fe.json
  tests/integration/recordings/vision/responses/4096743baf8e.json
  tests/integration/recordings/vision/responses/67198cbad48f.json
  tests/integration/recordings/vision/responses/830a1fe14938.json
  tests/integration/recordings/vision/responses/9c007f300365.json
  tests/integration/recordings/vision/responses/c9667519ad7c.json
  tests/integration/recordings/vision/responses/d4f56d7d1996.json
  tests/integration/telemetry/test_openai_telemetry.py
Due: forbid-pytest-asyncio

fix: telemetry fixes (inference and core telemetry) (#2733)
  llama_stack/core/routers/inference.py
  llama_stack/providers/inline/telemetry/meta_reference/console_span_processor.py
  llama_stack/providers/inline/telemetry/meta_reference/telemetry.py
  llama_stack/providers/utils/inference/stream_utils.py
  llama_stack/providers/utils/telemetry/tracing.py
  tests/integration/recordings/index.sqlite
  tests/integration/recordings/responses/140187e305dc.json
  tests/integration/recordings/responses/382c2f22274c.json
  tests/integration/recordings/responses/4096743baf8e.json
  tests/integration/recordings/responses/67198cbad48f.json
  tests/integration/recordings/responses/8295382a8e7c.json
  tests/integration/recordings/responses/830a1fe14938.json
  tests/integration/recordings/responses/9c007f300365.json
  tests/integration/recordings/responses/a5187d9d5057.json
  tests/integration/recordings/responses/c9667519ad7c.json
  tests/integration/recordings/responses/cb3df2a1dc22.json
  tests/integration/recordings/responses/d0ac68cbde69.json
  tests/integration/recordings/responses/d4f56d7d1996.json
  tests/integration/recordings/responses/e2c9b07709fe.json
  tests/integration/recordings/vision/responses/4096743baf8e.json
  tests/integration/recordings/vision/responses/67198cbad48f.json
  tests/integration/recordings/vision/responses/830a1fe14938.json
  tests/integration/recordings/vision/responses/9c007f300365.json
  tests/integration/recordings/vision/responses/c9667519ad7c.json
  tests/integration/recordings/vision/responses/d4f56d7d1996.json
  tests/integration/telemetry/test_openai_telemetry.py
Due: provider-codegen, forbid-pytest-asyncio

docs: add use of custom exceptions to code style guide
  CONTRIBUTING.md
Due: none

feat: Add open ai compatible moderations api
  llama_stack/providers/inline/safety/llama_guard/llama_guard.py
Due: provider-codegen, forbid-pytest-asyncio

update as per comments
  llama_stack/core/routers/safety.py
  llama_stack/providers/inline/safety/llama_guard/llama_guard.py
  tests/integration/safety/test_safety.py
Due: provider-codegen, forbid-pytest-asyncio

update test suite to moderations.create
  tests/integration/safety/test_safety.py
Due: forbid-pytest-asyncio

update method name to run_moderation
  docs/_static/llama-stack-spec.html
  docs/_static/llama-stack-spec.yaml
  llama_stack/apis/safety/safety.py
  llama_stack/core/routers/safety.py
  llama_stack/providers/inline/safety/llama_guard/llama_guard.py
  tests/integration/safety/test_safety.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

Add validation for required OAI categories
  llama_stack/apis/safety/safety.py
  llama_stack/core/routers/safety.py
  llama_stack/providers/inline/safety/llama_guard/llama_guard.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

update to openai_chat_completion
  llama_stack/providers/inline/safety/llama_guard/llama_guard.py
Due: provider-codegen, forbid-pytest-asyncio

minor fix
  llama_stack/providers/inline/safety/llama_guard/llama_guard.py
Due: provider-codegen, forbid-pytest-asyncio

update documentation with required categories
  docs/_static/llama-stack-spec.html
  docs/_static/llama-stack-spec.yaml
  llama_stack/apis/safety/safety.py
Due: openapi-codegen, forbid-pytest-asyncio

skip run_moderation tests until Client SDK updated
  tests/integration/safety/test_safety.py
Due: forbid-pytest-asyncio

feat: Add open ai compatible moderations api
  docs/_static/llama-stack-spec.html
  docs/_static/llama-stack-spec.yaml
  llama_stack/apis/safety/safety.py
  llama_stack/core/routers/safety.py
  llama_stack/providers/inline/safety/llama_guard/llama_guard.py
  tests/integration/safety/test_safety.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

[feat] Implement hybrid search for milvus
  llama_stack/providers/remote/vector_io/milvus/milvus.py
  llama_stack/providers/utils/memory/vector_store.py
  tests/integration/vector_io/test_openai_vector_stores.py
  tests/unit/providers/vector_io/remote/test_milvus.py
Due: provider-codegen, forbid-pytest-asyncio

Path conditions:
  distro-codegen: any of: ^llama_stack/templates/.*$|^llama_stack/providers/.*/inference/.*/models\.py$, but not: build/
  provider-codegen: any of: ^llama_stack/providers/.*$, but not: build/
  openapi-codegen: any of: ^llama_stack/apis/|^docs/openapi_generator/, but not: build/
  forbid-pytest-asyncio: any of: \.py$, but not: build/
  generate-ci-docs: any of: ^.github/workflows/.*$, but not: build/
