Repository meta-llama/llama-stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: distro-codegen, provider-codegen, openapi-codegen, forbid-pytest-asyncio, generate-ci-docs

distro-codegen:
  name: Distribution Template Codegen
  additional_dependencies:
  - uv==0.7.8
  entry: uv run --group codegen ./scripts/distro_codegen.py
  language: python
  pass_filenames: false
  require_serial: true

provider-codegen:
  name: Provider Codegen
  additional_dependencies:
  - uv==0.7.8
  entry: uv run --group codegen ./scripts/provider_codegen.py
  language: python
  pass_filenames: false
  require_serial: true

openapi-codegen:
  name: API Spec Codegen
  additional_dependencies:
  - uv==0.7.8
  entry: sh -c 'uv run ./docs/openapi_generator/run_openapi_generator.sh > /dev/null'
  language: python
  pass_filenames: false
  require_serial: true

forbid-pytest-asyncio:
  name: Block @pytest.mark.asyncio and @pytest_asyncio.fixture
  entry: bash
  language: system
  pass_filenames: true
  args:
  - -c
  ...

generate-ci-docs:
  name: Generate CI documentation
  additional_dependencies:
  - uv==0.7.8
  entry: uv run ./scripts/gen-ci-docs.py
  language: python
  pass_filenames: false
  require_serial: true

fix(misc): pin openai dependency to < 1.100.0
  llama_stack/providers/utils/inference/openai_compat.py
  pyproject.toml
  scripts/integration-tests.sh
  uv.lock
Due: provider-codegen, forbid-pytest-asyncio

fix: kill build_conda_env.sh (#3190)
  llama_stack/core/build_conda_env.sh
Due: none

fix(misc): pin openai dependency to < 1.100.0 (#3192)
  llama_stack/providers/utils/inference/openai_compat.py
  pyproject.toml
  scripts/integration-tests.sh
  uv.lock
Due: provider-codegen, forbid-pytest-asyncio

adding new tests
  .github/workflows/ui-unit-tests.yml
  llama_stack/ui/app/logs/vector-stores/[id]/files/[fileId]/contents/[contentId]/page.test.tsx
  llama_stack/ui/app/logs/vector-stores/[id]/files/[fileId]/contents/page.test.tsx
  llama_stack/ui/app/logs/vector-stores/[id]/files/[fileId]/page.test.tsx
  llama_stack/ui/components/vector-stores/vector-store-detail.test.tsx
Due: generate-ci-docs

chore(files tests): update files integration tests and fix inline::localfs
  llama_stack/providers/inline/files/localfs/files.py
  tests/integration/files/test_files.py
  tests/integration/fixtures/common.py
Due: provider-codegen, forbid-pytest-asyncio

fix: list models only for active providers
  llama_stack/core/routers/vector_io.py
  llama_stack/core/routing_tables/benchmarks.py
  llama_stack/core/routing_tables/common.py
  llama_stack/core/routing_tables/datasets.py
  llama_stack/core/routing_tables/models.py
  llama_stack/core/routing_tables/scoring_functions.py
  llama_stack/core/routing_tables/shields.py
  llama_stack/core/routing_tables/toolgroups.py
  llama_stack/core/routing_tables/vector_dbs.py
Due: forbid-pytest-asyncio

add unit changes
  tests/unit/files/test_files.py
Due: forbid-pytest-asyncio

fix(openai_responses): OpenAIResponsesObject is not complete
  llama_stack/apis/agents/openai_responses.py
  llama_stack/apis/tools/openai_tool_choice.py
Due: openapi-codegen, forbid-pytest-asyncio

feat: Code scanner Provider impl for moderations api (#3100)
  llama_stack/core/routers/safety.py
  llama_stack/distributions/ci-tests/build.yaml
  llama_stack/distributions/ci-tests/run.yaml
  llama_stack/distributions/starter/build.yaml
  llama_stack/distributions/starter/run.yaml
  llama_stack/distributions/starter/starter.py
  llama_stack/providers/inline/safety/code_scanner/code_scanner.py
  llama_stack/providers/inline/safety/llama_guard/llama_guard.py
  tests/integration/safety/test_safety.py
Due: provider-codegen, forbid-pytest-asyncio

feat(cli): make venv the default image type (#3187)
  llama_stack/cli/stack/_build.py
  llama_stack/cli/stack/build.py
Due: forbid-pytest-asyncio

Revert "feat(cli): make venv the default image type (#3187)"
  llama_stack/cli/stack/_build.py
  llama_stack/cli/stack/build.py
Due: forbid-pytest-asyncio

revert: "feat(cli): make venv the default image type" (#3196)
  llama_stack/cli/stack/_build.py
  llama_stack/cli/stack/build.py
Due: forbid-pytest-asyncio

chore: Adding UI unit tests in CI (#3191)
  .github/workflows/README.md
  .github/workflows/integration-auth-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/integration-vector-io-tests.yml
  .github/workflows/python-build-test.yml
  .github/workflows/test-external.yml
  .github/workflows/ui-unit-tests.yml
  .github/workflows/unit-tests.yml
  llama_stack/ui/app/logs/vector-stores/[id]/files/[fileId]/contents/[contentId]/page.test.tsx
  llama_stack/ui/app/logs/vector-stores/[id]/files/[fileId]/contents/page.test.tsx
  llama_stack/ui/app/logs/vector-stores/[id]/files/[fileId]/contents/page.tsx
  llama_stack/ui/app/logs/vector-stores/[id]/files/[fileId]/page.test.tsx
  llama_stack/ui/components/chat-playground/markdown-renderer.tsx
  llama_stack/ui/components/vector-stores/vector-store-detail.test.tsx
Due: generate-ci-docs

skip openai_client tests if no server is running
  tests/integration/files/test_files.py
Due: forbid-pytest-asyncio

move server requirement directly to openai_client
  tests/integration/files/test_files.py
  tests/integration/fixtures/common.py
Due: forbid-pytest-asyncio

yes
  .github/actions/run-and-record-tests/action.yml
  .github/actions/setup-runner/action.yml
Due: none

fix
  .github/actions/run-and-record-tests/action.yml
Due: none

debug and fix
  .github/actions/setup-runner/action.yml
  tests/integration/agents/test_agents.py
Due: forbid-pytest-asyncio

yes3
  .github/actions/setup-test-environment/action.yml
Due: none

add debug
  scripts/integration-tests.sh
  tests/integration/agents/test_agents.py
Due: forbid-pytest-asyncio

yes4
  .github/actions/run-and-record-tests/action.yml
  .github/actions/setup-runner/action.yml
  .github/actions/setup-test-environment/action.yml
  .github/workflows/install-script-ci.yml
  .github/workflows/integration-vector-io-tests.yml
  .github/workflows/test-external.yml
Due: generate-ci-docs

cleanup
  tests/integration/agents/test_agents.py
Due: forbid-pytest-asyncio

.
  .github/actions/run-and-record-tests/action.yml
  llama_stack/core/build_venv.sh
  scripts/integration-tests.sh
Due: none

we must run llama stack build properly
  .github/actions/setup-runner/action.yml
  .github/actions/setup-test-environment/action.yml
  llama_stack/core/build_venv.sh
Due: none

cant make git editable doofus
  llama_stack/core/build_venv.sh
Due: none

.
  .github/actions/run-and-record-tests/action.yml
  .github/actions/setup-runner/action.yml
  .github/actions/setup-test-environment/action.yml
  scripts/integration-tests.sh
Due: none

make a separate venv
  .github/actions/setup-runner/action.yml
Due: none

fix(test): fix an age old test and record
  tests/integration/agents/test_agents.py
  tests/integration/recordings/index.sqlite
  tests/integration/recordings/responses/4a3a4447b16b.json
  tests/integration/recordings/responses/731824c54461.json
  tests/integration/recordings/responses/d0ac68cbde69.json
Due: forbid-pytest-asyncio

stop auto-activating environment
  .github/actions/setup-runner/action.yml
Due: none

more debug
  .github/actions/setup-test-environment/action.yml
  scripts/integration-tests.sh
Due: none

try once more
  llama_stack/testing/inference_recorder.py
  tests/integration/agents/test_agents.py
Due: forbid-pytest-asyncio

fix
  .github/actions/setup-test-environment/action.yml
Due: none

yes3
  .github/actions/run-and-record-tests/action.yml
  llama_stack/core/build_venv.sh
  scripts/integration-tests.sh
Due: none

yes2
  .github/actions/run-and-record-tests/action.yml
  .github/actions/setup-runner/action.yml
Due: none

disable flaky test
  tests/integration/agents/test_agents.py
Due: forbid-pytest-asyncio

fix(ci, tests): ensure uv environments in CI are kosher, record tests (#3193)
  .github/actions/run-and-record-tests/action.yml
  .github/actions/setup-runner/action.yml
  .github/actions/setup-test-environment/action.yml
  .github/workflows/install-script-ci.yml
  .github/workflows/integration-vector-io-tests.yml
  .github/workflows/test-external.yml
  llama_stack/core/build_venv.sh
  llama_stack/testing/inference_recorder.py
  scripts/integration-tests.sh
  tests/integration/agents/test_agents.py
  tests/integration/recordings/index.sqlite
  tests/integration/recordings/responses/4a3a4447b16b.json
  tests/integration/recordings/responses/731824c54461.json
  tests/integration/recordings/responses/d0ac68cbde69.json
Due: forbid-pytest-asyncio, generate-ci-docs

feat(vector-io): add OpenGauss vector database provider
  .github/workflows/integration-vector-io-tests.yml
  docs/source/distributions/k8s-benchmark/benchmark.py
  docs/source/providers/agents/index.md
  docs/source/providers/batches/index.md
  docs/source/providers/inference/index.md
  docs/source/providers/vector_io/index.md
  docs/source/providers/vector_io/remote_opengauss.md
  llama_stack/providers/registry/vector_io.py
  llama_stack/providers/remote/vector_io/opengauss/__init__.py
  llama_stack/providers/remote/vector_io/opengauss/config.py
  llama_stack/providers/remote/vector_io/opengauss/opengauss.py
  tests/integration/vector_io/test_openai_vector_stores.py
  tests/unit/providers/vector_io/conftest.py
  tests/unit/providers/vector_io/test_opengauss.py
Due: provider-codegen, forbid-pytest-asyncio, generate-ci-docs

handle DB and TTL for redis KV store
  llama_stack/providers/utils/kvstore/config.py
  llama_stack/providers/utils/kvstore/redis/redis.py
Due: provider-codegen, forbid-pytest-asyncio

fix: clear model cache when run.yaml model list changes
  llama_stack/core/datatypes.py
  llama_stack/core/routing_tables/models.py
  llama_stack/core/stack.py
Due: forbid-pytest-asyncio

test: add tests for model cache cleanup functionality
  tests/unit/distribution/routers/test_routing_tables.py
Due: forbid-pytest-asyncio

Path conditions:
  distro-codegen: any of: ^llama_stack/templates/.*$|^llama_stack/providers/.*/inference/.*/models\.py$, but not: build/
  provider-codegen: any of: ^llama_stack/providers/.*$, but not: build/
  openapi-codegen: any of: ^llama_stack/apis/|^docs/openapi_generator/, but not: build/
  forbid-pytest-asyncio: any of: \.py$, but not: build/
  generate-ci-docs: any of: ^.github/workflows/.*$, but not: build/
