Repository meta-llama/llama-stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: distro-codegen, provider-codegen, openapi-codegen, forbid-pytest-asyncio, generate-ci-docs

Path conditions:
  distro-codegen: any of: ^llama_stack/templates/.*$|^llama_stack/providers/.*/inference/.*/models\.py$, but not: build/
  provider-codegen: any of: ^llama_stack/providers/.*$, but not: build/
  openapi-codegen: any of: ^llama_stack/apis/|^docs/openapi_generator/, but not: build/
  forbid-pytest-asyncio: any of: \.py$, but not: build/
  generate-ci-docs: any of: ^.github/workflows/.*$, but not: build/

fix(ci): more correct concurrency key for workflows
  .github/workflows/integration-tests.yml
Due: generate-ci-docs

another small fix
  .github/workflows/integration-tests.yml
Due: generate-ci-docs

remove host and port and use cluster url instead
  docs/source/providers/vector_io/remote_weaviate.md
  llama_stack/providers/remote/vector_io/weaviate/config.py
  llama_stack/providers/remote/vector_io/weaviate/weaviate.py
Due: provider-codegen, forbid-pytest-asyncio

update action config
  .github/workflows/integration-vector-io-tests.yml
  llama_stack/providers/remote/vector_io/weaviate/weaviate.py
Due: provider-codegen, forbid-pytest-asyncio, generate-ci-docs

finish moving chat -> chat-playground / ui and updating the prompts
  llama_stack/ui/app/auth/signin/page.tsx
  llama_stack/ui/app/chat-playground/page.tsx
  llama_stack/ui/app/logs/vector-stores/page.tsx
  llama_stack/ui/components/chat-completions/chat-completion-detail.tsx
  llama_stack/ui/components/chat-completions/chat-messasge-item.tsx
  llama_stack/ui/components/layout/detail-layout.tsx
  llama_stack/ui/components/layout/page-breadcrumb.tsx
  llama_stack/ui/components/logs/logs-table.tsx
  llama_stack/ui/components/responses/items/function-call-item.tsx
  llama_stack/ui/components/responses/items/generic-item.tsx
  llama_stack/ui/components/responses/items/grouped-function-call-item.tsx
  llama_stack/ui/components/responses/items/message-item.tsx
  llama_stack/ui/components/responses/items/web-search-item.tsx
  llama_stack/ui/components/vector-stores/vector-store-detail.tsx
Due: none

fix(ci): more correct concurrency key for workflows (#2973)
  .github/workflows/integration-tests.yml
Due: generate-ci-docs

feat(ci): add support for running vision inference tests
  .github/actions/run-integration-tests/action.yml
  .github/actions/setup-vision-ollama/action.yml
  .github/workflows/integration-vision-tests.yml
  tests/VisionContainerfile
Due: generate-ci-docs

update tests slightly, other fixes
  .github/actions/run-integration-tests/action.yml
  .github/workflows/integration-tests.yml
  .github/workflows/integration-vision-tests.yml
  tests/VisionContainerfile
  tests/integration/inference/test_vision_inference.py
Due: forbid-pytest-asyncio, generate-ci-docs

more fixes for defaults
  .github/workflows/integration-tests.yml
Due: generate-ci-docs

fixes
  llama_stack/core/build.py
Due: forbid-pytest-asyncio

feat(UI): adding MVP playground UI (#2828)
  llama_stack/ui/app/chat-playground/page.tsx
  llama_stack/ui/components.json
  llama_stack/ui/components/chat-completions/chat-messasge-item.tsx
  llama_stack/ui/components/chat-playground/chat-message.tsx
  llama_stack/ui/components/chat-playground/chat.tsx
  llama_stack/ui/components/chat-playground/interrupt-prompt.tsx
  llama_stack/ui/components/chat-playground/markdown-renderer.tsx
  llama_stack/ui/components/chat-playground/message-components.tsx
  llama_stack/ui/components/chat-playground/message-input.tsx
  llama_stack/ui/components/chat-playground/message-list.tsx
  llama_stack/ui/components/chat-playground/prompt-suggestions.tsx
  llama_stack/ui/components/chat-playground/typing-indicator.tsx
  llama_stack/ui/components/layout/app-sidebar.tsx
  llama_stack/ui/components/responses/items/function-call-item.tsx
  llama_stack/ui/components/responses/items/generic-item.tsx
  llama_stack/ui/components/responses/items/grouped-function-call-item.tsx
  llama_stack/ui/components/responses/items/message-item.tsx
  llama_stack/ui/components/responses/items/web-search-item.tsx
  llama_stack/ui/components/ui/audio-visualizer.tsx
  llama_stack/ui/components/ui/button.tsx
  llama_stack/ui/components/ui/collapsible.tsx
  llama_stack/ui/components/ui/copy-button.tsx
  llama_stack/ui/components/ui/file-preview.tsx
  llama_stack/ui/components/ui/select.tsx
  llama_stack/ui/components/ui/sonner.tsx
  llama_stack/ui/hooks/use-audio-recording.ts
  llama_stack/ui/hooks/use-auto-scroll.ts
  llama_stack/ui/hooks/use-autosize-textarea.ts
  llama_stack/ui/hooks/use-copy-to-clipboard.ts
  llama_stack/ui/lib/audio-utils.ts
  llama_stack/ui/package-lock.json
  llama_stack/ui/package.json
Due: none

debug
  .github/actions/run-integration-tests/action.yml
  .github/workflows/integration-vision-tests.yml
Due: generate-ci-docs

invert the git status check
  .github/workflows/integration-tests.yml
  .github/workflows/integration-vision-tests.yml
Due: generate-ci-docs

missed one
  llama_stack/core/utils/exec.py
Due: forbid-pytest-asyncio

testing
  .github/workflows/integration-tests.yml
  .github/workflows/integration-vision-tests.yml
Due: generate-ci-docs

[feat] Implement OpenAI APIs in qdrant
  .github/workflows/integration-vector-io-tests.yml
  docs/source/providers/vector_io/inline_qdrant.md
  docs/source/providers/vector_io/remote_qdrant.md
  llama_stack/providers/inline/vector_io/qdrant/__init__.py
  llama_stack/providers/inline/vector_io/qdrant/config.py
  llama_stack/providers/registry/vector_io.py
  llama_stack/providers/remote/vector_io/qdrant/__init__.py
  llama_stack/providers/remote/vector_io/qdrant/config.py
  llama_stack/providers/remote/vector_io/qdrant/qdrant.py
  tests/integration/vector_io/test_openai_vector_stores.py
  tests/integration/vector_io/test_vector_io.py
  tests/unit/providers/vector_io/conftest.py
  tests/unit/providers/vector_io/test_qdrant.py
Due: provider-codegen, forbid-pytest-asyncio, generate-ci-docs

moar testing
  .github/workflows/integration-vision-tests.yml
Due: generate-ci-docs

maybe now
  .github/workflows/integration-vision-tests.yml
Due: generate-ci-docs

try 1001
  .github/workflows/integration-vision-tests.yml
Due: generate-ci-docs

try 1002
  .github/workflows/integration-vision-tests.yml
Due: generate-ci-docs

try 1003
  .github/workflows/integration-vision-tests.yml
Due: generate-ci-docs

try 1004
  .github/workflows/integration-vision-tests.yml
Due: generate-ci-docs

kill separate ollama setup action
  .github/actions/run-and-record-tests/action.yml
  .github/actions/setup-ollama/action.yml
  .github/actions/setup-test-environment/action.yml
  .github/actions/setup-vision-ollama/action.yml
  .github/workflows/integration-tests.yml
  .github/workflows/integration-vision-tests.yml
Due: generate-ci-docs

fixes
  .github/actions/run-integration-tests/action.yml
  .github/actions/setup-test-environment/action.yml
  .github/workflows/integration-tests.yml
  .github/workflows/integration-vision-tests.yml
Due: generate-ci-docs

try to fix workflows
  .github/workflows/providers-build.yml
  .github/workflows/test-external.yml
Due: generate-ci-docs

final fix likely
  .github/workflows/test-external-provider-module.yml
Due: generate-ci-docs

disable external module CI
  .github/workflows/test-external-provider-module.yml
Due: generate-ci-docs

feat: Enable DPO training with HuggingFace inline provider (#2825)
  docs/source/providers/post_training/inline_huggingface.md
  llama_stack/providers/inline/post_training/huggingface/config.py
  llama_stack/providers/inline/post_training/huggingface/post_training.py
  llama_stack/providers/inline/post_training/huggingface/recipes/finetune_single_device.py
  llama_stack/providers/inline/post_training/huggingface/recipes/finetune_single_device_dpo.py
  llama_stack/providers/inline/post_training/huggingface/utils.py
  tests/integration/post_training/test_post_training.py
Due: provider-codegen, forbid-pytest-asyncio

chore: remove coverage badge from README.md
  README.md
Due: none

typo-fix: 'continuous'
  .github/workflows/README.md
  scripts/gen-ci-docs.py
Due: forbid-pytest-asyncio, generate-ci-docs

chore: Move excess raise in Vector DBs
  llama_stack/core/routing_tables/vector_dbs.py
Due: forbid-pytest-asyncio

fix: post_training ci
  tests/integration/post_training/test_post_training.py
Due: forbid-pytest-asyncio

fix: post_training ci (#2984)
  tests/integration/post_training/test_post_training.py
Due: forbid-pytest-asyncio

Remove unused DPO parameters from schema and tests
  docs/_static/llama-stack-spec.html
  docs/_static/llama-stack-spec.yaml
  llama_stack/apis/post_training/post_training.py
  tests/integration/post_training/test_post_training.py
Due: openapi-codegen, forbid-pytest-asyncio

simplification and adding shell: bash everywhere
  .github/actions/run-and-record-tests/action.yml
  .github/actions/run-integration-tests/action.yml
  .github/workflows/integration-tests.yml
  .github/workflows/integration-vision-tests.yml
Due: generate-ci-docs

fix: remove unused DPO parameters from schema and tests (#2988)
  docs/_static/llama-stack-spec.html
  docs/_static/llama-stack-spec.yaml
  llama_stack/apis/post_training/post_training.py
  tests/integration/post_training/test_post_training.py
Due: openapi-codegen, forbid-pytest-asyncio
