Repository meta-llama/llama-stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: distro-codegen, provider-codegen, openapi-codegen, forbid-pytest-asyncio, generate-ci-docs

Path conditions:
  distro-codegen: any of: ^llama_stack/templates/.*$|^llama_stack/providers/.*/inference/.*/models\.py$, but not: build/
  provider-codegen: any of: ^llama_stack/providers/.*$, but not: build/
  openapi-codegen: any of: ^llama_stack/apis/|^docs/openapi_generator/, but not: build/
  forbid-pytest-asyncio: any of: \.py$, but not: build/
  generate-ci-docs: any of: ^.github/workflows/.*$, but not: build/

Fix: Clarify location in chat completion test
  tests/integration/test_cases/inference/chat_completion.json
Due: none

feat: api level request metrics via middleware
  docs/source/building_applications/telemetry.md
  llama_stack/core/server/metrics.py
  llama_stack/core/server/server.py
  tests/unit/distribution/test_request_metrics.py
Due: forbid-pytest-asyncio

feat: llama stack sync
  llama_stack/cli/stack/_sync.py
  llama_stack/cli/stack/stack.py
  llama_stack/cli/stack/sync.py
  llama_stack/cli/stack/utils.py
  llama_stack/core/build.py
  tests/unit/distribution/test_build_path.py
Due: forbid-pytest-asyncio

chore: remove `llama stack build`
  llama_stack/cli/stack/_build.py
  llama_stack/cli/stack/build.py
  llama_stack/cli/stack/stack.py
Due: forbid-pytest-asyncio

test: convert tests to use sync
  .github/actions/setup-test-environment/action.yml
  .github/workflows/README.md
  .github/workflows/integration-vector-io-tests.yml
  .github/workflows/providers-sync.yml
  llama_stack/providers/remote/inference/fireworks/pyproject.toml
  tests/unit/distribution/test_build_path.py
  tests/unit/distribution/test_stack_sync.py
  uv.lock
Due: provider-codegen, forbid-pytest-asyncio, generate-ci-docs

feat: switch to async completion in LiteLLM OpenAI mixin (#3029)
  llama_stack/providers/utils/inference/litellm_openai_mixin.py
  tests/integration/test_cases/inference/chat_completion.json
Due: provider-codegen, forbid-pytest-asyncio

ready
  docs/source/distributions/k8s/all-manifests.yaml
  docs/source/distributions/k8s/prometheus-value.yaml
  docs/source/distributions/k8s/svc-and-pods.yaml
  docs/source/distributions/k8s/vllm-k8s.yaml.template
  llama_stack/distribution/ui/page/distribution/mcp_servers.py
  llama_stack/distribution/ui/page/playground/tools.py
Due: forbid-pytest-asyncio

add readme
  docs/source/distributions/k8s/README.md
  docs/source/distributions/k8s/apply.sh
  llama_stack/distribution/ui/page/playground/tools.py
Due: forbid-pytest-asyncio

remove reportlab dep
  pyproject.toml
  tests/integration/inference/test_openai_completion.py
  uv.lock
Due: forbid-pytest-asyncio

chore(ci): remove reportlab dep (#3033)
  pyproject.toml
  tests/integration/inference/test_openai_completion.py
  uv.lock
Due: forbid-pytest-asyncio

chore: standardize tool group not found error
  llama_stack/apis/common/errors.py
  llama_stack/core/routing_tables/toolgroups.py
Due: openapi-codegen, forbid-pytest-asyncio

fix ci
  .github/workflows/providers-build.yml
  llama_stack/cli/stack/_build.py
Due: forbid-pytest-asyncio, generate-ci-docs

kill extraneous script
  scripts/run_client_sdk_tests.py
Due: forbid-pytest-asyncio

bugfix
  .github/workflows/providers-build.yml
Due: generate-ci-docs

fix unit test
  tests/unit/distribution/test_build_path.py
Due: forbid-pytest-asyncio

chore: standardize tool group not found error (#2986)
  llama_stack/apis/common/errors.py
  llama_stack/core/routing_tables/toolgroups.py
Due: openapi-codegen, forbid-pytest-asyncio

fs
  docs/source/providers/agents/index.md
  docs/source/providers/datasetio/index.md
  docs/source/providers/eval/index.md
  docs/source/providers/files/index.md
  docs/source/providers/inference/index.md
  docs/source/providers/post_training/index.md
  docs/source/providers/safety/index.md
  docs/source/providers/scoring/index.md
  docs/source/providers/telemetry/index.md
  docs/source/providers/tool_runtime/index.md
  docs/source/providers/vector_io/index.md
Due: none

fake mode
  llama_stack/testing/fake_responses.py
  llama_stack/testing/inference_recorder.py
  tests/unit/testing/test_fake_responses.py
Due: forbid-pytest-asyncio

chore: standardize session not found error
  llama_stack/apis/common/errors.py
  llama_stack/providers/inline/agents/meta_reference/agent_instance.py
  llama_stack/providers/inline/agents/meta_reference/agents.py
  llama_stack/providers/inline/agents/meta_reference/persistence.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

chore: standardize session not found error (#3031)
  llama_stack/apis/common/errors.py
  llama_stack/providers/inline/agents/meta_reference/agent_instance.py
  llama_stack/providers/inline/agents/meta_reference/agents.py
  llama_stack/providers/inline/agents/meta_reference/persistence.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

chore: Fixing Markdown renderer
  llama_stack/ui/components/chat-playground/markdown-renderer.tsx
Due: none

chore: Fixing Markdown renderer (#3038)
  llama_stack/ui/components/chat-playground/markdown-renderer.tsx
Due: none

test
  scripts/integration-tests.sh
  tests/integration/recordings/index.sqlite
  tests/integration/recordings/responses/1b8394f90636.json
  tests/integration/recordings/responses/211b1562d4e6.json
  tests/integration/recordings/responses/48d2fb183a2a.json
  tests/integration/recordings/responses/4a3a4447b16b.json
  tests/integration/recordings/responses/561746e1c8de.json
  tests/integration/recordings/responses/563b994bb7d1.json
  tests/integration/recordings/responses/5f5d16afadb4.json
  tests/integration/recordings/responses/6cc063bbd7d3.json
  tests/integration/recordings/responses/70adef2c30c4.json
  tests/integration/recordings/responses/75d0dd9d0fa3.json
  tests/integration/recordings/responses/84cab42e1f5c.json
  tests/integration/recordings/responses/9e7a83d3d596.json
  tests/integration/recordings/responses/a6810c23eda8.json
  tests/integration/recordings/responses/ae6835cfe70e.json
  tests/integration/recordings/responses/cd094caaf1c0.json
  tests/integration/recordings/responses/d0ac68cbde69.json
  tests/integration/recordings/responses/dd9e7d5913e9.json
Due: none

chore: fix: integration tests failures marked as successful (#3039)
  scripts/integration-tests.sh
  tests/integration/recordings/index.sqlite
  tests/integration/recordings/responses/1b8394f90636.json
  tests/integration/recordings/responses/211b1562d4e6.json
  tests/integration/recordings/responses/48d2fb183a2a.json
  tests/integration/recordings/responses/4a3a4447b16b.json
  tests/integration/recordings/responses/561746e1c8de.json
  tests/integration/recordings/responses/563b994bb7d1.json
  tests/integration/recordings/responses/5f5d16afadb4.json
  tests/integration/recordings/responses/6cc063bbd7d3.json
  tests/integration/recordings/responses/70adef2c30c4.json
  tests/integration/recordings/responses/75d0dd9d0fa3.json
  tests/integration/recordings/responses/84cab42e1f5c.json
  tests/integration/recordings/responses/9e7a83d3d596.json
  tests/integration/recordings/responses/a6810c23eda8.json
  tests/integration/recordings/responses/ae6835cfe70e.json
  tests/integration/recordings/responses/cd094caaf1c0.json
  tests/integration/recordings/responses/d0ac68cbde69.json
  tests/integration/recordings/responses/dd9e7d5913e9.json
Due: none

fix: rectify typo in MANIFEST.in due to #2975
  MANIFEST.in
Due: none

docs: update CHANGELOG.md for v0.2.17
  CHANGELOG.md
Due: none

feat: make Distribution container images running be rootless in Llama Stack
  llama_stack/core/build_container.sh
Due: none

feat: create unregister shield API endpoint in Llama Stack
  docs/_static/llama-stack-spec.html
  docs/_static/llama-stack-spec.yaml
  llama_stack/apis/shields/shields.py
  llama_stack/core/routers/safety.py
  llama_stack/core/routing_tables/common.py
  llama_stack/core/routing_tables/shields.py
  llama_stack/providers/datatypes.py
  llama_stack/providers/inline/safety/llama_guard/llama_guard.py
  llama_stack/providers/inline/safety/prompt_guard/prompt_guard.py
  llama_stack/providers/remote/safety/bedrock/bedrock.py
  llama_stack/providers/remote/safety/nvidia/nvidia.py
  llama_stack/providers/remote/safety/sambanova/sambanova.py
  tests/unit/distribution/routers/test_routing_tables.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

feat: create unregister shield API endpoint in Llama Stack (#2853)
  docs/_static/llama-stack-spec.html
  docs/_static/llama-stack-spec.yaml
  llama_stack/apis/shields/shields.py
  llama_stack/core/routers/safety.py
  llama_stack/core/routing_tables/common.py
  llama_stack/core/routing_tables/shields.py
  llama_stack/providers/datatypes.py
  llama_stack/providers/inline/safety/llama_guard/llama_guard.py
  llama_stack/providers/inline/safety/prompt_guard/prompt_guard.py
  llama_stack/providers/remote/safety/bedrock/bedrock.py
  llama_stack/providers/remote/safety/nvidia/nvidia.py
  llama_stack/providers/remote/safety/sambanova/sambanova.py
  tests/unit/distribution/routers/test_routing_tables.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

Revert "ci(pre-commit): enforce presence of 'upload-time' field in uv.lock"
  .pre-commit-config.yaml
  scripts/check-upload-time.py
Due: forbid-pytest-asyncio

chore: added a minimum required uv version for stable lock diffs
  pyproject.toml
Due: none

demo
  docs/source/distributions/k8s/README.md
  docs/source/distributions/k8s/apply.sh
  docs/source/distributions/k8s/delete.sh
  docs/source/distributions/k8s/install-prometheus.sh
  docs/source/distributions/k8s/jaeger-k8s.yaml.template
  docs/source/distributions/k8s/kube-prometheus-stack.values
  docs/source/distributions/k8s/llama-nim.yaml.template
  docs/source/distributions/k8s/port-foward.sh
  docs/source/distributions/k8s/stack-configmap.yaml
  docs/source/distributions/k8s/stack-k8s.yaml.template
  docs/source/distributions/k8s/stack_run_config.yaml
  docs/source/distributions/k8s/vllm-k8s.yaml.template
Due: none

chore(misc): make tests and starter faster
  llama_stack/providers/inline/datasetio/localfs/datasetio.py
  llama_stack/providers/inline/post_training/huggingface/config.py
  llama_stack/providers/inline/post_training/huggingface/post_training.py
  llama_stack/providers/inline/post_training/torchtune/post_training.py
  llama_stack/providers/remote/datasetio/huggingface/huggingface.py
  llama_stack/providers/remote/inference/ollama/ollama.py
  llama_stack/providers/utils/datasetio/url_utils.py
  tests/integration/agents/test_openai_responses.py
  tests/integration/conftest.py
  tests/integration/fixtures/common.py
  tests/integration/inference/test_openai_completion.py
  tests/integration/recordings/index.sqlite
  tests/integration/recordings/responses/4a3a4447b16b.json
  tests/integration/recordings/responses/b44cc7a7afc8.json
  tests/integration/recordings/responses/d0ac68cbde69.json
  tests/integration/recordings/responses/da531c71e64f.json
  tests/integration/recordings/responses/dbc41d2417e1.json
  tests/integration/recordings/responses/f1ea938b0b0d.json
  tests/integration/vector_io/test_openai_vector_stores.py
Due: provider-codegen, forbid-pytest-asyncio

fix
  llama_stack/providers/inline/post_training/torchtune/post_training.py
Due: provider-codegen, forbid-pytest-asyncio

quick fix
  docs/source/distributions/k8s/port-foward.sh
  docs/source/distributions/k8s/stack-k8s.yaml.template
  llama_stack/providers/utils/inference/stream_utils.py
Due: provider-codegen, forbid-pytest-asyncio

more fixes
  docs/source/providers/agents/index.md
  docs/source/providers/datasetio/index.md
  docs/source/providers/eval/index.md
  docs/source/providers/files/index.md
  docs/source/providers/inference/index.md
  docs/source/providers/post_training/index.md
  docs/source/providers/post_training/inline_huggingface.md
  docs/source/providers/safety/index.md
  docs/source/providers/scoring/index.md
  docs/source/providers/telemetry/index.md
  docs/source/providers/tool_runtime/index.md
  docs/source/providers/vector_io/index.md
  llama_stack/providers/inline/post_training/huggingface/config.py
  scripts/provider_codegen.py
  tests/integration/agents/test_openai_responses.py
Due: provider-codegen, forbid-pytest-asyncio

even more fixes
  docs/source/providers/files/inline_localfs.md
  docs/source/providers/inference/remote_hf_endpoint.md
  docs/source/providers/inference/remote_hf_serverless.md
  docs/source/providers/inference/remote_tgi.md
  docs/source/providers/post_training/inline_huggingface.md
  docs/source/providers/vector_io/inline_chromadb.md
  docs/source/providers/vector_io/inline_milvus.md
  docs/source/providers/vector_io/inline_qdrant.md
  docs/source/providers/vector_io/inline_sqlite-vec.md
  docs/source/providers/vector_io/inline_sqlite_vec.md
  docs/source/providers/vector_io/remote_chromadb.md
  docs/source/providers/vector_io/remote_milvus.md
  llama_stack/distributions/ci-tests/run.yaml
  llama_stack/distributions/starter/run.yaml
  llama_stack/providers/inline/post_training/huggingface/config.py
  scripts/provider_codegen.py
Due: provider-codegen, forbid-pytest-asyncio
