Repository meta-llama/llama-stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: distro-codegen, provider-codegen, openapi-codegen, forbid-pytest-asyncio, generate-ci-docs

Path conditions:
  distro-codegen: any of: ^llama_stack/templates/.*$|^llama_stack/providers/.*/inference/.*/models\.py$, but not: build/
  provider-codegen: any of: ^llama_stack/providers/.*$, but not: build/
  openapi-codegen: any of: ^llama_stack/apis/|^docs/openapi_generator/, but not: build/
  forbid-pytest-asyncio: any of: \.py$, but not: build/
  generate-ci-docs: any of: ^.github/workflows/.*$, but not: build/

skip md docs
  docs/source/providers/agents/index.md
  docs/source/providers/batches/index.md
Due: none

Fix docker failing to start container
  docs/source/providers/agents/index.md
  docs/source/providers/inference/index.md
  llama_stack/providers/registry/inference.py
  llama_stack/providers/remote/inference/vertexai/vertexai.py
Due: provider-codegen, forbid-pytest-asyncio

fix for pre-commit
  docs/source/providers/batches/index.md
Due: none

add <= for the pinned version
  llama_stack/providers/registry/inference.py
Due: provider-codegen, forbid-pytest-asyncio

fix for pre-commit
  docs/source/providers/agents/index.md
  llama_stack/providers/remote/inference/vertexai/vertexai.py
Due: provider-codegen, forbid-pytest-asyncio

fix: docker failing to start container [fireworks-ai] (#3267)
  llama_stack/providers/registry/inference.py
Due: provider-codegen, forbid-pytest-asyncio

add crewai notebook
  docs/notebooks/crewai/Llama_Stack_CrewAI.ipynb
Due: none

more docs updates
  docs/source/distributions/self_hosted_distro/nvidia.md
  llama_stack/distributions/nvidia/run.yaml
  llama_stack/providers/remote/inference/nvidia/NVIDIA.md
  llama_stack/providers/remote/inference/nvidia/models.py
Due: distro-codegen, provider-codegen, forbid-pytest-asyncio

chore(dev): add inequality support to sqlstore where clause (#3272)
  llama_stack/providers/utils/sqlstore/sqlalchemy_sqlstore.py
  tests/unit/utils/sqlstore/test_sqlstore.py
Due: provider-codegen, forbid-pytest-asyncio

Update README.md
  docs/notebooks/langchain/README.md
Due: none

chore(test): migrate unit tests from unittest to pytest nvidia test eval
  tests/unit/providers/nvidia/test_eval.py
Due: forbid-pytest-asyncio

chore: enable mypy type checking for llama_guard safety provider
  llama_stack/providers/inline/safety/llama_guard/llama_guard.py
  pyproject.toml
Due: provider-codegen, forbid-pytest-asyncio

chore: enable mypy type checking for sentence transformers
  llama_stack/providers/inline/inference/sentence_transformers/sentence_transformers.py
  llama_stack/providers/registry/post_training.py
  pyproject.toml
Due: provider-codegen, forbid-pytest-asyncio

Add vector_db_id to chunk metadata
  llama_stack/providers/inline/tool_runtime/rag/memory.py
  tests/unit/rag/test_rag_query.py
Due: provider-codegen, forbid-pytest-asyncio

feat(files, s3, expiration): add expires_after support to S3 files provider
  docs/_static/llama-stack-spec.html
  docs/_static/llama-stack-spec.yaml
  llama_stack/apis/files/files.py
  llama_stack/providers/inline/files/localfs/files.py
  llama_stack/providers/remote/files/s3/files.py
  pyproject.toml
  tests/integration/files/test_files.py
  tests/unit/providers/files/test_s3_files.py
  uv.lock
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

feat(s3 auth): add authorization support for s3 files provider (#3265)
  llama_stack/providers/remote/files/s3/__init__.py
  llama_stack/providers/remote/files/s3/files.py
  tests/unit/providers/files/conftest.py
  tests/unit/providers/files/test_s3_files.py
  tests/unit/providers/files/test_s3_files_auth.py
Due: provider-codegen, forbid-pytest-asyncio

feat: implement keyword, vector and hybrid search inside vector stores for PGVector provider (#3064)
  docs/source/providers/vector_io/remote_pgvector.md
  docs/source/providers/vector_io/remote_weaviate.md
  llama_stack/providers/registry/vector_io.py
  llama_stack/providers/remote/vector_io/pgvector/pgvector.py
  llama_stack/providers/utils/vector_io/vector_utils.py
  pyproject.toml
  tests/integration/vector_io/test_openai_vector_stores.py
  tests/unit/providers/utils/memory/test_reranking.py
  tests/unit/providers/vector_io/conftest.py
  tests/unit/providers/vector_io/remote/test_pgvector.py
  uv.lock
Due: provider-codegen, forbid-pytest-asyncio

Update Bedrock provider configuration
  redhat-distribution/providers.d/remote/inference/aws_bedrock.yaml
  redhat-distribution/run.yaml
Due: none

feat: implement keyword and hybrid search for Weaviate provider
  llama_stack/providers/remote/vector_io/weaviate/weaviate.py
  llama_stack/providers/utils/memory/vector_store.py
  pyproject.toml
  tests/integration/vector_io/test_openai_vector_stores.py
  tests/unit/providers/vector_io/conftest.py
  tests/unit/providers/vector_io/remote/test_milvus.py
  tests/unit/providers/vector_io/remote/test_weaviate.py
  uv.lock
Due: provider-codegen, forbid-pytest-asyncio

fix: update Weaviate fixtures in conftest.py and improve vector DB handling
  llama_stack/providers/remote/vector_io/weaviate/weaviate.py
  tests/unit/providers/vector_io/conftest.py
Due: provider-codegen, forbid-pytest-asyncio

Add docstring to Weaviate query_vector()
  llama_stack/providers/remote/vector_io/weaviate/weaviate.py
Due: provider-codegen, forbid-pytest-asyncio

fix(weaviate): correct score calcuation for cosine distance
  llama_stack/providers/remote/vector_io/weaviate/weaviate.py
Due: provider-codegen, forbid-pytest-asyncio

docs: Add comprehensive Files API and Vector Store integration documentation
  docs/source/apis/index.md
  docs/source/concepts/apis.md
  docs/source/concepts/openai_file_operations_vector_stores.md
  docs/source/index.md
  docs/source/providers/files/files_api.md
  docs/source/providers/files/index.md
  docs/source/providers/files/openai_file_operations_quick_reference.md
  docs/source/providers/files/openai_file_operations_support.md
  docs/source/providers/vector_io/index.md
  docs/source/providers/vector_io/inline_faiss.md
  docs/source/providers/vector_io/inline_milvus.md
  docs/source/providers/vector_io/inline_sqlite-vec.md
Due: none

docs: Update provider documentation structure and cross-references
  docs/source/concepts/openai_file_operations_vector_stores.md
  docs/source/providers/agents/index.md
  docs/source/providers/batches/index.md
  docs/source/providers/files/files_api.md
  docs/source/providers/files/index.md
  docs/source/providers/files/openai_file_operations_quick_reference.md
  docs/source/providers/files/openai_file_operations_support.md
  docs/source/providers/inference/index.md
  docs/source/providers/vector_io/index.md
  docs/source/providers/vector_io/inline_faiss.md
  docs/source/providers/vector_io/inline_milvus.md
  docs/source/providers/vector_io/inline_sqlite-vec.md
Due: none

Remove bfcl from scoring functions
  docs/source/references/llama_stack_client_cli_reference.md
  llama_stack/distributions/open-benchmark/open_benchmark.py
  llama_stack/distributions/open-benchmark/run.yaml
  llama_stack/providers/inline/scoring/basic/scoring.py
  llama_stack/providers/inline/scoring/basic/scoring_fn/bfcl_scoring_fn.py
  llama_stack/providers/inline/scoring/basic/scoring_fn/fn_defs/bfcl.py
  llama_stack/providers/inline/scoring/basic/utils/bfcl/__init__.py
  llama_stack/providers/inline/scoring/basic/utils/bfcl/ast_parser.py
  llama_stack/providers/inline/scoring/basic/utils/bfcl/checker.py
  llama_stack/providers/inline/scoring/basic/utils/bfcl/tree_sitter.py
Due: provider-codegen, forbid-pytest-asyncio

Add remote Weaviate in precomputed embeddings test
  tests/integration/vector_io/test_vector_io.py
Due: forbid-pytest-asyncio

fix for pre-commit
  llama_stack/core/stack.py
  llama_stack/distributions/open-benchmark/open_benchmark.py
  llama_stack/distributions/open-benchmark/run.yaml
Due: forbid-pytest-asyncio

fix: Remove bfcl scoring function as not supported (#3281)
  docs/source/references/llama_stack_client_cli_reference.md
  llama_stack/core/stack.py
  llama_stack/distributions/open-benchmark/open_benchmark.py
  llama_stack/distributions/open-benchmark/run.yaml
  llama_stack/providers/inline/scoring/basic/scoring.py
  llama_stack/providers/inline/scoring/basic/scoring_fn/bfcl_scoring_fn.py
  llama_stack/providers/inline/scoring/basic/scoring_fn/fn_defs/bfcl.py
  llama_stack/providers/inline/scoring/basic/utils/bfcl/__init__.py
  llama_stack/providers/inline/scoring/basic/utils/bfcl/ast_parser.py
  llama_stack/providers/inline/scoring/basic/utils/bfcl/checker.py
  llama_stack/providers/inline/scoring/basic/utils/bfcl/tree_sitter.py
Due: provider-codegen, forbid-pytest-asyncio

ignore attributes added by AuthorizedSqlStore
  llama_stack/providers/remote/files/s3/files.py
Due: provider-codegen, forbid-pytest-asyncio

update
  llama_stack/providers/remote/inference/nvidia/NVIDIA.md
Due: provider-codegen

docs: update CHANGELOG.md for v0.2.20
  CHANGELOG.md
Due: none

feat(files, s3, expiration): add expires_after support to S3 files provider (#3283)
  docs/_static/llama-stack-spec.html
  docs/_static/llama-stack-spec.yaml
  llama_stack/apis/files/files.py
  llama_stack/providers/inline/files/localfs/files.py
  llama_stack/providers/remote/files/s3/files.py
  pyproject.toml
  tests/integration/files/test_files.py
  tests/unit/providers/files/test_s3_files.py
  uv.lock
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

docs: add VLM NIM example (#3277)
  docs/source/distributions/self_hosted_distro/nvidia.md
  llama_stack/distributions/nvidia/run.yaml
  llama_stack/providers/remote/inference/nvidia/NVIDIA.md
  llama_stack/providers/remote/inference/nvidia/models.py
Due: distro-codegen, provider-codegen, forbid-pytest-asyncio
