Repository meta-llama/llama-stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: distro-codegen, provider-codegen, openapi-codegen, forbid-pytest-asyncio, generate-ci-docs

distro-codegen:
  name: Distribution Template Codegen
  additional_dependencies:
  - uv==0.7.8
  entry: uv run --group codegen ./scripts/distro_codegen.py
  language: python
  pass_filenames: false
  require_serial: true

provider-codegen:
  name: Provider Codegen
  additional_dependencies:
  - uv==0.7.8
  entry: uv run --group codegen ./scripts/provider_codegen.py
  language: python
  pass_filenames: false
  require_serial: true

openapi-codegen:
  name: API Spec Codegen
  additional_dependencies:
  - uv==0.7.8
  entry: sh -c 'uv run ./docs/openapi_generator/run_openapi_generator.sh > /dev/null'
  language: python
  pass_filenames: false
  require_serial: true

forbid-pytest-asyncio:
  name: Block @pytest.mark.asyncio and @pytest_asyncio.fixture
  entry: bash
  language: system
  pass_filenames: true
  args:
  - -c
  ...

generate-ci-docs:
  name: Generate CI documentation
  additional_dependencies:
  - uv==0.7.8
  entry: uv run ./scripts/gen-ci-docs.py
  language: python
  pass_filenames: false
  require_serial: true

feat: llama stack sync
  llama_stack/cli/stack/_sync.py
  llama_stack/cli/stack/stack.py
  llama_stack/cli/stack/sync.py
  llama_stack/cli/stack/utils.py
  llama_stack/core/build.py
  tests/unit/distribution/test_build_path.py
Due: forbid-pytest-asyncio

test: convert tests to use sync
  .github/actions/setup-test-environment/action.yml
  .github/workflows/README.md
  .github/workflows/integration-vector-io-tests.yml
  .github/workflows/providers-sync.yml
  llama_stack/providers/remote/inference/fireworks/pyproject.toml
  tests/unit/distribution/test_build_path.py
  tests/unit/distribution/test_stack_sync.py
  uv.lock
Due: provider-codegen, forbid-pytest-asyncio, generate-ci-docs

chore: remove `llama stack build`
  llama_stack/cli/stack/_build.py
  llama_stack/cli/stack/build.py
  llama_stack/cli/stack/stack.py
Due: forbid-pytest-asyncio

fix: make telemetry_api optional parameter in MetaReferenceAgentsImpl
  llama_stack/providers/inline/agents/meta_reference/agents.py
Due: provider-codegen, forbid-pytest-asyncio

feat: Add agent workflow metrics collection
  llama_stack/providers/inline/agents/meta_reference/agent_instance.py
  llama_stack/providers/inline/agents/meta_reference/agents.py
  llama_stack/providers/inline/telemetry/meta_reference/telemetry.py
  llama_stack/providers/registry/agents.py
  pyproject.toml
  test_agent_metrics_runner.py
  tests/conftest_agent_metrics.py
  tests/integration/agents/test_agent_metrics_integration.py
  tests/unit/providers/agents/__init__.py
  tests/unit/providers/agents/test_agent_metrics.py
  tests/unit/providers/telemetry/__init__.py
  tests/unit/providers/telemetry/test_agent_metrics_histogram.py
  uv.lock
Due: provider-codegen, forbid-pytest-asyncio

chore: CI action names
  .github/workflows/integration-tests.yml
Due: generate-ci-docs

feat: create unregister shield API endpoint in Llama Stack
  docs/_static/llama-stack-spec.html
  docs/_static/llama-stack-spec.yaml
  llama_stack/apis/shields/shields.py
  llama_stack/core/routers/safety.py
  llama_stack/core/routing_tables/common.py
  llama_stack/core/routing_tables/shields.py
  llama_stack/providers/datatypes.py
  llama_stack/providers/inline/safety/llama_guard/llama_guard.py
  llama_stack/providers/inline/safety/prompt_guard/prompt_guard.py
  llama_stack/providers/remote/safety/bedrock/bedrock.py
  llama_stack/providers/remote/safety/nvidia/nvidia.py
  llama_stack/providers/remote/safety/sambanova/sambanova.py
  tests/unit/distribution/routers/test_routing_tables.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

chore(testing): make LLAMA_STACK_TEST_RECORDING_DIR optional
  llama_stack/testing/inference_recorder.py
Due: forbid-pytest-asyncio

temp checkpoint
  docs/source/distributions/k8s/apply.sh
  docs/source/distributions/k8s/delete.sh
  docs/source/distributions/k8s/monitoring-k8s.yaml.template
  docs/source/distributions/k8s/ollama-safety-k8s.yaml.template
  docs/source/distributions/k8s/stack-configmap.yaml
  docs/source/distributions/k8s/stack-k8s.yaml.template
  docs/source/distributions/k8s/stack_run_config.yaml
Due: none

[chore] Implement vector store seach test
  tests/integration/vector_io/test_openai_vector_stores.py
Due: forbid-pytest-asyncio

chore: create integration-tests script
  .github/actions/run-and-record-tests/action.yml
  scripts/integration-tests.sh
Due: none

test, rerecord
  llama_stack/testing/inference_recorder.py
  tests/integration/recordings/index.sqlite
  tests/integration/recordings/responses/0e8f2b001dd9.json
  tests/integration/recordings/responses/1b8394f90636.json
  tests/integration/recordings/responses/211b1562d4e6.json
  tests/integration/recordings/responses/325a72db5755.json
  tests/integration/recordings/responses/3c3f13cb7794.json
  tests/integration/recordings/responses/3ca695048bee.json
  tests/integration/recordings/responses/40f524d1934a.json
  tests/integration/recordings/responses/48d2fb183a2a.json
  tests/integration/recordings/responses/4a3a4447b16b.json
  tests/integration/recordings/responses/6cc063bbd7d3.json
  tests/integration/recordings/responses/6f96090aa955.json
  tests/integration/recordings/responses/70adef2c30c4.json
  tests/integration/recordings/responses/75d0dd9d0fa3.json
  tests/integration/recordings/responses/84cab42e1f5c.json
  tests/integration/recordings/responses/9b812cbcb88d.json
  tests/integration/recordings/responses/9e7a83d3d596.json
  tests/integration/recordings/responses/a0c4df33879f.json
  tests/integration/recordings/responses/a4c8d19bb1eb.json
  tests/integration/recordings/responses/a6810c23eda8.json
  tests/integration/recordings/responses/ae6835cfe70e.json
  tests/integration/recordings/responses/b91f1fb4aedb.json
  tests/integration/recordings/responses/bbd0637dce16.json
  tests/integration/recordings/responses/d0ac68cbde69.json
  tests/integration/recordings/responses/dd9e7d5913e9.json
  tests/integration/recordings/responses/e9c8a0e4f0e0.json
  tests/integration/recordings/responses/f70f30f54211.json
Due: forbid-pytest-asyncio

handle forks
  .github/actions/run-and-record-tests/action.yml
Due: none

feat: Add open ai compatible moderations api
  docs/_static/llama-stack-spec.html
  docs/_static/llama-stack-spec.yaml
  llama_stack/apis/safety/safety.py
  llama_stack/core/routers/safety.py
  llama_stack/providers/inline/safety/llama_guard/llama_guard.py
  tests/integration/safety/test_safety.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

refactor: Remove double filtering based on score threshold
  llama_stack/providers/inline/vector_io/faiss/faiss.py
  llama_stack/providers/remote/vector_io/pgvector/pgvector.py
  llama_stack/providers/remote/vector_io/weaviate/weaviate.py
  llama_stack/providers/utils/memory/openai_vector_store_mixin.py
Due: provider-codegen, forbid-pytest-asyncio

feat: Add open ai compatible moderations api
  llama_stack/providers/inline/safety/llama_guard/llama_guard.py
Due: provider-codegen, forbid-pytest-asyncio

minor fix
  llama_stack/providers/inline/safety/llama_guard/llama_guard.py
Due: provider-codegen, forbid-pytest-asyncio

chore: create integration-tests script (#3016)
  .github/actions/run-and-record-tests/action.yml
  scripts/integration-tests.sh
Due: none

fix: fix meta_reference telemetry console
  llama_stack/providers/inline/telemetry/meta_reference/console_span_processor.py
  llama_stack/providers/inline/telemetry/meta_reference/telemetry.py
Due: provider-codegen, forbid-pytest-asyncio

fix: actually propagate inference metrics
  llama_stack/core/routers/inference.py
  llama_stack/providers/utils/inference/stream_utils.py
  llama_stack/providers/utils/telemetry/tracing.py
Due: provider-codegen, forbid-pytest-asyncio

test: add telemetry tests for openai
  llama_stack/core/routers/inference.py
  tests/integration/recordings/responses/4096743baf8e.json
  tests/integration/recordings/responses/67198cbad48f.json
  tests/integration/recordings/responses/830a1fe14938.json
  tests/integration/recordings/responses/9c007f300365.json
  tests/integration/recordings/responses/c9667519ad7c.json
  tests/integration/recordings/responses/d0ac68cbde69.json
  tests/integration/recordings/responses/d4f56d7d1996.json
  tests/integration/recordings/vision/responses/4096743baf8e.json
  tests/integration/recordings/vision/responses/67198cbad48f.json
  tests/integration/recordings/vision/responses/830a1fe14938.json
  tests/integration/recordings/vision/responses/9c007f300365.json
  tests/integration/recordings/vision/responses/c9667519ad7c.json
  tests/integration/recordings/vision/responses/d4f56d7d1996.json
  tests/integration/telemetry/test_openai_telemetry.py
Due: forbid-pytest-asyncio

feat: api level request metrics via middleware
  docs/source/building_applications/telemetry.md
  llama_stack/core/server/metrics.py
  llama_stack/core/server/server.py
  tests/unit/distribution/test_request_metrics.py
Due: forbid-pytest-asyncio

feat: Adding support for get, update, delete for Vector Stores API
  docs/_static/llama-stack-spec.html
  docs/_static/llama-stack-spec.yaml
  llama_stack/apis/vector_io/vector_io.py
  llama_stack/core/routers/vector_io.py
  llama_stack/core/routing_tables/vector_dbs.py
  llama_stack/providers/utils/memory/openai_vector_store_mixin.py
  llama_stack/ui/components/vector-stores/vector-store-detail.tsx
  tests/unit/providers/vector_io/test_vector_io_openai_vector_stores.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

fix tests
  tests/unit/providers/vector_io/test_vector_io_openai_vector_stores.py
Due: forbid-pytest-asyncio

second checkpoint
  docs/source/distributions/k8s/install-prometheus.sh
  docs/source/distributions/k8s/monitoring-k8s.yaml.template
  docs/source/distributions/k8s/ollama-safety-k8s.yaml.template
  docs/source/distributions/k8s/stack-k8s.yaml.template
Due: none

helm manifest added
  docs/source/distributions/k8s/all-manifests.yaml
  docs/source/distributions/k8s/all-values.yaml
  docs/source/distributions/k8s/apply.sh
  docs/source/distributions/k8s/install-prometheus.sh
  docs/source/distributions/k8s/monitoring-k8s.yaml.template
  docs/source/distributions/k8s/prometheus-rbac.yaml
  docs/source/distributions/k8s/svc-and-pods.yaml
Due: none

saving
  docs/source/distributions/k8s/delete.sh
  docs/source/distributions/k8s/install-prometheus.sh
Due: none

add mcp
  llama_stack/distribution/ui/app.py
  llama_stack/distribution/ui/modules/api.py
  llama_stack/distribution/ui/page/distribution/mcp_servers.py
  llama_stack/distribution/ui/page/distribution/providers.py
Due: forbid-pytest-asyncio

chore: CI action names (#3014)
  .github/workflows/integration-tests.yml
Due: generate-ci-docs

refactor: Remove double filtering based on score threshold (#3019)
  llama_stack/providers/inline/vector_io/faiss/faiss.py
  llama_stack/providers/remote/vector_io/pgvector/pgvector.py
  llama_stack/providers/remote/vector_io/weaviate/weaviate.py
  llama_stack/providers/utils/memory/openai_vector_store_mixin.py
Due: provider-codegen, forbid-pytest-asyncio

test: Implement vector store search test (#3001)
  tests/integration/vector_io/test_openai_vector_stores.py
Due: forbid-pytest-asyncio

feat: switch to async completion in LiteLLM OpenAI mixin
  llama_stack/providers/utils/inference/litellm_openai_mixin.py
Due: provider-codegen, forbid-pytest-asyncio

Path conditions:
  distro-codegen: any of: ^llama_stack/templates/.*$|^llama_stack/providers/.*/inference/.*/models\.py$, but not: build/
  provider-codegen: any of: ^llama_stack/providers/.*$, but not: build/
  openapi-codegen: any of: ^llama_stack/apis/|^docs/openapi_generator/, but not: build/
  forbid-pytest-asyncio: any of: \.py$, but not: build/
  generate-ci-docs: any of: ^.github/workflows/.*$, but not: build/
