Repository meta-llama/llama-stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: distro-codegen, provider-codegen, openapi-codegen, forbid-pytest-asyncio, generate-ci-docs

distro-codegen:
  name: Distribution Template Codegen
  additional_dependencies:
  - uv==0.7.8
  entry: uv run --group codegen ./scripts/distro_codegen.py
  language: python
  pass_filenames: false
  require_serial: true

provider-codegen:
  name: Provider Codegen
  additional_dependencies:
  - uv==0.7.8
  entry: uv run --group codegen ./scripts/provider_codegen.py
  language: python
  pass_filenames: false
  require_serial: true

openapi-codegen:
  name: API Spec Codegen
  additional_dependencies:
  - uv==0.7.8
  entry: sh -c 'uv run ./docs/openapi_generator/run_openapi_generator.sh > /dev/null'
  language: python
  pass_filenames: false
  require_serial: true

forbid-pytest-asyncio:
  name: Block @pytest.mark.asyncio and @pytest_asyncio.fixture
  entry: bash
  language: system
  pass_filenames: true
  args:
  - -c
  ...

generate-ci-docs:
  name: Generate CI documentation
  additional_dependencies:
  - uv==0.7.8
  entry: uv run ./scripts/gen-ci-docs.py
  language: python
  pass_filenames: false
  require_serial: true

feat: Add moderations create api (#3020)
  docs/_static/llama-stack-spec.html
  docs/_static/llama-stack-spec.yaml
  llama_stack/apis/safety/safety.py
  llama_stack/core/routers/safety.py
  llama_stack/providers/inline/safety/llama_guard/llama_guard.py
  tests/integration/safety/test_safety.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

Fix NVIDIA NIM Doc
  llama_stack/providers/remote/inference/nvidia/NVIDIA.md
Due: provider-codegen

docs: add use of custom exceptions to code style guide (#3049)
  CONTRIBUTING.md
Due: none

chore: standardize unsupported database error
  llama_stack/apis/common/errors.py
  llama_stack/providers/utils/sqlstore/authorized_sqlstore.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

add query_keyword function
  llama_stack/providers/remote/vector_io/chroma/chroma.py
Due: provider-codegen, forbid-pytest-asyncio

apply pre-commit
  llama_stack/providers/remote/vector_io/chroma/chroma.py
  tests/integration/vector_io/test_openai_vector_stores.py
Due: provider-codegen, forbid-pytest-asyncio

add test code
  tests/integration/vector_io/test_openai_vector_stores.py
  tests/unit/providers/vector_io/remote/test_chroma.py
Due: forbid-pytest-asyncio

removed extra breadcrumb and made link in VS page more explicit
  llama_stack/ui/app/logs/vector-stores/layout.tsx
  llama_stack/ui/app/logs/vector-stores/page.tsx
Due: none

feat: Flash-Lite 2.0 and 2.5 models added to Gemini inference provider
  llama_stack/providers/remote/inference/gemini/models.py
Due: distro-codegen, provider-codegen, forbid-pytest-asyncio

feat: Implement hybrid search in Milvus (#2644)
  llama_stack/providers/remote/vector_io/milvus/milvus.py
  llama_stack/providers/utils/memory/vector_store.py
  tests/integration/vector_io/test_openai_vector_stores.py
  tests/unit/providers/vector_io/remote/test_milvus.py
Due: provider-codegen, forbid-pytest-asyncio

get Session missing fields from session info
  llama_stack/providers/inline/agents/meta_reference/persistence.py
Due: provider-codegen, forbid-pytest-asyncio

turns as dicts
  llama_stack/providers/inline/agents/meta_reference/persistence.py
Due: provider-codegen, forbid-pytest-asyncio

make it conditional
  llama_stack/providers/inline/agents/meta_reference/persistence.py
Due: provider-codegen, forbid-pytest-asyncio

rename variable
  llama_stack/providers/inline/agents/meta_reference/persistence.py
Due: provider-codegen, forbid-pytest-asyncio

Incorporated suggested code modification
  docs/source/getting_started/demo_script.py
Due: forbid-pytest-asyncio

feat: implement keyword, vector and hybrid search inside vector stores for PGVector provider
  llama_stack/providers/remote/vector_io/pgvector/pgvector.py
  llama_stack/providers/utils/memory/reranker.py
  pyproject.toml
  tests/unit/providers/utils/memory/test_reranking.py
  tests/unit/providers/vector_io/remote/test_pgvector.py
  uv.lock
Due: provider-codegen, forbid-pytest-asyncio

feat: ability to use postgres as store for starter distro
  .github/workflows/providers-build.yml
  docs/source/distributions/self_hosted_distro/starter.md
  llama_stack/core/build_container.sh
  llama_stack/core/entrypoint.sh
  llama_stack/distributions/ci-tests/build.yaml
  llama_stack/distributions/ci-tests/run-with-postgres-store.yaml
  llama_stack/distributions/starter/build.yaml
  llama_stack/distributions/starter/run-with-postgres-store.yaml
  llama_stack/distributions/starter/starter.py
Due: forbid-pytest-asyncio, generate-ci-docs

docs: Added comment about a known limitation of AgentEventLogger (#2930)
  docs/source/getting_started/demo_script.py
Due: forbid-pytest-asyncio

chore(tests): refactor and move responses tests away from verifications
  .github/workflows/integration-tests.yml
  tests/client-sdk/post_training/test_supervied_fine_tuning.py
  tests/integration/non_ci/responses/__init__.py
  tests/integration/non_ci/responses/fixtures/__init__.py
  tests/integration/non_ci/responses/fixtures/fixtures.py
  tests/integration/non_ci/responses/fixtures/images/vision_test_1.jpg
  tests/integration/non_ci/responses/fixtures/images/vision_test_2.jpg
  tests/integration/non_ci/responses/fixtures/images/vision_test_3.jpg
  tests/integration/non_ci/responses/fixtures/load.py
  tests/integration/non_ci/responses/fixtures/pdfs/llama_stack_and_models.pdf
  tests/integration/non_ci/responses/fixtures/test_cases/chat_completion.yaml
  tests/integration/non_ci/responses/fixtures/test_cases/responses.yaml
  tests/integration/non_ci/responses/test_responses.py
  tests/verifications/README.md
  tests/verifications/REPORT.md
  tests/verifications/conf/cerebras.yaml
  tests/verifications/conf/fireworks-llama-stack.yaml
  tests/verifications/conf/fireworks.yaml
  tests/verifications/conf/groq-llama-stack.yaml
  tests/verifications/conf/groq.yaml
  tests/verifications/conf/meta_reference.yaml
  tests/verifications/conf/openai-llama-stack.yaml
  tests/verifications/conf/openai.yaml
  tests/verifications/conf/together-llama-stack.yaml
  tests/verifications/conf/together.yaml
  tests/verifications/conftest.py
  tests/verifications/generate_report.py
  tests/verifications/openai-api-verification-run.yaml
  tests/verifications/openai_api/__init__.py
  tests/verifications/openai_api/conftest.py
  tests/verifications/openai_api/fixtures/__init__.py
  tests/verifications/openai_api/test_chat_completion.py
  tests/verifications/test_results/fireworks.json
  tests/verifications/test_results/meta_reference.json
  tests/verifications/test_results/openai.json
  tests/verifications/test_results/together.json
Due: forbid-pytest-asyncio, generate-ci-docs

chore(tests): refactor and move responses tests away from verifications (#3068)
  .github/workflows/integration-tests.yml
  tests/client-sdk/post_training/test_supervied_fine_tuning.py
  tests/integration/non_ci/responses/__init__.py
  tests/integration/non_ci/responses/fixtures/__init__.py
  tests/integration/non_ci/responses/fixtures/fixtures.py
  tests/integration/non_ci/responses/fixtures/images/vision_test_1.jpg
  tests/integration/non_ci/responses/fixtures/images/vision_test_2.jpg
  tests/integration/non_ci/responses/fixtures/images/vision_test_3.jpg
  tests/integration/non_ci/responses/fixtures/load.py
  tests/integration/non_ci/responses/fixtures/pdfs/llama_stack_and_models.pdf
  tests/integration/non_ci/responses/fixtures/test_cases/chat_completion.yaml
  tests/integration/non_ci/responses/fixtures/test_cases/responses.yaml
  tests/integration/non_ci/responses/test_responses.py
  tests/verifications/README.md
  tests/verifications/REPORT.md
  tests/verifications/conf/cerebras.yaml
  tests/verifications/conf/fireworks-llama-stack.yaml
  tests/verifications/conf/fireworks.yaml
  tests/verifications/conf/groq-llama-stack.yaml
  tests/verifications/conf/groq.yaml
  tests/verifications/conf/meta_reference.yaml
  tests/verifications/conf/openai-llama-stack.yaml
  tests/verifications/conf/openai.yaml
  tests/verifications/conf/together-llama-stack.yaml
  tests/verifications/conf/together.yaml
  tests/verifications/conftest.py
  tests/verifications/generate_report.py
  tests/verifications/openai-api-verification-run.yaml
  tests/verifications/openai_api/__init__.py
  tests/verifications/openai_api/conftest.py
  tests/verifications/openai_api/fixtures/__init__.py
  tests/verifications/openai_api/test_chat_completion.py
  tests/verifications/test_results/fireworks.json
  tests/verifications/test_results/meta_reference.json
  tests/verifications/test_results/openai.json
  tests/verifications/test_results/together.json
Due: forbid-pytest-asyncio, generate-ci-docs

feat: add agent workflow metrics collection
  docs/_static/llama-stack-spec.html
  docs/_static/llama-stack-spec.yaml
  llama_stack/apis/telemetry/telemetry.py
  llama_stack/providers/inline/agents/meta_reference/agent_instance.py
  llama_stack/providers/inline/agents/meta_reference/agents.py
  llama_stack/providers/inline/telemetry/meta_reference/telemetry.py
  llama_stack/providers/registry/agents.py
  pyproject.toml
  tests/integration/agents/test_agent_metrics_integration.py
  tests/unit/providers/agents/__init__.py
  tests/unit/providers/agents/test_agent_metrics.py
  tests/unit/providers/telemetry/__init__.py
  tests/unit/providers/telemetry/test_agent_metrics_histogram.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

fix: improve agent metrics reliability and test patterns
  llama_stack/providers/inline/agents/meta_reference/agent_instance.py
  tests/unit/providers/agents/test_agent_metrics.py
Due: provider-codegen, forbid-pytest-asyncio

refactor: simplify histogram metrics tests
  tests/unit/providers/telemetry/test_agent_metrics_histogram.py
Due: forbid-pytest-asyncio

Revert "test selective humanization workflow"
  llama_stack/testing/inference_recorder.py
Due: forbid-pytest-asyncio

fix: handle all MetricType enum values explicitly
  llama_stack/providers/inline/telemetry/meta_reference/telemetry.py
  tests/unit/providers/telemetry/test_agent_metrics_histogram.py
Due: provider-codegen, forbid-pytest-asyncio

test selective humanization workflow
  llama_stack/testing/inference_recorder.py
Due: forbid-pytest-asyncio

chore: add mypy prompt guard
  llama_stack/providers/inline/safety/prompt_guard/prompt_guard.py
  pyproject.toml
Due: provider-codegen, forbid-pytest-asyncio

fix(tests): move llama stack client init back to fixture
  tests/integration/conftest.py
  tests/integration/fixtures/common.py
Due: forbid-pytest-asyncio

fix(tests): move llama stack client init back to fixture (#3071)
  tests/integration/conftest.py
  tests/integration/fixtures/common.py
Due: forbid-pytest-asyncio

Update more docs
  docs/source/distributions/self_hosted_distro/nvidia.md
  llama_stack/distributions/nvidia/doc_template.md
Due: none

docs: fix the docs for NVIDIA Inference Provider (#3055)
  docs/source/distributions/self_hosted_distro/nvidia.md
  llama_stack/distributions/nvidia/doc_template.md
  llama_stack/providers/remote/inference/nvidia/NVIDIA.md
Due: provider-codegen

chore(pre-commit): add pre-commit hook to enforce llama_stack logger usage
  .pre-commit-config.yaml
Due: none

refactor(logging): rename llama_stack logger categories
  llama_stack/core/server/auth_providers.py
  llama_stack/core/server/server.py
  llama_stack/core/utils/config_resolution.py
  llama_stack/models/llama/llama3/tool_utils.py
  llama_stack/providers/inline/agents/meta_reference/openai_responses.py
Due: provider-codegen, forbid-pytest-asyncio

feat: Add optional idempotency support to batches API
  docs/source/providers/batches/index.md
  llama_stack/apis/batches/batches.py
  llama_stack/providers/inline/batches/reference/batches.py
  tests/integration/batches/test_batches_idempotency.py
  tests/unit/providers/batches/conftest.py
  tests/unit/providers/batches/test_reference.py
  tests/unit/providers/batches/test_reference_idempotency.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

feat: add batches API with OpenAI compatibility
  docs/_static/llama-stack-spec.html
  docs/_static/llama-stack-spec.yaml
  docs/source/providers/batches/index.md
  docs/source/providers/batches/inline_reference.md
  llama_stack/apis/batches/__init__.py
  llama_stack/apis/batches/batches.py
  llama_stack/apis/common/errors.py
  llama_stack/apis/datatypes.py
  llama_stack/apis/files/files.py
  llama_stack/core/resolver.py
  llama_stack/core/server/server.py
  llama_stack/providers/inline/batches/__init__.py
  llama_stack/providers/inline/batches/reference/__init__.py
  llama_stack/providers/inline/batches/reference/batches.py
  llama_stack/providers/inline/batches/reference/config.py
  llama_stack/providers/registry/batches.py
  tests/integration/batches/__init__.py
  tests/integration/batches/conftest.py
  tests/integration/batches/test_batches.py
  tests/integration/batches/test_batches_errors.py
  tests/unit/providers/batches/test_reference.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

feat(vector-io): add OpenGauss vector database provider
  docs/source/providers/vector_io/index.md
  docs/source/providers/vector_io/remote_opengauss.md
  llama_stack/providers/registry/vector_io.py
  llama_stack/providers/remote/vector_io/opengauss/__init__.py
  llama_stack/providers/remote/vector_io/opengauss/config.py
  llama_stack/providers/remote/vector_io/opengauss/opengauss.py
  llama_stack/templates/opengauss-demo/__init__.py
  llama_stack/templates/opengauss-demo/build.yaml
  llama_stack/templates/opengauss-demo/run.yaml
  tests/unit/providers/vector_io/test_opengauss.py
Due: distro-codegen, provider-codegen, forbid-pytest-asyncio

feat: Add Google Vertex AI inference provider support
  docs/source/providers/inference/index.md
  docs/source/providers/inference/remote_vertexai.md
  llama_stack/distributions/ci-tests/build.yaml
  llama_stack/distributions/ci-tests/run.yaml
  llama_stack/distributions/starter/build.yaml
  llama_stack/distributions/starter/run.yaml
  llama_stack/distributions/starter/starter.py
  llama_stack/providers/registry/inference.py
  llama_stack/providers/remote/inference/vertexai/__init__.py
  llama_stack/providers/remote/inference/vertexai/config.py
  llama_stack/providers/remote/inference/vertexai/models.py
  llama_stack/providers/remote/inference/vertexai/vertexai.py
  tests/integration/inference/test_openai_completion.py
  tests/integration/inference/test_text_inference.py
Due: distro-codegen, provider-codegen, forbid-pytest-asyncio

fix: prevent telemetry from leaking API keys in logs
  llama_stack/providers/inline/telemetry/meta_reference/console_span_processor.py
Due: provider-codegen, forbid-pytest-asyncio

Path conditions:
  distro-codegen: any of: ^llama_stack/templates/.*$|^llama_stack/providers/.*/inference/.*/models\.py$, but not: build/
  provider-codegen: any of: ^llama_stack/providers/.*$, but not: build/
  openapi-codegen: any of: ^llama_stack/apis/|^docs/openapi_generator/, but not: build/
  forbid-pytest-asyncio: any of: \.py$, but not: build/
  generate-ci-docs: any of: ^.github/workflows/.*$, but not: build/
