Repository meta-llama/llama-stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: distro-codegen, provider-codegen, openapi-codegen, forbid-pytest-asyncio, generate-ci-docs

distro-codegen:
  name: Distribution Template Codegen
  additional_dependencies:
  - uv==0.7.8
  entry: uv run --group codegen ./scripts/distro_codegen.py
  language: python
  pass_filenames: false
  require_serial: true

provider-codegen:
  name: Provider Codegen
  additional_dependencies:
  - uv==0.7.8
  entry: uv run --group codegen ./scripts/provider_codegen.py
  language: python
  pass_filenames: false
  require_serial: true

openapi-codegen:
  name: API Spec Codegen
  additional_dependencies:
  - uv==0.7.8
  entry: sh -c 'uv run ./docs/openapi_generator/run_openapi_generator.sh > /dev/null'
  language: python
  pass_filenames: false
  require_serial: true

forbid-pytest-asyncio:
  name: Block @pytest.mark.asyncio and @pytest_asyncio.fixture
  entry: bash
  language: system
  pass_filenames: true
  args:
  - -c
  ...

generate-ci-docs:
  name: Generate CI documentation
  additional_dependencies:
  - uv==0.7.8
  entry: uv run ./scripts/gen-ci-docs.py
  language: python
  pass_filenames: false
  require_serial: true

feat(ci): make recording workflow simpler, more parameterizable (#3169)
  .github/actions/run-and-record-tests/action.yml
  .github/workflows/integration-tests.yml
  .github/workflows/record-integration-tests.yml
  scripts/integration-tests.sh
  tests/integration/recordings/index.sqlite
  tests/integration/recordings/responses/4a3a4447b16b.json
  tests/integration/recordings/responses/561746e1c8de.json
Due: generate-ci-docs

feat: telemetry logging fixes
  llama_stack/log.py
  llama_stack/providers/inline/telemetry/meta_reference/console_span_processor.py
Due: provider-codegen, forbid-pytest-asyncio

fix: list models only for active providers
  llama_stack/core/routers/vector_io.py
  llama_stack/core/routing_tables/benchmarks.py
  llama_stack/core/routing_tables/common.py
  llama_stack/core/routing_tables/datasets.py
  llama_stack/core/routing_tables/models.py
  llama_stack/core/routing_tables/scoring_functions.py
  llama_stack/core/routing_tables/shields.py
  llama_stack/core/routing_tables/toolgroups.py
  llama_stack/core/routing_tables/vector_dbs.py
Due: forbid-pytest-asyncio

feat: add batches API with OpenAI compatibility
  docs/_static/llama-stack-spec.html
  docs/_static/llama-stack-spec.yaml
  docs/source/providers/batches/index.md
  docs/source/providers/batches/inline_reference.md
  llama_stack/apis/batches/__init__.py
  llama_stack/apis/batches/batches.py
  llama_stack/apis/common/errors.py
  llama_stack/apis/datatypes.py
  llama_stack/apis/files/files.py
  llama_stack/core/resolver.py
  llama_stack/core/server/server.py
  llama_stack/providers/inline/batches/__init__.py
  llama_stack/providers/inline/batches/reference/__init__.py
  llama_stack/providers/inline/batches/reference/batches.py
  llama_stack/providers/inline/batches/reference/config.py
  llama_stack/providers/registry/batches.py
  tests/integration/batches/__init__.py
  tests/integration/batches/conftest.py
  tests/integration/batches/test_batches.py
  tests/integration/batches/test_batches_errors.py
  tests/unit/providers/batches/test_reference.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

use incorrect keys to trigger inference error
  tests/integration/batches/test_batches.py
Due: forbid-pytest-asyncio

ensure messages is of the correct type
  llama_stack/providers/inline/batches/reference/batches.py
Due: provider-codegen, forbid-pytest-asyncio

add batches=inline::reference to ci-tests/starter distro
  llama_stack/distributions/ci-tests/build.yaml
  llama_stack/distributions/ci-tests/run.yaml
  llama_stack/distributions/starter/build.yaml
  llama_stack/distributions/starter/run.yaml
  llama_stack/distributions/starter/starter.py
Due: forbid-pytest-asyncio

remove unused CreateBatchRequest, update completion_window to be literal "24h"
  llama_stack/apis/batches/__init__.py
  llama_stack/apis/batches/batches.py
  llama_stack/providers/inline/batches/reference/batches.py
  tests/integration/batches/test_batches_errors.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

add notes about batches development status to docs
  docs/source/concepts/apis.md
  docs/source/providers/agents/index.md
  docs/source/providers/batches/index.md
  docs/source/providers/eval/index.md
  docs/source/providers/inference/index.md
  llama_stack/apis/batches/batches.py
  scripts/provider_codegen.py
Due: openapi-codegen, forbid-pytest-asyncio

[Feat] Implement keyword search in Qdrant
  llama_stack/providers/remote/vector_io/qdrant/qdrant.py
  tests/integration/vector_io/test_openai_vector_stores.py
  tests/unit/providers/vector_io/conftest.py
  tests/unit/providers/vector_io/test_qdrant.py
Due: provider-codegen, forbid-pytest-asyncio

fix(ci): skip batches directory for library client testing
  scripts/integration-tests.sh
Due: none

feat: add batches API with OpenAI compatibility (with inference replay) (#3162)
  docs/_static/llama-stack-spec.html
  docs/_static/llama-stack-spec.yaml
  docs/source/concepts/apis.md
  docs/source/providers/agents/index.md
  docs/source/providers/batches/index.md
  docs/source/providers/batches/inline_reference.md
  docs/source/providers/eval/index.md
  docs/source/providers/inference/index.md
  llama_stack/apis/batches/__init__.py
  llama_stack/apis/batches/batches.py
  llama_stack/apis/common/errors.py
  llama_stack/apis/datatypes.py
  llama_stack/apis/files/files.py
  llama_stack/core/resolver.py
  llama_stack/core/server/server.py
  llama_stack/distributions/ci-tests/build.yaml
  llama_stack/distributions/ci-tests/run.yaml
  llama_stack/distributions/starter/build.yaml
  llama_stack/distributions/starter/run.yaml
  llama_stack/distributions/starter/starter.py
  llama_stack/providers/inline/batches/__init__.py
  llama_stack/providers/inline/batches/reference/__init__.py
  llama_stack/providers/inline/batches/reference/batches.py
  llama_stack/providers/inline/batches/reference/config.py
  llama_stack/providers/registry/batches.py
  scripts/provider_codegen.py
  tests/integration/batches/__init__.py
  tests/integration/batches/conftest.py
  tests/integration/batches/test_batches.py
  tests/integration/batches/test_batches_errors.py
  tests/integration/recordings/index.sqlite
  tests/integration/recordings/responses/3c0bf9ba81b2.json
  tests/integration/recordings/responses/44a1d9de0602.json
  tests/integration/recordings/responses/4a3a4447b16b.json
  tests/unit/providers/batches/test_reference.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

test(recording): add a script to schedule recording workflow
  scripts/github/schedule-record-workflow.sh
Due: none

fix
  scripts/github/schedule-record-workflow.sh
Due: none

fixes
  .github/workflows/record-integration-tests.yml
  scripts/github/schedule-record-workflow.sh
Due: generate-ci-docs

add docs
  tests/README.md
  tests/integration/README.md
Due: none

minor
  tests/README.md
Due: none

test(recording): add a script to schedule recording workflow (#3170)
  .github/workflows/record-integration-tests.yml
  scripts/github/schedule-record-workflow.sh
  tests/README.md
  tests/integration/README.md
Due: generate-ci-docs

refactor(logging): rename llama_stack logger categories
  llama_stack/cli/stack/run.py
  llama_stack/core/routers/datasets.py
  llama_stack/core/routers/eval_scoring.py
  llama_stack/core/routers/inference.py
  llama_stack/core/routers/safety.py
  llama_stack/core/routers/tool_runtime.py
  llama_stack/core/routers/vector_io.py
  llama_stack/core/routing_tables/benchmarks.py
  llama_stack/core/routing_tables/common.py
  llama_stack/core/routing_tables/datasets.py
  llama_stack/core/routing_tables/models.py
  llama_stack/core/routing_tables/scoring_functions.py
  llama_stack/core/routing_tables/shields.py
  llama_stack/core/routing_tables/toolgroups.py
  llama_stack/core/routing_tables/vector_dbs.py
  llama_stack/core/server/auth.py
  llama_stack/core/server/auth_providers.py
  llama_stack/core/server/quota.py
  llama_stack/core/server/server.py
  llama_stack/core/utils/config_resolution.py
  llama_stack/models/llama/llama3/tool_utils.py
  llama_stack/providers/inline/agents/meta_reference/agent_instance.py
  llama_stack/providers/inline/agents/meta_reference/openai_responses.py
  llama_stack/providers/remote/inference/fireworks/fireworks.py
  llama_stack/providers/remote/inference/ollama/ollama.py
  llama_stack/providers/remote/inference/together/together.py
  llama_stack/providers/remote/inference/vllm/vllm.py
  llama_stack/providers/utils/inference/litellm_openai_mixin.py
  llama_stack/providers/utils/inference/model_registry.py
  llama_stack/providers/utils/inference/openai_mixin.py
  llama_stack/providers/utils/inference/prompt_adapter.py
  llama_stack/providers/utils/scheduler.py
  llama_stack/providers/utils/sqlstore/authorized_sqlstore.py
  llama_stack/providers/utils/sqlstore/sqlalchemy_sqlstore.py
Due: provider-codegen, forbid-pytest-asyncio

refactor(client): remove initialize() Method from LlamaStackAsLibrary
  docs/source/distributions/importing_as_library.md
  llama_stack/core/library_client.py
  tests/integration/fixtures/common.py
  tests/integration/non_ci/responses/fixtures/fixtures.py
  tests/unit/distribution/test_library_client_initialization.py
Due: forbid-pytest-asyncio

fix(test): update LlamaStackAsLibraryClient initialization tests after removing initialize method
  llama_stack/core/library_client.py
  tests/integration/fixtures/common.py
  tests/integration/non_ci/responses/fixtures/fixtures.py
  tests/unit/distribution/test_library_client_initialization.py
Due: forbid-pytest-asyncio

chore: standardize unsupported database error
  llama_stack/apis/common/errors.py
  llama_stack/providers/utils/sqlstore/authorized_sqlstore.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

chore: Update benchmarking location in contributing docs
  docs/source/contributing/index.md
Due: none

apply Reranker class at chromaDB
  docs/source/providers/agents/index.md
  docs/source/providers/batches/index.md
  docs/source/providers/inference/index.md
  llama_stack/providers/remote/vector_io/chroma/chroma.py
  llama_stack/providers/utils/vector_io/vector_utils.py
Due: provider-codegen, forbid-pytest-asyncio

add support for postgres ssl mode and root cert
  llama_stack/providers/utils/kvstore/config.py
  llama_stack/providers/utils/kvstore/postgres/postgres.py
Due: provider-codegen, forbid-pytest-asyncio

update config variable name to ca_cert_path
  llama_stack/providers/utils/kvstore/config.py
  llama_stack/providers/utils/kvstore/postgres/postgres.py
Due: provider-codegen, forbid-pytest-asyncio

chore: Update benchmarking location in contributing docs (#3180)
  docs/source/contributing/index.md
Due: none

chore: Update TRIAGERS.md
  .github/TRIAGERS.md
Due: none

feat(cli): make venv the default image type
  llama_stack/cli/stack/_build.py
  llama_stack/cli/stack/build.py
Due: forbid-pytest-asyncio

chore(ci): dont run llama stack server always
  scripts/integration-tests.sh
Due: none

allow running from any directory
  scripts/integration-tests.sh
Due: none

chore(ci): dont run llama stack server always (#3188)
  scripts/integration-tests.sh
Due: none

fix: remove category prints
  llama_stack/log.py
Due: forbid-pytest-asyncio

fix: remove category prints (#3189)
  llama_stack/log.py
Due: forbid-pytest-asyncio

chore: Update TRIAGERS.md (#3186)
  .github/TRIAGERS.md
Due: none

feat: add support for postgres ssl mode and root cert (#3182)
  llama_stack/providers/utils/kvstore/config.py
  llama_stack/providers/utils/kvstore/postgres/postgres.py
Due: provider-codegen, forbid-pytest-asyncio

fix: kill build_conda_env.sh
  llama_stack/core/build_conda_env.sh
Due: none

chore: Adding unit tests for UI
  llama_stack/ui/app/logs/vector-stores/[id]/files/[fileId]/contents/page.tsx
  llama_stack/ui/components/chat-playground/markdown-renderer.tsx
Due: none

adding actions and filtering out UI in existing CI tests
  .github/workflows/README.md
  .github/workflows/integration-auth-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/integration-vector-io-tests.yml
  .github/workflows/python-build-test.yml
  .github/workflows/test-external.yml
  .github/workflows/ui-unit-tests.yml
  .github/workflows/unit-tests.yml
Due: generate-ci-docs

Path conditions:
  distro-codegen: any of: ^llama_stack/templates/.*$|^llama_stack/providers/.*/inference/.*/models\.py$, but not: build/
  provider-codegen: any of: ^llama_stack/providers/.*$, but not: build/
  openapi-codegen: any of: ^llama_stack/apis/|^docs/openapi_generator/, but not: build/
  forbid-pytest-asyncio: any of: \.py$, but not: build/
  generate-ci-docs: any of: ^.github/workflows/.*$, but not: build/
