Repository meta-llama/llama-stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: distro-codegen, provider-codegen, openapi-codegen, forbid-pytest-asyncio, generate-ci-docs

Path conditions:
  distro-codegen: any of: ^llama_stack/templates/.*$|^llama_stack/providers/.*/inference/.*/models\.py$, but not: build/
  provider-codegen: any of: ^llama_stack/providers/.*$, but not: build/
  openapi-codegen: any of: ^llama_stack/apis/|^docs/openapi_generator/, but not: build/
  forbid-pytest-asyncio: any of: \.py$, but not: build/
  generate-ci-docs: any of: ^.github/workflows/.*$, but not: build/

docs: Reformat external provider documentation
  docs/source/providers/external/external-providers-guide.md
  docs/source/providers/external/external-providers-list.md
  docs/source/providers/external/index.md
  docs/source/providers/index.md
Due: none

fix: integration tests not triggering on PR open
  .github/workflows/integration-tests.yml
Due: generate-ci-docs

fix: remove redundant code from unregister_vector_db
  llama_stack/core/routing_tables/vector_dbs.py
Due: forbid-pytest-asyncio

docs: Reformat external provider documentation (#2982)
  docs/source/providers/external/external-providers-guide.md
  docs/source/providers/external/external-providers-list.md
  docs/source/providers/external/index.md
  docs/source/providers/index.md
Due: none

chore: Remove coverage badge from README.md (#2976)
  .github/workflows/README.md
  README.md
  scripts/gen-ci-docs.py
Due: forbid-pytest-asyncio, generate-ci-docs

fix: remove redundant code from unregister_vector_db (#2983)
  llama_stack/core/routing_tables/vector_dbs.py
Due: forbid-pytest-asyncio

add a couple parentheses to help readability slightly
  .github/workflows/integration-tests.yml
Due: generate-ci-docs

changed to smaller model
  tests/integration/post_training/test_post_training.py
Due: forbid-pytest-asyncio

feat: Add clear error message when API key is missing
  llama_stack/providers/utils/inference/litellm_openai_mixin.py
  tests/unit/providers/inference/test_litellm_openai_mixin.py
Due: provider-codegen, forbid-pytest-asyncio

working now
  docs/source/distributions/k8s/apply.sh
  docs/source/distributions/k8s/set-secret.yaml.template
  docs/source/distributions/k8s/stack-k8s.yaml.template
  docs/source/distributions/k8s/ui-k8s.yaml.template
  docs/source/distributions/k8s/ui-service-k8s.yaml.template
Due: none

setup env vars, fix ollama model reference
  .github/actions/run-and-record-tests/action.yml
  .github/actions/setup-ollama/action.yml
  tests/Containerfile
  tests/containers/ollama-with-models.containerfile
  tests/containers/ollama-with-vision-model.containerfile
Due: none

use GITHUB_ENV
  .github/actions/run-and-record-tests/action.yml
Due: none

changed commet
  tests/integration/post_training/test_post_training.py
Due: forbid-pytest-asyncio

re push becuase of ci flake
  tests/integration/post_training/test_post_training.py
Due: forbid-pytest-asyncio

fix: Post Training Model change in Tests in order to make it less intensive (#2991)
  tests/integration/post_training/test_post_training.py
Due: forbid-pytest-asyncio

syntax error fix; make tests a bit more efficient
  .github/actions/run-and-record-tests/action.yml
Due: none

add force-inference-mode
  .github/workflows/integration-tests.yml
  .github/workflows/integration-vision-tests.yml
Due: generate-ci-docs

fix: integration tests not triggering on PR open (#2985)
  .github/workflows/integration-tests.yml
Due: generate-ci-docs

final fixes
  .github/workflows/integration-tests.yml
  .github/workflows/integration-vision-tests.yml
Due: generate-ci-docs

pre-commit
  .github/actions/run-and-record-tests/action.yml
  .github/actions/setup-test-environment/action.yml
  .github/workflows/README.md
  tests/containers/ollama-with-vision-model.containerfile
Due: generate-ci-docs

fix(ci): ensure workflow runs when manually run or scheduled
  .github/workflows/integration-tests.yml
  .github/workflows/integration-vision-tests.yml
Due: generate-ci-docs

fix(ci): use single quotes please
  .github/workflows/integration-tests.yml
  .github/workflows/integration-vision-tests.yml
Due: generate-ci-docs

fix(ci, nvidia): do not use module level pytest skip for now
  tests/integration/providers/nvidia/__init__.py
  tests/integration/providers/nvidia/conftest.py
  tests/integration/providers/nvidia/test_datastore.py
Due: forbid-pytest-asyncio

chore: standardize model type error
  llama_stack/apis/common/errors.py
  llama_stack/core/routers/inference.py
  llama_stack/core/routing_tables/vector_dbs.py
  llama_stack/providers/remote/inference/ollama/ollama.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

chore: standardize unsupported database error
  llama_stack/apis/common/errors.py
  llama_stack/providers/utils/sqlstore/authorized_sqlstore.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

chore: standardize tool group not found error
  llama_stack/apis/common/errors.py
  llama_stack/core/routing_tables/toolgroups.py
Due: openapi-codegen, forbid-pytest-asyncio

chore: standardize missing training config error
  llama_stack/apis/common/errors.py
  llama_stack/providers/inline/post_training/huggingface/recipes/finetune_single_device.py
  llama_stack/providers/inline/post_training/huggingface/recipes/finetune_single_device_dpo.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

fix(ci): simplified concurrency and job eligibility criteria
  .github/actions/run-and-record-tests/action.yml
  .github/workflows/integration-tests.yml
  .github/workflows/integration-vision-tests.yml
Due: generate-ci-docs

fix(ci): lets attempt another fix for concurrency
  .github/workflows/integration-tests.yml
  .github/workflows/integration-vision-tests.yml
Due: generate-ci-docs

feat: Add clear error message when API key is missing (#2992)
  llama_stack/providers/utils/inference/litellm_openai_mixin.py
  tests/unit/providers/inference/test_litellm_openai_mixin.py
Due: provider-codegen, forbid-pytest-asyncio

update SambaNovaInferenceAdapter._get_params to use api_base
  llama_stack/providers/remote/inference/sambanova/sambanova.py
Due: provider-codegen, forbid-pytest-asyncio

update SambaNovaInferenceAdapter to use _get_params from LiteLLMOpenAIMixin by adding extra params to the mixin
  llama_stack/providers/remote/inference/sambanova/sambanova.py
  llama_stack/providers/utils/inference/litellm_openai_mixin.py
Due: provider-codegen, forbid-pytest-asyncio

update SambaNovaInferenceAdapter to use liteLLMOpenAIMixin's get_api_key
  llama_stack/providers/remote/inference/sambanova/sambanova.py
Due: provider-codegen, forbid-pytest-asyncio

remove redundant request provider data checking from SambaNovaInferenceAdapter
  llama_stack/providers/remote/inference/sambanova/sambanova.py
Due: provider-codegen, forbid-pytest-asyncio

move SambaNovaInferenceAdapter from bespoke convert_message_to_openai_dict_with_b64_images to common convert_message_to_openai_dict_new
  llama_stack/providers/remote/inference/sambanova/sambanova.py
  llama_stack/providers/utils/inference/openai_compat.py
Due: provider-codegen, forbid-pytest-asyncio

remove SambaNovaInferenceAdapter's custom register_model in favor of the mixin's behavior
  llama_stack/providers/remote/inference/sambanova/sambanova.py
Due: provider-codegen, forbid-pytest-asyncio

remove SambaNovaInferenceAdapter's redundant initialize and shutdown methods
  llama_stack/providers/remote/inference/sambanova/sambanova.py
Due: provider-codegen, forbid-pytest-asyncio

remove unused SambaNovaInferenceAdapter._config
  llama_stack/providers/remote/inference/sambanova/sambanova.py
Due: provider-codegen, forbid-pytest-asyncio

remove unused logger
  llama_stack/providers/remote/inference/sambanova/sambanova.py
Due: provider-codegen, forbid-pytest-asyncio
