Repository meta-llama/llama-stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: distro-codegen, provider-codegen, openapi-codegen, forbid-pytest-asyncio, generate-ci-docs

distro-codegen:
  name: Distribution Template Codegen
  additional_dependencies:
  - uv==0.7.8
  entry: uv run --group codegen ./scripts/distro_codegen.py
  language: python
  pass_filenames: false
  require_serial: true

provider-codegen:
  name: Provider Codegen
  additional_dependencies:
  - uv==0.7.8
  entry: uv run --group codegen ./scripts/provider_codegen.py
  language: python
  pass_filenames: false
  require_serial: true

openapi-codegen:
  name: API Spec Codegen
  additional_dependencies:
  - uv==0.7.8
  entry: sh -c 'uv run ./docs/openapi_generator/run_openapi_generator.sh > /dev/null'
  language: python
  pass_filenames: false
  require_serial: true

forbid-pytest-asyncio:
  name: Block @pytest.mark.asyncio and @pytest_asyncio.fixture
  entry: bash
  language: system
  pass_filenames: true
  args:
  - -c
  ...

generate-ci-docs:
  name: Generate CI documentation
  additional_dependencies:
  - uv==0.7.8
  entry: uv run ./scripts/gen-ci-docs.py
  language: python
  pass_filenames: false
  require_serial: true

Change default embedding model to all-MiniLM-L6-v2
  docs/source/distributions/configuration.md
  llama_stack/core/routers/vector_io.py
Due: forbid-pytest-asyncio

fix: update import path from distribution to core after upstream migration
  tests/unit/router/test_embedding_precedence.py
Due: forbid-pytest-asyncio

feat(vector-io): implement global default embedding model configuration (Issue #2729)
  tests/integration/conftest.py
Due: forbid-pytest-asyncio

Address review comments for global vector store configuration
  docs/source/distributions/configuration.md
  llama_stack/apis/common/vector_store_config.py
  llama_stack/core/routers/vector_io.py
  tests/unit/router/test_embedding_precedence.py
Due: openapi-codegen, forbid-pytest-asyncio

Replace MissingEmbeddingModelError with IBM Granite default
  docs/source/distributions/configuration.md
  llama_stack/apis/common/vector_store_config.py
  llama_stack/core/routers/vector_io.py
  tests/unit/router/test_embedding_precedence.py
Due: openapi-codegen, forbid-pytest-asyncio

docs: update configuration documentation for global default embedding model
  docs/source/distributions/configuration.md
  llama_stack/apis/common/vector_store_config.py
Due: openapi-codegen, forbid-pytest-asyncio

docs: improve vector store config documentation and fix test isolation
  docs/source/distributions/configuration.md
  tests/unit/common/test_vector_store_config.py
  tests/unit/router/test_embedding_precedence.py
Due: forbid-pytest-asyncio

feat(vector-io): implement global default embedding model configuration (Issue #2729)
  docs/source/distributions/configuration.md
  llama_stack/apis/common/vector_store_config.py
  llama_stack/core/datatypes.py
  llama_stack/core/routers/vector_io.py
  llama_stack/distributions/watsonx/build.yaml
  tests/unit/common/test_vector_store_config.py
  tests/unit/router/test_embedding_precedence.py
Due: openapi-codegen, forbid-pytest-asyncio

Replace MissingEmbeddingModelError with IBM Granite default
  llama_stack/apis/common/vector_store_config.py
  llama_stack/core/routers/vector_io.py
  tests/unit/common/test_vector_store_config.py
  tests/unit/router/test_embedding_precedence.py
Due: openapi-codegen, forbid-pytest-asyncio

fix(tests): remove @pytest.mark.asyncio decorators from unit tests
  tests/unit/router/test_embedding_precedence.py
Due: forbid-pytest-asyncio

Fix unit test to expect correct fallback model
  tests/unit/router/test_embedding_precedence.py
Due: forbid-pytest-asyncio

fix(openai_responses): OpenAIResponsesObject is not complete
  llama_stack/apis/agents/openai_responses.py
Due: openapi-codegen, forbid-pytest-asyncio

feat: Adding support for selecting a vector store in chat playground
  llama_stack/ui/app/chat-playground/page.tsx
Due: none

fixed width behavior and made session list cleaner
  llama_stack/ui/app/api/fetch-url/route.ts
  llama_stack/ui/app/chat-playground/page.tsx
  llama_stack/ui/components/chat-playground/chat-message.tsx
  llama_stack/ui/components/chat-playground/chat.tsx
  llama_stack/ui/components/chat-playground/session-manager.tsx
  llama_stack/ui/components/vector-db/vector-db-manager.tsx
Due: none

refactor(agents): migrate to OpenAI chat completions API
  llama_stack/providers/inline/agents/meta_reference/agent_instance.py
Due: provider-codegen, forbid-pytest-asyncio

fixing linter
  llama_stack/ui/app/api/fetch-url/route.ts
  llama_stack/ui/app/api/upload-document/route.ts
  llama_stack/ui/app/chat-playground/page.tsx
  llama_stack/ui/app/logs/vector-stores/[id]/files/[fileId]/contents/page.tsx
  llama_stack/ui/components/chat-playground/chat-message.tsx
  llama_stack/ui/components/chat-playground/chat.tsx
  llama_stack/ui/components/chat-playground/document-uploader.tsx
  llama_stack/ui/components/chat-playground/session-manager.tsx
  llama_stack/ui/components/layout/app-sidebar.tsx
  llama_stack/ui/components/responses/responses-detail.test.tsx
  llama_stack/ui/components/vector-db/vector-db-manager-simple.tsx
  llama_stack/ui/components/vector-db/vector-db-manager.tsx
  llama_stack/ui/package-lock.json
Due: none

rebasing
  llama_stack/ui/components/layout/app-sidebar.tsx
Due: none

updated
  llama_stack/ui/app/chat-playground/page.tsx
  llama_stack/ui/app/logs/vector-stores/[id]/files/[fileId]/contents/page.tsx
Due: none

remove @pytest.mark.asyncio
  tests/unit/providers/agents/meta_reference/test_response_conversion_utils.py
Due: forbid-pytest-asyncio

remove unnecessary #!
  docs/source/distributions/k8s-benchmark/benchmark.py
Due: forbid-pytest-asyncio

chore: Enable keyword search for Milvus inline (#3073)
  llama_stack/providers/remote/vector_io/milvus/milvus.py
  pyproject.toml
  tests/integration/vector_io/test_openai_vector_stores.py
  uv.lock
Due: provider-codegen, forbid-pytest-asyncio

ensure prettier and next are installed for pre-commit
  .pre-commit-config.yaml
Due: none

chore:Added a check for if dpo_output_dir exists in config
  llama_stack/providers/inline/post_training/huggingface/post_training.py
Due: provider-codegen, forbid-pytest-asyncio

fix for openai embedding issue for asymmetric embedding nims
  llama_stack/providers/remote/inference/nvidia/NVIDIA.md
  llama_stack/providers/remote/inference/nvidia/nvidia.py
Due: provider-codegen, forbid-pytest-asyncio

chore: Fixup main pre commit (#3204)
  .pre-commit-config.yaml
  docs/source/distributions/k8s-benchmark/benchmark.py
  tests/unit/providers/agents/meta_reference/test_response_conversion_utils.py
Due: forbid-pytest-asyncio

chore: remove `llama stack build`
  llama_stack/cli/stack/_build.py
  llama_stack/cli/stack/build.py
Due: forbid-pytest-asyncio

feat: llama stack show
  llama_stack/cli/stack/_show.py
  llama_stack/cli/stack/show.py
  llama_stack/cli/stack/stack.py
  llama_stack/cli/stack/utils.py
  llama_stack/core/build.py
  tests/unit/distribution/test_build_path.py
Due: forbid-pytest-asyncio

rename idem_tok -> idempotency_key
  llama_stack/apis/batches/batches.py
  llama_stack/providers/inline/batches/reference/batches.py
  tests/integration/batches/test_batches_idempotency.py
  tests/unit/providers/batches/test_reference_idempotency.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

test: convert tests to use sync
  .github/actions/setup-test-environment/action.yml
  .github/workflows/README.md
  .github/workflows/integration-vector-io-tests.yml
  .github/workflows/providers-build.yml
  .github/workflows/providers-show.yml
  llama_stack/cli/stack/_show.py
  llama_stack/providers/remote/inference/fireworks/pyproject.toml
  tests/unit/distribution/test_build_path.py
  tests/unit/distribution/test_stack_show.py
  uv.lock
Due: provider-codegen, forbid-pytest-asyncio, generate-ci-docs

feat: Adding session manager to UI using local storage
  llama_stack/ui/app/chat-playground/page.tsx
  llama_stack/ui/components/chat-playground/chat-message.tsx
  llama_stack/ui/components/chat-playground/session-manager.test.tsx
  llama_stack/ui/components/chat-playground/session-manager.tsx
Due: none

chore: Faster npm pre-committ
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Due: generate-ci-docs

chore: Faster npm pre-commit (#3206)
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Due: generate-ci-docs

docs: update CHANGELOG.md for v0.2.18
  CHANGELOG.md
Due: none

feat: Add mermaid diagram
  README.md
Due: none

fix: disable ui-prettier & ui-eslint
  .pre-commit-config.yaml
Due: none

remove npm ci from pre-commit workflow
  .github/workflows/pre-commit.yml
Due: generate-ci-docs

fix: disable ui-prettier & ui-eslint (#3207)
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Due: generate-ci-docs

Path conditions:
  distro-codegen: any of: ^llama_stack/templates/.*$|^llama_stack/providers/.*/inference/.*/models\.py$, but not: build/
  provider-codegen: any of: ^llama_stack/providers/.*$, but not: build/
  openapi-codegen: any of: ^llama_stack/apis/|^docs/openapi_generator/, but not: build/
  forbid-pytest-asyncio: any of: \.py$, but not: build/
  generate-ci-docs: any of: ^.github/workflows/.*$, but not: build/
