Repository meta-llama/llama-stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: distro-codegen, provider-codegen, openapi-codegen, forbid-pytest-asyncio, generate-ci-docs

distro-codegen:
  name: Distribution Template Codegen
  additional_dependencies:
  - uv==0.7.8
  entry: uv run --group codegen ./scripts/distro_codegen.py
  language: python
  pass_filenames: false
  require_serial: true

provider-codegen:
  name: Provider Codegen
  additional_dependencies:
  - uv==0.7.8
  entry: uv run --group codegen ./scripts/provider_codegen.py
  language: python
  pass_filenames: false
  require_serial: true

openapi-codegen:
  name: API Spec Codegen
  additional_dependencies:
  - uv==0.7.8
  entry: sh -c 'uv run ./docs/openapi_generator/run_openapi_generator.sh > /dev/null'
  language: python
  pass_filenames: false
  require_serial: true

forbid-pytest-asyncio:
  name: Block @pytest.mark.asyncio and @pytest_asyncio.fixture
  entry: bash
  language: system
  pass_filenames: true
  args:
  - -c
  ...

generate-ci-docs:
  name: Generate CI documentation
  additional_dependencies:
  - uv==0.7.8
  entry: uv run ./scripts/gen-ci-docs.py
  language: python
  pass_filenames: false
  require_serial: true

minor fix
  tests/integration/safety/test_safety.py
Due: forbid-pytest-asyncio

skip tests
  tests/integration/safety/test_safety.py
Due: forbid-pytest-asyncio

feat: Adding support for selecting a vector store in chat playground
  llama_stack/ui/app/chat-playground/page.tsx
Due: none

moving inline
  llama_stack/providers/inline/agents/meta_reference/persistence.py
Due: provider-codegen, forbid-pytest-asyncio

feat(responses): improve streaming for function calls
  llama_stack/providers/inline/agents/meta_reference/openai_responses.py
  tests/integration/non_ci/responses/test_responses.py
Due: provider-codegen, forbid-pytest-asyncio

fixed width behavior and made session list cleaner
  llama_stack/ui/app/api/fetch-url/route.ts
  llama_stack/ui/app/chat-playground/page.tsx
  llama_stack/ui/components/chat-playground/chat-message.tsx
  llama_stack/ui/components/chat-playground/chat.tsx
  llama_stack/ui/components/chat-playground/session-manager.tsx
  llama_stack/ui/components/vector-db/vector-db-manager.tsx
Due: none

no-defensive
  llama_stack/providers/inline/agents/meta_reference/openai_responses.py
Due: provider-codegen, forbid-pytest-asyncio

fix unit tests
  llama_stack/providers/inline/agents/meta_reference/openai_responses.py
  tests/unit/providers/agents/meta_reference/test_openai_responses.py
Due: provider-codegen, forbid-pytest-asyncio

feat(responses): stream progress of tool calls
  llama_stack/providers/inline/agents/meta_reference/openai_responses.py
  tests/integration/non_ci/responses/test_responses.py
Due: provider-codegen, forbid-pytest-asyncio

feat(responses): add MCP argument streaming and content part events
  llama_stack/apis/agents/openai_responses.py
  llama_stack/providers/inline/agents/meta_reference/openai_responses.py
  tests/integration/non_ci/responses/test_responses.py
  tests/unit/providers/agents/meta_reference/test_openai_responses.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

refactor: purge the midstream repo content to only host the build artifacts, so only the redhat-distribution should remain
  redhat-distribution/README.md
Due: none

add notes about batches development status to docs
  docs/source/concepts/apis.md
  docs/source/providers/agents/index.md
  docs/source/providers/batches/index.md
  docs/source/providers/eval/index.md
  docs/source/providers/inference/index.md
  llama_stack/apis/batches/batches.py
  scripts/provider_codegen.py
Due: openapi-codegen, forbid-pytest-asyncio

update dell.py
  llama_stack/distributions/dell/dell.py
  llama_stack/distributions/dell/run-with-safety.yaml
  llama_stack/distributions/dell/run.yaml
Due: forbid-pytest-asyncio

fix: Dell distribution missing kvstore (#3113)
  llama_stack/distributions/dell/dell.py
  llama_stack/distributions/dell/run-with-safety.yaml
  llama_stack/distributions/dell/run.yaml
  llama_stack/providers/remote/inference/tgi/tgi.py
Due: provider-codegen, forbid-pytest-asyncio

test: generate unique chat completion IDs for replayed responses
  llama_stack/testing/inference_recorder.py
Due: forbid-pytest-asyncio

Change github action to use github.event.pull_request_number instead of ref
  .github/workflows/semantic-pr.yml
Due: generate-ci-docs

fix: github action canceling valid tasks for checking semantic pr title (#3127)
  .github/workflows/semantic-pr.yml
Due: generate-ci-docs

docs: Update blocks formatting in docs/source files
  docs/source/building_applications/responses_vs_agents.md
  docs/source/building_applications/tools.md
  docs/source/providers/vector_io/inline_meta-reference.md
  docs/source/providers/vector_io/inline_sqlite_vec.md
  docs/source/providers/vector_io/remote_milvus.md
  docs/source/references/llama_cli_reference/download_models.md
  docs/source/references/llama_cli_reference/index.md
  scripts/provider_codegen.py
Due: forbid-pytest-asyncio

content part fixes
  docs/_static/llama-stack-spec.html
  docs/_static/llama-stack-spec.yaml
  llama_stack/apis/agents/openai_responses.py
  llama_stack/providers/inline/agents/meta_reference/openai_responses.py
  tests/integration/non_ci/responses/test_responses.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

refactor: rollback dletion for gitignore and actions
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/TRIAGERS.md
  .github/actions/setup-ollama/action.yml
  .github/actions/setup-runner/action.yml
  .github/dependabot.yml
  .github/workflows/changelog.yml
  .github/workflows/gha_workflow_llama_stack_tests.yml
  .github/workflows/install-script-ci.yml
  .github/workflows/integration-auth-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/pre-commit.yml
  .github/workflows/providers-build.yml
  .github/workflows/semantic-pr.yml
  .github/workflows/stale_bot.yml
  .github/workflows/test-external-providers.yml
  .github/workflows/tests.yml
  .github/workflows/unit-tests.yml
  .github/workflows/update-readthedocs.yml
  .gitignore
Due: generate-ci-docs

refactor: keep LICENSE file
  LICENSE
Due: none

refactor: modify DELETE API endpoints by returning HTTP 204 No Content + empty body instead of 200 OK + response body with null
  llama_stack/core/library_client.py
  llama_stack/core/server/server.py
Due: forbid-pytest-asyncio

fix: Fix list_sessions() (#3114)
  llama_stack/providers/inline/agents/meta_reference/persistence.py
  tests/unit/providers/agent/test_agent_meta_reference.py
Due: provider-codegen, forbid-pytest-asyncio

refactor: modify DELETE API endpoints by returning HTTP 204 No Content + empty body instead of 200 OK + response body with null (#3112)
  llama_stack/core/library_client.py
  llama_stack/core/server/server.py
Due: forbid-pytest-asyncio

docs: Update blocks formatting in docs/source files (#3120)
  docs/source/building_applications/responses_vs_agents.md
  docs/source/building_applications/tools.md
  docs/source/providers/vector_io/inline_meta-reference.md
  docs/source/providers/vector_io/inline_sqlite_vec.md
  docs/source/providers/vector_io/remote_milvus.md
  docs/source/references/llama_cli_reference/download_models.md
  docs/source/references/llama_cli_reference/index.md
  scripts/provider_codegen.py
Due: forbid-pytest-asyncio

feat: add workflow for building and publishing Redhat Distribution Container
  .github/workflows/redhat-distro-container-build.yml
Due: generate-ci-docs

test: add integration tests for query_metrics
  tests/integration/recordings/index.sqlite
  tests/integration/recordings/responses/390f0c7dac96.json
  tests/integration/recordings/responses/4de6877d86fa.json
  tests/integration/recordings/responses/5db0c44c83a4.json
  tests/integration/recordings/responses/7bcb0f86c91b.json
  tests/integration/recordings/responses/c31a86ea6c58.json
  tests/integration/recordings/responses/d0ac68cbde69.json
  tests/integration/recordings/responses/f6857bcea729.json
  tests/integration/recordings/responses/f80b99430f7e.json
  tests/integration/telemetry/test_telemetry_metrics.py
Due: forbid-pytest-asyncio

feat: implement query_metrics
  docs/_static/llama-stack-spec.html
  docs/_static/llama-stack-spec.yaml
  llama_stack/apis/telemetry/telemetry.py
  llama_stack/providers/inline/telemetry/meta_reference/telemetry.py
  llama_stack/providers/utils/telemetry/sqlite_trace_store.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

refactor: Remove obsolete GitHub Actions
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/actions/setup-ollama/action.yml
  .github/actions/setup-runner/action.yml
  .github/workflows/changelog.yml
  .github/workflows/gha_workflow_llama_stack_tests.yml
  .github/workflows/install-script-ci.yml
  .github/workflows/integration-auth-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/pre-commit.yml
  .github/workflows/providers-build.yml
  .github/workflows/test-external-providers.yml
  .github/workflows/tests.yml
  .github/workflows/unit-tests.yml
  .github/workflows/update-readthedocs.yml
Due: generate-ci-docs

refactor: replace hardcoded status codes by httpx.codes
  llama_stack/core/server/server.py
Due: forbid-pytest-asyncio

fix: better error message when db is out of date
  llama_stack/core/routing_tables/models.py
Due: forbid-pytest-asyncio

refactor: replace hardcoded status codes by httpx.codes (#3131)
  llama_stack/core/server/server.py
Due: forbid-pytest-asyncio

fix: huge speed boost
  llama_stack/core/server/server.py
Due: forbid-pytest-asyncio

feat(ci): update Recording workflow trigger and concurrency group
  .github/workflows/integration-tests.yml
Due: generate-ci-docs

chore: Change moderations api response to Provider returned categories (#3098)
  docs/_static/llama-stack-spec.html
  docs/_static/llama-stack-spec.yaml
  llama_stack/apis/safety/safety.py
  llama_stack/core/routers/safety.py
  llama_stack/providers/inline/safety/llama_guard/llama_guard.py
  llama_stack/providers/inline/safety/prompt_guard/prompt_guard.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

fix: huge speed boost (#3132)
  llama_stack/core/server/server.py
Due: forbid-pytest-asyncio

use dict formate for OpenAI messages
  llama_stack/providers/inline/agents/meta_reference/agent_instance.py
Due: provider-codegen, forbid-pytest-asyncio

chore: setup for performance benchmarking (#3096)
  docs/source/distributions/k8s-benchmark/apply.sh
  docs/source/distributions/k8s-benchmark/locust-k8s.yaml
  docs/source/distributions/k8s-benchmark/locustfile.py
  docs/source/distributions/k8s-benchmark/openai-mock-deployment.yaml
  docs/source/distributions/k8s-benchmark/openai-mock-server.py
  docs/source/distributions/k8s-benchmark/stack-configmap.yaml
  docs/source/distributions/k8s-benchmark/stack-k8s.yaml.template
  docs/source/distributions/k8s-benchmark/stack_run_config.yaml
  pyproject.toml
  uv.lock
Due: forbid-pytest-asyncio

feat(responses): improve streaming for function calls (#3124)
  llama_stack/providers/inline/agents/meta_reference/openai_responses.py
  tests/integration/non_ci/responses/test_responses.py
  tests/unit/providers/agents/meta_reference/test_openai_responses.py
Due: provider-codegen, forbid-pytest-asyncio

Path conditions:
  distro-codegen: any of: ^llama_stack/templates/.*$|^llama_stack/providers/.*/inference/.*/models\.py$, but not: build/
  provider-codegen: any of: ^llama_stack/providers/.*$, but not: build/
  openapi-codegen: any of: ^llama_stack/apis/|^docs/openapi_generator/, but not: build/
  forbid-pytest-asyncio: any of: \.py$, but not: build/
  generate-ci-docs: any of: ^.github/workflows/.*$, but not: build/
