Repository meta-llama/llama-stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: distro-codegen, provider-codegen, openapi-codegen, forbid-pytest-asyncio, generate-ci-docs

Path conditions:
  distro-codegen: any of: ^llama_stack/templates/.*$|^llama_stack/providers/.*/inference/.*/models\.py$, but not: build/
  provider-codegen: any of: ^llama_stack/providers/.*$, but not: build/
  openapi-codegen: any of: ^llama_stack/apis/|^docs/openapi_generator/, but not: build/
  forbid-pytest-asyncio: any of: \.py$, but not: build/
  generate-ci-docs: any of: ^.github/workflows/.*$, but not: build/

fix: fix the error type in embedding test case (#3197)
  llama_stack/providers/remote/inference/nvidia/nvidia.py
  tests/integration/inference/test_embedding.py
Due: provider-codegen, forbid-pytest-asyncio

fix(ci): small fixes to the provider build workflow
  .github/workflows/providers-build.yml
Due: generate-ci-docs

add auto_create_bucket defaulting to false, enabled for tests
  docs/source/providers/files/remote_s3.md
  llama_stack/providers/remote/files/s3/README.md
  llama_stack/providers/remote/files/s3/config.py
  llama_stack/providers/remote/files/s3/files.py
  tests/unit/providers/files/test_s3_files.py
Due: provider-codegen, forbid-pytest-asyncio

Add example for Langchain + LLAMAStack integration
  LlamaStack_Langchain.ipynb
Due: none

Add example for Langchain + LLAMAStack integration
  docs/notebooks/langchain/Llama_Stack_LangChain.ipynb
Due: none

docs(ai): disclose AI assistance
  CONTRIBUTING.md
Due: none

renaming session-manager to conversations
  llama_stack/ui/app/chat-playground/page.test.tsx
  llama_stack/ui/app/chat-playground/page.tsx
  llama_stack/ui/components/chat-playground/conversations.test.tsx
  llama_stack/ui/components/chat-playground/conversations.tsx
Due: none

feat(UI): Adding a session manager (#3203)
  llama_stack/ui/app/chat-playground/page.test.tsx
  llama_stack/ui/app/chat-playground/page.tsx
  llama_stack/ui/app/favicon.ico
  llama_stack/ui/app/globals.css
  llama_stack/ui/app/layout.tsx
  llama_stack/ui/components/chat-playground/chat-message.tsx
  llama_stack/ui/components/chat-playground/conversations.test.tsx
  llama_stack/ui/components/chat-playground/conversations.tsx
  llama_stack/ui/components/chat-playground/typing-indicator.tsx
  llama_stack/ui/components/layout/app-sidebar.tsx
  llama_stack/ui/public/favicon.ico
  llama_stack/ui/public/logo.webp
Due: none

feat(api): introduce /rerank (#2940)
  docs/_static/llama-stack-spec.html
  docs/_static/llama-stack-spec.yaml
  llama_stack/apis/inference/inference.py
  llama_stack/providers/inline/inference/meta_reference/inference.py
  llama_stack/providers/inline/inference/sentence_transformers/sentence_transformers.py
  llama_stack/providers/remote/inference/llama_openai_compat/llama.py
  llama_stack/providers/remote/inference/ollama/ollama.py
  llama_stack/providers/remote/inference/vllm/vllm.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

Delete docs/notebooks/langChain/langchain_llamastack_ray.py
  docs/notebooks/langChain/langchain_llamastack_ray.py
Due: forbid-pytest-asyncio

Updated the README and the name of the python script.
  docs/notebooks/langChain/README.md
  docs/notebooks/langChain/langchain-llama-stack.py
Due: forbid-pytest-asyncio

Updated the README
  docs/notebooks/langChain/README.md
Due: none

removed dead code
  docs/notebooks/langChain/langchain-llama-stack.py
Due: forbid-pytest-asyncio

Changing the langchain dir name
  docs/notebooks/langChain/README.md
  docs/notebooks/langChain/langchain-llama-stack.py
Due: forbid-pytest-asyncio

Changed the langChain dir name to langchain
  docs/notebooks/langchain/README.md
  docs/notebooks/langchain/langchain-llama-stack.py
Due: forbid-pytest-asyncio

chore: Add UI linter back
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  scripts/run-ui-linter.sh
Due: generate-ci-docs

raise error if input has function_call_output with no matching function_call
  llama_stack/providers/inline/agents/meta_reference/responses/utils.py
  tests/unit/providers/agents/meta_reference/test_response_conversion_utils.py
Due: provider-codegen, forbid-pytest-asyncio

feat: Add S3 Files Provider (#3202)
  docs/source/providers/files/index.md
  docs/source/providers/files/remote_s3.md
  llama_stack/providers/registry/files.py
  llama_stack/providers/remote/files/s3/README.md
  llama_stack/providers/remote/files/s3/__init__.py
  llama_stack/providers/remote/files/s3/config.py
  llama_stack/providers/remote/files/s3/files.py
  pyproject.toml
  scripts/provider_codegen.py
  tests/unit/providers/files/test_s3_files.py
  uv.lock
Due: provider-codegen, forbid-pytest-asyncio

chore: Add UI linter back (#3230)
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  scripts/run-ui-linter.sh
Due: generate-ci-docs

update
  CONTRIBUTING.md
Due: none

fix: ensure assistant message is followed by tool call message as expected by openai (#3224)
  llama_stack/providers/inline/agents/meta_reference/responses/utils.py
  tests/integration/non_ci/responses/test_tool_responses.py
  tests/unit/providers/agents/meta_reference/test_response_conversion_utils.py
Due: provider-codegen, forbid-pytest-asyncio

indicate to mypy that InferenceProvider.rerank is concrete
  llama_stack/apis/inference/inference.py
  llama_stack/providers/inline/inference/meta_reference/inference.py
  llama_stack/providers/inline/inference/sentence_transformers/sentence_transformers.py
  llama_stack/providers/remote/inference/llama_openai_compat/llama.py
  llama_stack/providers/remote/inference/ollama/ollama.py
  llama_stack/providers/remote/inference/vllm/vllm.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

chore: indicate to mypy that InferenceProvider.rerank is concrete (#3238)
  llama_stack/apis/inference/inference.py
  llama_stack/providers/inline/inference/meta_reference/inference.py
  llama_stack/providers/inline/inference/sentence_transformers/sentence_transformers.py
  llama_stack/providers/remote/inference/llama_openai_compat/llama.py
  llama_stack/providers/remote/inference/ollama/ollama.py
  llama_stack/providers/remote/inference/vllm/vllm.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

indicate to mypy that InferenceProvider.batch_completion/batch_chat_completion is concrete
  llama_stack/apis/inference/inference.py
  llama_stack/providers/inline/inference/sentence_transformers/sentence_transformers.py
  llama_stack/providers/remote/inference/ollama/ollama.py
  llama_stack/providers/remote/inference/vllm/vllm.py
  llama_stack/providers/utils/inference/litellm_openai_mixin.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

feat: implement query_metrics
  docs/_static/llama-stack-spec.html
  docs/_static/llama-stack-spec.yaml
  llama_stack/apis/telemetry/telemetry.py
  llama_stack/providers/inline/telemetry/meta_reference/telemetry.py
  llama_stack/providers/utils/telemetry/sqlite_trace_store.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

test: add integration tests for query_metrics
  tests/integration/recordings/index.sqlite
  tests/integration/recordings/responses/390f0c7dac96.json
  tests/integration/recordings/responses/4de6877d86fa.json
  tests/integration/recordings/responses/5db0c44c83a4.json
  tests/integration/recordings/responses/6cb0285a7638.json
  tests/integration/recordings/responses/7bcb0f86c91b.json
  tests/integration/recordings/responses/bf79a89cc37f.json
  tests/integration/recordings/responses/c31a86ea6c58.json
  tests/integration/recordings/responses/dc8120cf0774.json
  tests/integration/recordings/responses/f6857bcea729.json
  tests/integration/recordings/responses/f80b99430f7e.json
  tests/integration/telemetry/test_telemetry_metrics.py
Due: forbid-pytest-asyncio

chore: indicate to mypy that InferenceProvider.batch_completion/batch_chat_completion is concrete (#3239)
  llama_stack/apis/inference/inference.py
  llama_stack/providers/inline/inference/sentence_transformers/sentence_transformers.py
  llama_stack/providers/remote/inference/ollama/ollama.py
  llama_stack/providers/remote/inference/vllm/vllm.py
  llama_stack/providers/utils/inference/litellm_openai_mixin.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

feat: implement query_metrics (#3074)
  docs/_static/llama-stack-spec.html
  docs/_static/llama-stack-spec.yaml
  llama_stack/apis/telemetry/telemetry.py
  llama_stack/providers/inline/telemetry/meta_reference/telemetry.py
  llama_stack/providers/utils/telemetry/sqlite_trace_store.py
  tests/integration/recordings/index.sqlite
  tests/integration/recordings/responses/390f0c7dac96.json
  tests/integration/recordings/responses/4de6877d86fa.json
  tests/integration/recordings/responses/5db0c44c83a4.json
  tests/integration/recordings/responses/6cb0285a7638.json
  tests/integration/recordings/responses/7bcb0f86c91b.json
  tests/integration/recordings/responses/bf79a89cc37f.json
  tests/integration/recordings/responses/c31a86ea6c58.json
  tests/integration/recordings/responses/dc8120cf0774.json
  tests/integration/recordings/responses/f6857bcea729.json
  tests/integration/recordings/responses/f80b99430f7e.json
  tests/integration/telemetry/test_telemetry_metrics.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

feat(distro): fork off a starter-gpu distribution
  docs/source/providers/post_training/index.md
  docs/source/providers/post_training/inline_huggingface-cpu.md
  docs/source/providers/post_training/inline_huggingface-gpu.md
  docs/source/providers/post_training/inline_torchtune-cpu.md
  docs/source/providers/post_training/inline_torchtune-gpu.md
  llama_stack/distributions/ci-tests/build.yaml
  llama_stack/distributions/starter-gpu/__init__.py
  llama_stack/distributions/starter-gpu/build.yaml
  llama_stack/distributions/starter-gpu/run.yaml
  llama_stack/distributions/starter-gpu/starter_gpu.py
  llama_stack/distributions/starter/run.yaml
  llama_stack/distributions/starter/starter.py
  llama_stack/providers/registry/post_training.py
Due: provider-codegen, forbid-pytest-asyncio

feat(distro): fork off a starter-gpu distribution (#3240)
  docs/source/providers/post_training/index.md
  docs/source/providers/post_training/inline_huggingface-cpu.md
  docs/source/providers/post_training/inline_huggingface-gpu.md
  docs/source/providers/post_training/inline_torchtune-cpu.md
  docs/source/providers/post_training/inline_torchtune-gpu.md
  llama_stack/distributions/ci-tests/build.yaml
  llama_stack/distributions/starter-gpu/__init__.py
  llama_stack/distributions/starter-gpu/build.yaml
  llama_stack/distributions/starter-gpu/run.yaml
  llama_stack/distributions/starter-gpu/starter_gpu.py
  llama_stack/distributions/starter/run.yaml
  llama_stack/distributions/starter/starter.py
  llama_stack/providers/registry/post_training.py
Due: provider-codegen, forbid-pytest-asyncio

feat: Add optional idempotency support to batches API (#3171)
  docs/source/providers/batches/index.md
  llama_stack/apis/batches/batches.py
  llama_stack/providers/inline/batches/reference/batches.py
  tests/integration/batches/test_batches_idempotency.py
  tests/unit/providers/batches/conftest.py
  tests/unit/providers/batches/test_reference.py
  tests/unit/providers/batches/test_reference_idempotency.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

feat: implement keyword, vector and hybrid search inside vector stores for PGVector provider
  docs/source/providers/vector_io/remote_pgvector.md
  docs/source/providers/vector_io/remote_weaviate.md
  llama_stack/providers/inline/vector_io/sqlite_vec/sqlite_vec.py
  llama_stack/providers/registry/vector_io.py
  llama_stack/providers/remote/vector_io/pgvector/pgvector.py
  llama_stack/providers/utils/vector_io/vector_utils.py
  pyproject.toml
  tests/integration/vector_io/test_openai_vector_stores.py
  tests/unit/providers/utils/memory/test_reranking.py
  tests/unit/providers/vector_io/conftest.py
  tests/unit/providers/vector_io/remote/test_pgvector.py
  uv.lock
Due: provider-codegen, forbid-pytest-asyncio

chore: standardize missing training config error
  llama_stack/apis/common/errors.py
  llama_stack/providers/inline/post_training/huggingface/recipes/finetune_single_device.py
  llama_stack/providers/inline/post_training/huggingface/recipes/finetune_single_device_dpo.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

chore: standardize unsupported database error
  llama_stack/apis/common/errors.py
  llama_stack/providers/utils/sqlstore/authorized_sqlstore.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

chore: enable mypy type checking for sentence transformers
  llama_stack/providers/inline/inference/sentence_transformers/sentence_transformers.py
  llama_stack/providers/registry/post_training.py
  pyproject.toml
Due: provider-codegen, forbid-pytest-asyncio

chore: enable mypy type checking for llama_guard safety provider
  llama_stack/providers/inline/safety/llama_guard/llama_guard.py
  pyproject.toml
Due: provider-codegen, forbid-pytest-asyncio

chore(test): migrate unit tests from unittest to pytest nvidia test eval
  tests/unit/providers/nvidia/test_eval.py
Due: forbid-pytest-asyncio
