Repository meta-llama/llama-stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: distro-codegen, provider-codegen, openapi-codegen, forbid-pytest-asyncio, generate-ci-docs

distro-codegen:
  name: Distribution Template Codegen
  additional_dependencies:
  - uv==0.7.8
  entry: uv run --group codegen ./scripts/distro_codegen.py
  language: python
  pass_filenames: false
  require_serial: true

provider-codegen:
  name: Provider Codegen
  additional_dependencies:
  - uv==0.7.8
  entry: uv run --group codegen ./scripts/provider_codegen.py
  language: python
  pass_filenames: false
  require_serial: true

openapi-codegen:
  name: API Spec Codegen
  additional_dependencies:
  - uv==0.7.8
  entry: sh -c 'uv run ./docs/openapi_generator/run_openapi_generator.sh > /dev/null'
  language: python
  pass_filenames: false
  require_serial: true

forbid-pytest-asyncio:
  name: Block @pytest.mark.asyncio and @pytest_asyncio.fixture
  entry: bash
  language: system
  pass_filenames: true
  args:
  - -c
  ...

generate-ci-docs:
  name: Generate CI documentation
  additional_dependencies:
  - uv==0.7.8
  entry: uv run ./scripts/gen-ci-docs.py
  language: python
  pass_filenames: false
  require_serial: true

refactor: standardize InferenceRouter model handling
  llama_stack/apis/common/errors.py
  llama_stack/core/routers/inference.py
  llama_stack/core/routing_tables/vector_dbs.py
  llama_stack/providers/remote/inference/ollama/ollama.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

refactor: standardize InferenceRouter model handling (#2965)
  llama_stack/apis/common/errors.py
  llama_stack/core/routers/inference.py
  llama_stack/core/routing_tables/vector_dbs.py
  llama_stack/providers/remote/inference/ollama/ollama.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

chore: standardize missing training config error
  llama_stack/apis/common/errors.py
  llama_stack/providers/inline/post_training/huggingface/recipes/finetune_single_device.py
  llama_stack/providers/inline/post_training/huggingface/recipes/finetune_single_device_dpo.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

chore: bump min python version in docs and tests
  docs/source/apis/external.md
  docs/source/providers/external/external-providers-guide.md
  tests/external/llama-stack-api-weather/pyproject.toml
  tests/external/llama-stack-provider-kaze/pyproject.toml
Due: none

chore: add issue template for docs updates
  .github/ISSUE_TEMPLATE/docs.yml
Due: none

fix: instantiate abstract PromptGuardSafetyImpl class
  llama_stack/providers/inline/safety/prompt_guard/prompt_guard.py
Due: provider-codegen, forbid-pytest-asyncio

RHAIENG-565: purge the midstream repo content to only host the build artifacts, so only the redhat-distribution should remain
  redhat-distribution/Containerfile
  redhat-distribution/Containerfile.in
  redhat-distribution/README.md
  redhat-distribution/build.py
  redhat-distribution/build.yaml
  redhat-distribution/providers.d/remote/eval/trustyai_lmeval.yaml
  redhat-distribution/providers.d/remote/safety/trustyai_fms.yaml
  redhat-distribution/run.yaml
Due: forbid-pytest-asyncio

chore: Added default string to HuggingfacePostTrainingConfig
  llama_stack/providers/inline/post_training/huggingface/config.py
Due: provider-codegen, forbid-pytest-asyncio

chore:Updated empty string to None
  llama_stack/providers/inline/post_training/huggingface/config.py
Due: provider-codegen, forbid-pytest-asyncio

fix: Implement missing `run_moderation` method in `PromptGuardSafetyImpl` (#3101)
  llama_stack/providers/inline/safety/prompt_guard/prompt_guard.py
Due: provider-codegen, forbid-pytest-asyncio

fix(dep): update to openai >= 1.99.6 and use new Function location (#3087)
  llama_stack/providers/utils/inference/openai_compat.py
  pyproject.toml
  uv.lock
Due: provider-codegen, forbid-pytest-asyncio

chore: bump min python version in docs and tests (#3103)
  docs/source/apis/external.md
  docs/source/providers/external/external-providers-guide.md
  tests/external/llama-stack-api-weather/pyproject.toml
  tests/external/llama-stack-provider-kaze/pyproject.toml
Due: none

fix: Fix list_sessions()
  llama_stack/providers/inline/agents/meta_reference/persistence.py
  tests/unit/providers/agent/test_agent_meta_reference.py
Due: provider-codegen, forbid-pytest-asyncio

feat(responses): add include parameter
  docs/_static/llama-stack-spec.html
  docs/_static/llama-stack-spec.yaml
  llama_stack/apis/agents/agents.py
  llama_stack/providers/inline/agents/meta_reference/agents.py
  llama_stack/providers/inline/agents/meta_reference/openai_responses.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

feat(responses): add include parameter (#3115)
  docs/_static/llama-stack-spec.html
  docs/_static/llama-stack-spec.yaml
  llama_stack/apis/agents/agents.py
  llama_stack/providers/inline/agents/meta_reference/agents.py
  llama_stack/providers/inline/agents/meta_reference/openai_responses.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

Fix pre-commit formatting
  llama_stack/providers/remote/inference/tgi/tgi.py
Due: provider-codegen, forbid-pytest-asyncio

feat(responses): type file results properly
  docs/_static/llama-stack-spec.html
  docs/_static/llama-stack-spec.yaml
  llama_stack/apis/agents/openai_responses.py
  llama_stack/providers/inline/agents/meta_reference/openai_responses.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

feat(responses): type file results properly (#3117)
  docs/_static/llama-stack-spec.html
  docs/_static/llama-stack-spec.yaml
  llama_stack/apis/agents/openai_responses.py
  llama_stack/providers/inline/agents/meta_reference/openai_responses.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

Fix pre-commit formatting
  llama_stack/distributions/dell/run.yaml
Due: none

fix(logging): reduce logging crap
  llama_stack/log.py
  llama_stack/providers/inline/telemetry/meta_reference/console_span_processor.py
Due: provider-codegen, forbid-pytest-asyncio

chore(tests): fix responses and vector_io tests
  llama_stack/core/routers/inference.py
  llama_stack/core/routing_tables/models.py
  llama_stack/log.py
  llama_stack/models/llama/llama3/chat_format.py
  llama_stack/providers/inline/agents/meta_reference/openai_responses.py
  llama_stack/providers/remote/inference/fireworks/fireworks.py
  llama_stack/providers/utils/memory/openai_vector_store_mixin.py
  tests/common/mcp.py
  tests/integration/fixtures/common.py
  tests/integration/non_ci/responses/fixtures/test_cases/responses.yaml
  tests/integration/non_ci/responses/test_responses.py
  tests/integration/vector_io/test_openai_vector_stores.py
Due: provider-codegen, forbid-pytest-asyncio

docs: reorganize contributor guide
  CONTRIBUTING.md
  docs/source/contributing/index.md
Due: none

update setup-runner
  .github/actions/setup-runner/action.yml
Due: none

change to _get_session_from_values instead of _get_sessions_from_keys
  llama_stack/providers/inline/agents/meta_reference/persistence.py
  tests/unit/providers/agent/test_agent_meta_reference.py
Due: provider-codegen, forbid-pytest-asyncio

add files provider, update model name
  .github/workflows/integration-vector-io-tests.yml
Due: generate-ci-docs

fix chunk deletion
  llama_stack/providers/inline/vector_io/faiss/faiss.py
  llama_stack/providers/inline/vector_io/sqlite_vec/sqlite_vec.py
  llama_stack/providers/registry/vector_io.py
  llama_stack/providers/remote/vector_io/chroma/chroma.py
  llama_stack/providers/remote/vector_io/milvus/milvus.py
  llama_stack/providers/remote/vector_io/pgvector/pgvector.py
  llama_stack/providers/remote/vector_io/qdrant/qdrant.py
  llama_stack/providers/utils/memory/openai_vector_store_mixin.py
  llama_stack/providers/utils/memory/vector_store.py
  tests/integration/vector_io/test_openai_vector_stores.py
Due: provider-codegen, forbid-pytest-asyncio

fix sqlite vec, weaviate, milvus
  llama_stack/providers/inline/vector_io/sqlite_vec/sqlite_vec.py
  llama_stack/providers/remote/vector_io/milvus/milvus.py
  llama_stack/providers/remote/vector_io/weaviate/weaviate.py
Due: provider-codegen, forbid-pytest-asyncio

fix
  llama_stack/providers/registry/vector_io.py
  llama_stack/providers/remote/vector_io/milvus/milvus.py
Due: provider-codegen, forbid-pytest-asyncio

moar
  llama_stack/core/build.py
  llama_stack/providers/remote/vector_io/qdrant/qdrant.py
  llama_stack/providers/remote/vector_io/weaviate/weaviate.py
  llama_stack/providers/utils/memory/openai_vector_store_mixin.py
  tests/integration/vector_io/test_openai_vector_stores.py
Due: provider-codegen, forbid-pytest-asyncio

precommit
  llama_stack/providers/utils/memory/openai_vector_store_mixin.py
Due: provider-codegen, forbid-pytest-asyncio

fix(api): make sure vector store file content is not returned as a type
  docs/_static/llama-stack-spec.html
  docs/_static/llama-stack-spec.yaml
  llama_stack/apis/vector_io/vector_io.py
Due: openapi-codegen, forbid-pytest-asyncio

fix
  .github/workflows/integration-tests.yml
  tests/integration/vector_io/test_openai_vector_stores.py
Due: forbid-pytest-asyncio, generate-ci-docs

pre-commit
  .github/workflows/integration-tests.yml
Due: generate-ci-docs

chore(tests): fix responses and vector_io tests (#3119)
  .github/actions/setup-runner/action.yml
  .github/workflows/integration-tests.yml
  .github/workflows/integration-vector-io-tests.yml
  llama_stack/core/build.py
  llama_stack/core/routers/inference.py
  llama_stack/core/routing_tables/models.py
  llama_stack/log.py
  llama_stack/models/llama/llama3/chat_format.py
  llama_stack/providers/inline/agents/meta_reference/openai_responses.py
  llama_stack/providers/inline/vector_io/faiss/faiss.py
  llama_stack/providers/inline/vector_io/sqlite_vec/sqlite_vec.py
  llama_stack/providers/registry/vector_io.py
  llama_stack/providers/remote/inference/fireworks/fireworks.py
  llama_stack/providers/remote/vector_io/chroma/chroma.py
  llama_stack/providers/remote/vector_io/milvus/milvus.py
  llama_stack/providers/remote/vector_io/pgvector/pgvector.py
  llama_stack/providers/remote/vector_io/qdrant/qdrant.py
  llama_stack/providers/remote/vector_io/weaviate/weaviate.py
  llama_stack/providers/utils/memory/openai_vector_store_mixin.py
  llama_stack/providers/utils/memory/vector_store.py
  tests/common/mcp.py
  tests/integration/fixtures/common.py
  tests/integration/non_ci/responses/fixtures/test_cases/responses.yaml
  tests/integration/non_ci/responses/test_responses.py
  tests/integration/vector_io/test_openai_vector_stores.py
Due: provider-codegen, forbid-pytest-asyncio, generate-ci-docs

docs: reorganize contributor guide (#3110)
  CONTRIBUTING.md
  docs/source/contributing/index.md
Due: none

minor fix
  docs/_static/llama-stack-spec.html
  docs/_static/llama-stack-spec.yaml
  llama_stack/apis/safety/safety.py
  llama_stack/core/routers/safety.py
  llama_stack/providers/inline/safety/llama_guard/llama_guard.py
  llama_stack/providers/inline/safety/prompt_guard/prompt_guard.py
  tests/integration/safety/test_safety.py
Due: provider-codegen, openapi-codegen, forbid-pytest-asyncio

minor fix
  tests/integration/safety/test_safety.py
Due: forbid-pytest-asyncio

skip tests
  llama_stack/providers/inline/safety/prompt_guard/prompt_guard.py
  tests/integration/safety/test_safety.py
Due: provider-codegen, forbid-pytest-asyncio

dont skip tests
  tests/integration/safety/test_safety.py
Due: forbid-pytest-asyncio

Path conditions:
  distro-codegen: any of: ^llama_stack/templates/.*$|^llama_stack/providers/.*/inference/.*/models\.py$, but not: build/
  provider-codegen: any of: ^llama_stack/providers/.*$, but not: build/
  openapi-codegen: any of: ^llama_stack/apis/|^docs/openapi_generator/, but not: build/
  forbid-pytest-asyncio: any of: \.py$, but not: build/
  generate-ci-docs: any of: ^.github/workflows/.*$, but not: build/
